In [1]:
import pandas as pd

In [2]:
customerdata = pd.read_csv('./dataset/customerdata.csv')
customerdata.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [3]:
customerdata[(customerdata.EMI > 3) & (customerdata.DEVICECOUNT >= 5)]

Empty DataFrame
Columns: [CUSTID, AVERAGEPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [4]:
customerdata.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

In [5]:
import pandas as pd

In [6]:
kopo_cust = pd.read_csv('./dataset/kopo_customerdata.csv')
kopo_cust

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0
6,734198,State2,2,Female,0,2,0,0,19900,0,0,19900,0,0,1,0
7,1443485,State2,2,Female,0,2,0,0,14800,0,0,14800,0,0,1,0
8,2340520,State2,2,Male,0,1,0,1,24400,0,0,24400,0,0,1,0
9,697949,State2,2,Male,0,1,0,1,30400,0,0,30400,0,0,1,0
10,385031,State2,2,Male,0,1,0,1,30300,0,0,30300,0,0,1,0
11,1944258,State2,2,Female,0,2,0,0,34300,0,18000,16300,0,0,1,0
12,2029521,State2,2,Female,0,2,0,0,14900,0,0,14900,0,0,1,0
13,1429192,State2,2,Male,0,1,0,0,16300,0,0,16300,0,0,1,0
14,892851,State2,2,Male,0,1,0,1,25000,0,0,25000,0,0,1,0
15,1554976,State2,2,Male,0,1,0,2,27500,0,0,27500,0,0,2,69
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
17,816582,State2,2,Male,0,1,0,1,40200,0,40200,0,0,0,2,940
18,675948,State2,2,Female,0,2,0,1,74600,0,0,74600,0,0,1,0
19,965940,State2,2,Male,0,1,0,0,42700,42700,0,0,0,0,1,0
20,2636314,State2,2,Male,0,1,0,0,14900,0,14900,0,0,0,1,0
21,577344,State2,2,Female,0,2,0,0,58700,0,24500,34200,0,0,2,21
22,910781,State2,2,Male,0,1,0,1,16000,0,16000,0,0,0,1,0
23,541107,State2,2,Female,0,2,0,1,17800,0,0,17800,0,0,1,0
24,1860112,State2,2,Male,0,1,0,0,26800,0,0,26800,0,0,1,0
25,1016762,State2,2,Male,1,1,0,1,14000,0,0,14000,0,0,1,0
26,2029821,State2,2,Male,0,1,0,0,31800,0,0,31800,0,0,1,0
27,765206,State2,2,Male,0,1,0,0,16000,0,0,16000,0,0,1,0
28,2174694,State2,2,Male,0,1,0,1,37600,0,0,37600,0,0,1,0
29,1196869,State2,2,Female,0,2,0,1,32800,0,16700,16100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,2436525,State1,1,Male,0,1,0,1,67100,0,0,67100,0,0,1,0
299971,1238030,State1,1,Male,0,1,0,0,70100,0,55800,14300,0,0,3,663
299972,923009,State1,1,Male,0,1,0,1,17600,0,17600,0,0,0,1,0
299973,1433055,State1,1,Male,0,1,0,0,14200,0,0,14200,0,0,1,0
299974,2639022,State1,1,Male,0,1,0,0,66600,0,33000,33600,0,0,1,0
299975,1076615,State1,1,Male,0,1,0,1,35300,0,0,35300,0,0,1,0
299976,1017806,State1,1,Male,0,1,0,1,14900,0,0,14900,0,0,1,0
299977,1673649,State1,1,Male,0,1,0,2,26900,0,26900,0,0,0,2,511
299978,2304135,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299979,726202,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299980,2531738,State1,1,Male,0,1,0,0,13200,0,13200,0,0,0,1,0
299981,732024,State1,1,Male,0,1,0,0,13600,0,0,13600,0,0,1,0
299982,1829484,State1,1,Female,0,2,0,0,28500,0,0,28500,0,0,1,0
299983,923895,State1,1,Male,0,1,0,1,15600,0,15600,0,0,0,1,0
299984,2544242,State1,1,Male,0,1,0,0,18600,0,0,18600,0,0,1,0
299985,1006611,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0
299986,1795625,State1,1,Male,0,1,0,1,18400,0,0,18400,0,0,1,0
299987,731422,State1,1,Male,0,1,0,0,14800,0,0,14800,0,0,1,0
299988,463974,State1,1,Male,0,1,0,0,20400,0,0,20400,0,0,1,0
299989,1274816,State1,1,Male,0,1,0,1,15900,0,15900,0,0,0,1,0
299990,2034458,State1,1,Male,0,1,0,0,24300,0,0,24300,0,0,1,0
299991,1349673,State1,1,Male,0,1,0,1,21200,0,0,21200,0,0,1,0
299992,1098613,State1,1,Male,0,1,0,0,14000,0,14000,0,0,0,1,0
299993,721218,State1,1,Male,0,1,0,0,31400,0,0,31400,0,0,1,0
299994,598593,State1,1,Male,0,1,0,0,29000,0,0,29000,0,0,1,0
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [7]:
kopo_cust[["CUSTOMERCODE","STATENAME","GENDER","TOTAL_AMOUNT"]]

        CUSTOMERCODE STATENAME  GENDER  TOTAL_AMOUNT
0            1503989    State2    Male         30300
1            1190338    State2    Male         46500
2            1424715    State2  Female         22700
3            2483305    State2    Male         31400
4            1178802    State2    Male         44900
5             859044    State2    Male         38300
6             734198    State2  Female         19900
7            1443485    State2  Female         14800
8            2340520    State2    Male         24400
9             697949    State2    Male         30400
10            385031    State2    Male         30300
11           1944258    State2  Female         34300
12           2029521    State2  Female         14900
13           1429192    State2    Male         16300
14            892851    State2    Male         25000
15           1554976    State2    Male         27500
16           1154228    State2    Male         18200
17            816582    State2    Male         40200
18            675948    State2  Female         74600
19            965940    State2    Male         42700
20           2636314    State2    Male         14900
21            577344    State2  Female         58700
22            910781    State2    Male         16000
23            541107    State2  Female         17800
24           1860112    State2    Male         26800
25           1016762    State2    Male         14000
26           2029821    State2    Male         31800
27            765206    State2    Male         16000
28           2174694    State2    Male         37600
29           1196869    State2  Female         32800
...              ...       ...     ...           ...
299970       2436525    State1    Male         67100
299971       1238030    State1    Male         70100
299972        923009    State1    Male         17600
299973       1433055    State1    Male         14200
299974       2639022    State1    Male         66600
299975       1076615    State1    Male         35300
299976       1017806    State1    Male         14900
299977       1673649    State1    Male         26900
299978       2304135    State1    Male         26300
299979        726202    State1    Male         26300
299980       2531738    State1    Male         13200
299981        732024    State1    Male         13600
299982       1829484    State1  Female         28500
299983        923895    State1    Male         15600
299984       2544242    State1    Male         18600
299985       1006611    State1    Male         16500
299986       1795625    State1    Male         18400
299987        731422    State1    Male         14800
299988        463974    State1    Male         20400
299989       1274816    State1    Male         15900
299990       2034458    State1    Male         24300
299991       1349673    State1    Male         21200
299992       1098613    State1    Male         14000
299993        721218    State1    Male         31400
299994        598593    State1    Male         29000
299995        465757    State1    Male         40600
299996       1890264    State1    Male         48000
299997       1857537    State1  Female         32300
299998       2209324    State1    Male         48500
299999       1875146    State1    Male         16500

[300000 rows x 4 columns]

In [8]:
customerdata.iloc[0:1, 0:4]

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT
0  A13566        4273.9    3          6.4

In [9]:
kopo_cust.iloc[0:5, 1:4]

  STATENAME  ST  GENDER
0    State2   2    Male
1    State2   2    Male
2    State2   2  Female
3    State2   2    Male
4    State2   2    Male

In [10]:
kopo_cust.columns.get_loc("ST")

2

In [11]:
kopo_cust.columns

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [12]:
kopo_custcolumns = kopo_cust.columns

In [13]:
csCodeColNo = kopo_custcolumns.get_loc("CUSTOMERCODE")

In [14]:
stColNo = kopo_custcolumns.get_loc("ST")

In [15]:
kopo_cust.iloc[:,[csCodeColNo,stColNo]]

        CUSTOMERCODE  ST
0            1503989   2
1            1190338   2
2            1424715   2
3            2483305   2
4            1178802   2
5             859044   2
6             734198   2
7            1443485   2
8            2340520   2
9             697949   2
10            385031   2
11           1944258   2
12           2029521   2
13           1429192   2
14            892851   2
15           1554976   2
16           1154228   2
17            816582   2
18            675948   2
19            965940   2
20           2636314   2
21            577344   2
22            910781   2
23            541107   2
24           1860112   2
25           1016762   2
26           2029821   2
27            765206   2
28           2174694   2
29           1196869   2
...              ...  ..
299970       2436525   1
299971       1238030   1
299972        923009   1
299973       1433055   1
299974       2639022   1
299975       1076615   1
299976       1017806   1
299977       1673649   1
299978       2304135   1
299979        726202   1
299980       2531738   1
299981        732024   1
299982       1829484   1
299983        923895   1
299984       2544242   1
299985       1006611   1
299986       1795625   1
299987        731422   1
299988        463974   1
299989       1274816   1
299990       2034458   1
299991       1349673   1
299992       1098613   1
299993        721218   1
299994        598593   1
299995        465757   1
299996       1890264   1
299997       1857537   1
299998       2209324   1
299999       1875146   1

[300000 rows x 2 columns]

In [16]:
kopo_cust.loc[0:5, ["STATENAME", "GENDER"]]

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male
5    State2    Male

In [17]:
kopo_cust.iloc[0:5, [1,3]]

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

In [18]:
import numpy as np

In [19]:
customerdata["PRODUCTAGE_NEW"] = np.where(customerdata["PRODUCTAGE"] < 1,1,\
                                np.where(customerdata["PRODUCTAGE"] < 2,2,\
                                np.where(customerdata["PRODUCTAGE"] < 3,3,\
                                5)))
customerdata.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

## 자료

In [20]:
import pandas as pd

In [21]:
kopoCS = pd.read_csv('./dataset/kopo_channel_seasonality_new.csv')
kopoCS

       REGIONID    PRODUCT  YEARWEEK       QTY
0           A60   PRODUCT4    201402      71.0
1           A60  PRODUCT59    201402   22275.0
2           A60  PRODUCT34    201402    4463.0
3           A60  PRODUCT47    201402       0.0
4           A60  PRODUCT56    201402      23.0
5           A60  PRODUCT57    201402      14.0
6           A60  PRODUCT12    201402    1186.0
7           A60   PRODUCT1    201402       7.0
8           A60  PRODUCT33    201402     101.0
9           A60  PRODUCT62    201402     336.0
10          A37  PRODUCT58    201402       0.0
11          A37  PRODUCT59    201402   11492.0
12          A37  PRODUCT34    201402     825.0
13          A31  PRODUCT58    201402       0.0
14          A31  PRODUCT59    201402     560.0
15          A31  PRODUCT34    201402     103.0
16          A04  PRODUCT58    201402       0.0
17          A04  PRODUCT63    201402     740.0
18          A04  PRODUCT15    201402     394.0
19          A04   PRODUCT4    201402    2550.0
20          A04  PRODUCT16    201402       4.0
21          A04  PRODUCT59    201402   36549.0
22          A04  PRODUCT34    201402    4773.0
23          A04  PRODUCT40    201402     146.0
24          A04  PRODUCT47    201402       5.0
25          A04  PRODUCT60    201402       9.0
26          A04  PRODUCT56    201402     109.0
27          A04  PRODUCT57    201402    1195.0
28          A04  PRODUCT12    201402   15028.0
29          A04   PRODUCT1    201402    1319.0
...         ...        ...       ...       ...
124628      A16  PRODUCT64    201630     188.0
124629      A16  PRODUCT48    201630      16.0
124630      A16  PRODUCT49    201630       9.0
124631      A16  PRODUCT74    201630      18.0
124632      A16  PRODUCT40    201630     285.0
124633      A16  PRODUCT47    201630     155.0
124634      A16  PRODUCT60    201630    2491.0
124635      A16  PRODUCT56    201630    2026.0
124636      A16  PRODUCT12    201630   17067.0
124637      A16   PRODUCT1    201630     168.0
124638      A16  PRODUCT41    201630       0.0
124639      A16  PRODUCT51    201630       0.0
124640      A16  PRODUCT68    201630       0.0
124641      A16  PRODUCT33    201630    3887.0
124642      A16  PRODUCT14    201630      95.0
124643      A10   PRODUCT2    201630   12570.0
124644      A10  PRODUCT58    201630    4461.0
124645      A10  PRODUCT63    201630    4308.0
124646      A10  PRODUCT15    201630       0.0
124647      A10   PRODUCT4    201630    3012.0
124648      A10  PRODUCT16    201630     231.0
124649      A10  PRODUCT59    201630  231024.0
124650      A10  PRODUCT34    201630   34436.0
124651      A10  PRODUCT40    201630       0.0
124652      A10  PRODUCT47    201630       4.0
124653      A10  PRODUCT60    201630     824.0
124654      A10  PRODUCT56    201630     275.0
124655      A10  PRODUCT61    201630       0.0
124656      A10  PRODUCT12    201630   15021.0
124657      A10   PRODUCT1    201630     568.0

[124658 rows x 4 columns]

## QTY 마이너스 값을 0으로 변경

In [22]:
import numpy as np

In [23]:
kopoCS["QTY_NEW"] = np.where(kopoCS["QTY"] < 0,0,kopoCS["QTY"])
kopoCS.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

In [24]:
kopoCS.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
QTY_NEW     float64
dtype: object

## YEARWEEK를 타입str으로 변경

In [25]:
kopoCS["YEARWEEK"] = kopoCS["YEARWEEK"].astype(str)

In [26]:
kopoCS.columns

Index(['REGIONID', 'PRODUCT', 'YEARWEEK', 'QTY', 'QTY_NEW'], dtype='object')

In [27]:
kopoCS.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
QTY_NEW     float64
dtype: object

## YEAR, WEEK 컬럼 생성

In [28]:
kopoCS["YEAR"] = kopoCS["YEARWEEK"].str[0:4]

In [29]:
kopoCS

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR
0           A60   PRODUCT4   201402      71.0      71.0  2014
1           A60  PRODUCT59   201402   22275.0   22275.0  2014
2           A60  PRODUCT34   201402    4463.0    4463.0  2014
3           A60  PRODUCT47   201402       0.0       0.0  2014
4           A60  PRODUCT56   201402      23.0      23.0  2014
5           A60  PRODUCT57   201402      14.0      14.0  2014
6           A60  PRODUCT12   201402    1186.0    1186.0  2014
7           A60   PRODUCT1   201402       7.0       7.0  2014
8           A60  PRODUCT33   201402     101.0     101.0  2014
9           A60  PRODUCT62   201402     336.0     336.0  2014
10          A37  PRODUCT58   201402       0.0       0.0  2014
11          A37  PRODUCT59   201402   11492.0   11492.0  2014
12          A37  PRODUCT34   201402     825.0     825.0  2014
13          A31  PRODUCT58   201402       0.0       0.0  2014
14          A31  PRODUCT59   201402     560.0     560.0  2014
15          A31  PRODUCT34   201402     103.0     103.0  2014
16          A04  PRODUCT58   201402       0.0       0.0  2014
17          A04  PRODUCT63   201402     740.0     740.0  2014
18          A04  PRODUCT15   201402     394.0     394.0  2014
19          A04   PRODUCT4   201402    2550.0    2550.0  2014
20          A04  PRODUCT16   201402       4.0       4.0  2014
21          A04  PRODUCT59   201402   36549.0   36549.0  2014
22          A04  PRODUCT34   201402    4773.0    4773.0  2014
23          A04  PRODUCT40   201402     146.0     146.0  2014
24          A04  PRODUCT47   201402       5.0       5.0  2014
25          A04  PRODUCT60   201402       9.0       9.0  2014
26          A04  PRODUCT56   201402     109.0     109.0  2014
27          A04  PRODUCT57   201402    1195.0    1195.0  2014
28          A04  PRODUCT12   201402   15028.0   15028.0  2014
29          A04   PRODUCT1   201402    1319.0    1319.0  2014
...         ...        ...      ...       ...       ...   ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016
124629      A16  PRODUCT48   201630      16.0      16.0  2016
124630      A16  PRODUCT49   201630       9.0       9.0  2016
124631      A16  PRODUCT74   201630      18.0      18.0  2016
124632      A16  PRODUCT40   201630     285.0     285.0  2016
124633      A16  PRODUCT47   201630     155.0     155.0  2016
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016
124637      A16   PRODUCT1   201630     168.0     168.0  2016
124638      A16  PRODUCT41   201630       0.0       0.0  2016
124639      A16  PRODUCT51   201630       0.0       0.0  2016
124640      A16  PRODUCT68   201630       0.0       0.0  2016
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016
124642      A16  PRODUCT14   201630      95.0      95.0  2016
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016
124646      A10  PRODUCT15   201630       0.0       0.0  2016
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016
124648      A10  PRODUCT16   201630     231.0     231.0  2016
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016
124651      A10  PRODUCT40   201630       0.0       0.0  2016
124652      A10  PRODUCT47   201630       4.0       4.0  2016
124653      A10  PRODUCT60   201630     824.0     824.0  2016
124654      A10  PRODUCT56   201630     275.0     275.0  2016
124655      A10  PRODUCT61   201630       0.0       0.0  2016
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016
124657      A10   PRODUCT1   201630     568.0     568.0  2016

[124658 rows x 6 columns]

In [30]:
kopoCS["WEEK"] = kopoCS["YEARWEEK"].str[4:6]

In [31]:
kopoCS

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR WEEK
0           A60   PRODUCT4   201402      71.0      71.0  2014   02
1           A60  PRODUCT59   201402   22275.0   22275.0  2014   02
2           A60  PRODUCT34   201402    4463.0    4463.0  2014   02
3           A60  PRODUCT47   201402       0.0       0.0  2014   02
4           A60  PRODUCT56   201402      23.0      23.0  2014   02
5           A60  PRODUCT57   201402      14.0      14.0  2014   02
6           A60  PRODUCT12   201402    1186.0    1186.0  2014   02
7           A60   PRODUCT1   201402       7.0       7.0  2014   02
8           A60  PRODUCT33   201402     101.0     101.0  2014   02
9           A60  PRODUCT62   201402     336.0     336.0  2014   02
10          A37  PRODUCT58   201402       0.0       0.0  2014   02
11          A37  PRODUCT59   201402   11492.0   11492.0  2014   02
12          A37  PRODUCT34   201402     825.0     825.0  2014   02
13          A31  PRODUCT58   201402       0.0       0.0  2014   02
14          A31  PRODUCT59   201402     560.0     560.0  2014   02
15          A31  PRODUCT34   201402     103.0     103.0  2014   02
16          A04  PRODUCT58   201402       0.0       0.0  2014   02
17          A04  PRODUCT63   201402     740.0     740.0  2014   02
18          A04  PRODUCT15   201402     394.0     394.0  2014   02
19          A04   PRODUCT4   201402    2550.0    2550.0  2014   02
20          A04  PRODUCT16   201402       4.0       4.0  2014   02
21          A04  PRODUCT59   201402   36549.0   36549.0  2014   02
22          A04  PRODUCT34   201402    4773.0    4773.0  2014   02
23          A04  PRODUCT40   201402     146.0     146.0  2014   02
24          A04  PRODUCT47   201402       5.0       5.0  2014   02
25          A04  PRODUCT60   201402       9.0       9.0  2014   02
26          A04  PRODUCT56   201402     109.0     109.0  2014   02
27          A04  PRODUCT57   201402    1195.0    1195.0  2014   02
28          A04  PRODUCT12   201402   15028.0   15028.0  2014   02
29          A04   PRODUCT1   201402    1319.0    1319.0  2014   02
...         ...        ...      ...       ...       ...   ...  ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016   30
124629      A16  PRODUCT48   201630      16.0      16.0  2016   30
124630      A16  PRODUCT49   201630       9.0       9.0  2016   30
124631      A16  PRODUCT74   201630      18.0      18.0  2016   30
124632      A16  PRODUCT40   201630     285.0     285.0  2016   30
124633      A16  PRODUCT47   201630     155.0     155.0  2016   30
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016   30
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016   30
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016   30
124637      A16   PRODUCT1   201630     168.0     168.0  2016   30
124638      A16  PRODUCT41   201630       0.0       0.0  2016   30
124639      A16  PRODUCT51   201630       0.0       0.0  2016   30
124640      A16  PRODUCT68   201630       0.0       0.0  2016   30
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016   30
124642      A16  PRODUCT14   201630      95.0      95.0  2016   30
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016   30
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016   30
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016   30
124646      A10  PRODUCT15   201630       0.0       0.0  2016   30
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016   30
124648      A10  PRODUCT16   201630     231.0     231.0  2016   30
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016   30
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016   30
124651      A10  PRODUCT40   201630       0.0       0.0  2016   30
124652      A10  PRODUCT47   201630       4.0       4.0  2016   30
124653      A10  PRODUCT60   201630     824.0     824.0  2016   30
124654      A10  PRODUCT56   201630     275.0     275.0  2016   30
124655      A10  PRODUCT61   201630       0.0       0.0  2016   30
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016   30
124657      A10   PRODUCT1   201630     568.0     568.0  2016   30

[124658 rows x 7 columns]

## WEEK를 타입 int로 변경

In [32]:
kopoCS["WEEK"] = kopoCS["WEEK"].astype(int)

In [33]:
kopoCS[kopoCS.WEEK == 53]

       REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR  WEEK
62075       A64  PRODUCT63   201553   2092.0   2092.0  2015    53
62076       A64  PRODUCT15   201553     80.0     80.0  2015    53
62077       A64   PRODUCT4   201553   1781.0   1781.0  2015    53
62078       A64  PRODUCT16   201553      8.0      8.0  2015    53
62079       A64  PRODUCT59   201553  24242.0  24242.0  2015    53
62080       A64  PRODUCT34   201553   6586.0   6586.0  2015    53
62081       A64  PRODUCT40   201553      0.0      0.0  2015    53
62082       A64  PRODUCT60   201553      7.0      7.0  2015    53
62083       A64  PRODUCT56   201553     18.0     18.0  2015    53
62084       A64  PRODUCT61   201553      0.0      0.0  2015    53
62085       A64  PRODUCT12   201553  10913.0  10913.0  2015    53
62086       A64   PRODUCT1   201553    513.0    513.0  2015    53
62087       A64  PRODUCT33   201553     98.0     98.0  2015    53
62088       A64  PRODUCT14   201553     46.0     46.0  2015    53
62089       A43  PRODUCT58   201553    141.0    141.0  2015    53
62090       A43  PRODUCT63   201553     25.0     25.0  2015    53
62091       A43  PRODUCT15   201553     23.0     23.0  2015    53
62092       A43   PRODUCT4   201553     98.0     98.0  2015    53
62093       A43  PRODUCT16   201553     70.0     70.0  2015    53
62094       A43  PRODUCT59   201553  16977.0  16977.0  2015    53
62095       A43  PRODUCT34   201553   1272.0   1272.0  2015    53
62096       A43  PRODUCT47   201553      0.0      0.0  2015    53
62097       A43  PRODUCT60   201553    103.0    103.0  2015    53
62098       A43  PRODUCT56   201553      3.0      3.0  2015    53
62099       A43  PRODUCT57   201553      2.0      2.0  2015    53
62100       A43  PRODUCT12   201553   2326.0   2326.0  2015    53
62101       A43   PRODUCT1   201553     87.0     87.0  2015    53
62102       A43  PRODUCT33   201553    102.0    102.0  2015    53
62103       A43  PRODUCT14   201553      3.0      3.0  2015    53
62104       A59  PRODUCT58   201553    164.0    164.0  2015    53
...         ...        ...      ...      ...      ...   ...   ...
119057      A07  PRODUCT12   201553   2218.0   2218.0  2015    53
119058      A07   PRODUCT1   201553     30.0     30.0  2015    53
119059      A07  PRODUCT33   201553    475.0    475.0  2015    53
119060      A13  PRODUCT58   201553    167.0    167.0  2015    53
119061      A13  PRODUCT63   201553    808.0    808.0  2015    53
119062      A13  PRODUCT15   201553      0.0      0.0  2015    53
119063      A13   PRODUCT4   201553   2374.0   2374.0  2015    53
119064      A13   PRODUCT5   201553      6.0      6.0  2015    53
119065      A13  PRODUCT59   201553  65618.0  65618.0  2015    53
119066      A13  PRODUCT34   201553   9936.0   9936.0  2015    53
119067      A13  PRODUCT52   201553      1.0      1.0  2015    53
119068      A13  PRODUCT38   201553   1466.0   1466.0  2015    53
119069      A13  PRODUCT26   201553     63.0     63.0  2015    53
119070      A13  PRODUCT64   201553     89.0     89.0  2015    53
119071      A13  PRODUCT74   201553     31.0     31.0  2015    53
119072      A13  PRODUCT40   201553    661.0    661.0  2015    53
119073      A13  PRODUCT47   201553     63.0     63.0  2015    53
119074      A13  PRODUCT60   201553   1064.0   1064.0  2015    53
119075      A13  PRODUCT56   201553    302.0    302.0  2015    53
119076      A13  PRODUCT12   201553  19291.0  19291.0  2015    53
119077      A13   PRODUCT1   201553    942.0    942.0  2015    53
119078      A13  PRODUCT41   201553     70.0     70.0  2015    53
119079      A13  PRODUCT42   201553      2.0      2.0  2015    53
119080      A13  PRODUCT51   201553      4.0      4.0  2015    53
119081      A13  PRODUCT33   201553   3586.0   3586.0  2015    53
119082      A13  PRODUCT14   201553    729.0    729.0  2015    53
119083      A39  PRODUCT58   201553    269.0    269.0  2015    53
119084      A39  PRODUCT63   201553    581.0    581.0  2015    53
119085      A39   PRODUCT4   201553    290.0    290.0  2015    53
119086      A39  PRODUCT16   201553     84.0     84.0  2015    53

[794 rows x 7 columns]

## WEEK가 52이하인 데이터 조회

In [34]:
kopoCS[kopoCS.WEEK < 53]

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR  WEEK
0           A60   PRODUCT4   201402      71.0      71.0  2014     2
1           A60  PRODUCT59   201402   22275.0   22275.0  2014     2
2           A60  PRODUCT34   201402    4463.0    4463.0  2014     2
3           A60  PRODUCT47   201402       0.0       0.0  2014     2
4           A60  PRODUCT56   201402      23.0      23.0  2014     2
5           A60  PRODUCT57   201402      14.0      14.0  2014     2
6           A60  PRODUCT12   201402    1186.0    1186.0  2014     2
7           A60   PRODUCT1   201402       7.0       7.0  2014     2
8           A60  PRODUCT33   201402     101.0     101.0  2014     2
9           A60  PRODUCT62   201402     336.0     336.0  2014     2
10          A37  PRODUCT58   201402       0.0       0.0  2014     2
11          A37  PRODUCT59   201402   11492.0   11492.0  2014     2
12          A37  PRODUCT34   201402     825.0     825.0  2014     2
13          A31  PRODUCT58   201402       0.0       0.0  2014     2
14          A31  PRODUCT59   201402     560.0     560.0  2014     2
15          A31  PRODUCT34   201402     103.0     103.0  2014     2
16          A04  PRODUCT58   201402       0.0       0.0  2014     2
17          A04  PRODUCT63   201402     740.0     740.0  2014     2
18          A04  PRODUCT15   201402     394.0     394.0  2014     2
19          A04   PRODUCT4   201402    2550.0    2550.0  2014     2
20          A04  PRODUCT16   201402       4.0       4.0  2014     2
21          A04  PRODUCT59   201402   36549.0   36549.0  2014     2
22          A04  PRODUCT34   201402    4773.0    4773.0  2014     2
23          A04  PRODUCT40   201402     146.0     146.0  2014     2
24          A04  PRODUCT47   201402       5.0       5.0  2014     2
25          A04  PRODUCT60   201402       9.0       9.0  2014     2
26          A04  PRODUCT56   201402     109.0     109.0  2014     2
27          A04  PRODUCT57   201402    1195.0    1195.0  2014     2
28          A04  PRODUCT12   201402   15028.0   15028.0  2014     2
29          A04   PRODUCT1   201402    1319.0    1319.0  2014     2
...         ...        ...      ...       ...       ...   ...   ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016    30
124629      A16  PRODUCT48   201630      16.0      16.0  2016    30
124630      A16  PRODUCT49   201630       9.0       9.0  2016    30
124631      A16  PRODUCT74   201630      18.0      18.0  2016    30
124632      A16  PRODUCT40   201630     285.0     285.0  2016    30
124633      A16  PRODUCT47   201630     155.0     155.0  2016    30
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016    30
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016    30
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016    30
124637      A16   PRODUCT1   201630     168.0     168.0  2016    30
124638      A16  PRODUCT41   201630       0.0       0.0  2016    30
124639      A16  PRODUCT51   201630       0.0       0.0  2016    30
124640      A16  PRODUCT68   201630       0.0       0.0  2016    30
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016    30
124642      A16  PRODUCT14   201630      95.0      95.0  2016    30
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016    30
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016    30
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016    30
124646      A10  PRODUCT15   201630       0.0       0.0  2016    30
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016    30
124648      A10  PRODUCT16   201630     231.0     231.0  2016    30
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016    30
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016    30
124651      A10  PRODUCT40   201630       0.0       0.0  2016    30
124652      A10  PRODUCT47   201630       4.0       4.0  2016    30
124653      A10  PRODUCT60   201630     824.0     824.0  2016    30
124654      A10  PRODUCT56   201630     275.0     275.0  2016    30
124655      A10  PRODUCT61   201630       0.0       0.0  2016    30
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016    30
124657      A10   PRODUCT1   201630     568.0     568.0  2016    30

[123864 rows x 7 columns]

## refinedSelloutData 변수에 담기

In [35]:
refinedSelloutData =kopoCS[kopoCS.WEEK < 53]

In [36]:
refinedSelloutData

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR  WEEK
0           A60   PRODUCT4   201402      71.0      71.0  2014     2
1           A60  PRODUCT59   201402   22275.0   22275.0  2014     2
2           A60  PRODUCT34   201402    4463.0    4463.0  2014     2
3           A60  PRODUCT47   201402       0.0       0.0  2014     2
4           A60  PRODUCT56   201402      23.0      23.0  2014     2
5           A60  PRODUCT57   201402      14.0      14.0  2014     2
6           A60  PRODUCT12   201402    1186.0    1186.0  2014     2
7           A60   PRODUCT1   201402       7.0       7.0  2014     2
8           A60  PRODUCT33   201402     101.0     101.0  2014     2
9           A60  PRODUCT62   201402     336.0     336.0  2014     2
10          A37  PRODUCT58   201402       0.0       0.0  2014     2
11          A37  PRODUCT59   201402   11492.0   11492.0  2014     2
12          A37  PRODUCT34   201402     825.0     825.0  2014     2
13          A31  PRODUCT58   201402       0.0       0.0  2014     2
14          A31  PRODUCT59   201402     560.0     560.0  2014     2
15          A31  PRODUCT34   201402     103.0     103.0  2014     2
16          A04  PRODUCT58   201402       0.0       0.0  2014     2
17          A04  PRODUCT63   201402     740.0     740.0  2014     2
18          A04  PRODUCT15   201402     394.0     394.0  2014     2
19          A04   PRODUCT4   201402    2550.0    2550.0  2014     2
20          A04  PRODUCT16   201402       4.0       4.0  2014     2
21          A04  PRODUCT59   201402   36549.0   36549.0  2014     2
22          A04  PRODUCT34   201402    4773.0    4773.0  2014     2
23          A04  PRODUCT40   201402     146.0     146.0  2014     2
24          A04  PRODUCT47   201402       5.0       5.0  2014     2
25          A04  PRODUCT60   201402       9.0       9.0  2014     2
26          A04  PRODUCT56   201402     109.0     109.0  2014     2
27          A04  PRODUCT57   201402    1195.0    1195.0  2014     2
28          A04  PRODUCT12   201402   15028.0   15028.0  2014     2
29          A04   PRODUCT1   201402    1319.0    1319.0  2014     2
...         ...        ...      ...       ...       ...   ...   ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016    30
124629      A16  PRODUCT48   201630      16.0      16.0  2016    30
124630      A16  PRODUCT49   201630       9.0       9.0  2016    30
124631      A16  PRODUCT74   201630      18.0      18.0  2016    30
124632      A16  PRODUCT40   201630     285.0     285.0  2016    30
124633      A16  PRODUCT47   201630     155.0     155.0  2016    30
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016    30
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016    30
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016    30
124637      A16   PRODUCT1   201630     168.0     168.0  2016    30
124638      A16  PRODUCT41   201630       0.0       0.0  2016    30
124639      A16  PRODUCT51   201630       0.0       0.0  2016    30
124640      A16  PRODUCT68   201630       0.0       0.0  2016    30
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016    30
124642      A16  PRODUCT14   201630      95.0      95.0  2016    30
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016    30
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016    30
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016    30
124646      A10  PRODUCT15   201630       0.0       0.0  2016    30
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016    30
124648      A10  PRODUCT16   201630     231.0     231.0  2016    30
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016    30
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016    30
124651      A10  PRODUCT40   201630       0.0       0.0  2016    30
124652      A10  PRODUCT47   201630       4.0       4.0  2016    30
124653      A10  PRODUCT60   201630     824.0     824.0  2016    30
124654      A10  PRODUCT56   201630     275.0     275.0  2016    30
124655      A10  PRODUCT61   201630       0.0       0.0  2016    30
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016    30
124657      A10   PRODUCT1   201630     568.0     568.0  2016    30

[123864 rows x 7 columns]

## 확인

In [37]:
refinedSelloutData[refinedSelloutData.WEEK == 53]

Empty DataFrame
Columns: [REGIONID, PRODUCT, YEARWEEK, QTY, QTY_NEW, YEAR, WEEK]
Index: []

In [38]:
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] <2:
        return 2
    else:
        return 5

## 데이터 정제하기

In [39]:
customerdata["PRODUCTAGE_NEW2"] = customerdata.apply(refining, axis = 1)
customerdata

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,5
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,5
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,5
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
12,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,5
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
16,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,5
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
18,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,5
19,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,5
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
21,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
22,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
25,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,5
26,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
27,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
29,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,5
...,...,...,...,...,...,...,...,...
120,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,5
121,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,5
122,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,5
123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
124,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,5
125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
127,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2
128,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,5
129,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,5
130,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2
131,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
132,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1
133,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1
134,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2
135,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2
136,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,5
137,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,5
138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5
139,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,5
140,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,5
141,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,5
142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
144,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,5
145,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,5
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
147,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,5
148,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
149,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

In [40]:
sortedData = customerdata.sort_values(["EMI","DEVICECOUNT"],ascending=[True,False], inplace=False)

In [41]:
sortedData.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
68,N14862,2390.083736,1,6.3,1.000000,Early-bird,2,2
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
72,O13037,3398.216334,1,4.5,2.994395,Sleeping-dog,3,5
56,K10712,3419.462596,1,4.4,2.825790,Sleeping-dog,3,5
46,I14835,3374.091339,1,4.0,2.749678,Sleeping-dog,3,5

In [42]:
sortkey = ["PRODUCTAGE"]

In [43]:
customerdata.sort_values(sortkey ,inplace=True)
customerdata

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
51,J10809,3676.135627,3,6.5,0.800000,Early-bird,1,1
53,J16445,3041.848186,3,6.4,0.800000,Early-bird,1,1
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
37,G19717,2873.102202,2,6.5,0.800000,Early-bird,1,1
80,P19679,3256.152962,2,6.1,0.800000,Early-bird,1,1
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
78,P18446,3168.567321,2,6.5,0.900000,Early-bird,1,1
77,P14740,3301.586463,2,6.5,0.900000,Early-bird,1,1
71,O12193,3491.983316,2,6.4,0.900000,Early-bird,1,1
62,L17101,3310.792459,2,6.5,0.900000,Early-bird,1,1
38,H10188,4020.245162,2,6.7,0.900000,Early-bird,1,1
40,H16326,3988.935304,3,6.5,0.900000,Early-bird,1,1
55,J18640,3227.823130,2,6.6,0.900000,Early-bird,1,1
44,I11601,3437.818388,2,6.3,0.900000,Early-bird,1,1
45,I12899,3018.895637,3,6.4,0.900000,Early-bird,1,1
52,J15083,2811.265932,3,6.0,0.900000,Early-bird,1,1
30,G11453,2744.815881,2,6.4,0.900000,Early-bird,1,1
82,Q12581,3436.456382,2,6.2,0.900000,Early-bird,1,1
48,I17780,2804.267157,2,6.3,0.900000,Early-bird,1,1
87,Q16970,2972.108198,2,6.3,0.900000,Early-bird,1,1
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
95,R16364,3592.353540,3,6.2,0.900000,Early-bird,1,1
105,S15966,2797.678314,2,6.9,0.900000,Early-bird,1,1
117,T16556,3166.013276,2,6.4,0.900000,Early-bird,1,1
125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
...,...,...,...,...,...,...,...,...
83,Q13484,3418.911355,2,4.2,2.770609,Sleeping-dog,3,5
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5
75,O19630,3277.417706,2,4.5,2.806011,Sleeping-dog,3,5
116,T13866,3732.900000,2,5.1,2.812051,Big-Screen-lover,3,5
88,Q18064,3841.100000,2,5.9,2.817745,Big-Screen-lover,3,5
103,S15191,3041.973927,2,4.1,2.820039,Sleeping-dog,3,5
110,S18924,3809.763628,2,4.9,2.824608,Sleeping-dog,3,5
56,K10712,3419.462596,1,4.4,2.825790,Sleeping-dog,3,5
138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5
100,S13238,3928.432035,2,4.4,2.845483,Sleeping-dog,3,5
76,P14445,3624.700000,2,5.2,2.847714,Big-Screen-lover,3,5
42,H18821,3665.543492,2,4.4,2.873112,Sleeping-dog,3,5
92,R11271,3462.400000,2,5.6,2.885046,Big-Screen-lover,3,5
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5
111,T10762,3572.369016,2,4.2,2.938848,Sleeping-dog,3,5
72,O13037,3398.216334,1,4.5,2.994395,Sleeping-dog,3,5
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
89,Q18901,3266.600816,2,5.1,3.016625,Sleeping-dog,5,5
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
118,U15861,3975.963499,2,4.5,3.292546,Sleeping-dog,5,5
101,S14751,3137.800000,2,5.1,3.326340,Big-Screen-lover,5,5
31,G15439,3559.617754,2,4.5,3.345695,Sleeping-dog,5,5
32,G15736,3624.700000,2,5.7,3.367229,Big-Screen-lover,5,5
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
114,T11512,3428.518977,2,4.7,3.483573,Sleeping-dog,5,5

## 데이터 요약분석하기

In [44]:
groupkey = ["CUSTTYPE"]

In [45]:
meanValue = customerdata.\
groupby(groupkey).\
mean()
meanValue

,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
CUSTTYPE,,,,,,
Big-Screen-lover,3564.108000,2.04,5.552,2.193531,2.76,4.04
Early-bird,3287.125090,2.30,6.462,0.946000,1.32,1.32
Sleeping-dog,3446.990233,1.82,4.260,2.658271,3.34,4.82

In [46]:
meanValue.reset_index()
meanValue

,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
CUSTTYPE,,,,,,
Big-Screen-lover,3564.108000,2.04,5.552,2.193531,2.76,4.04
Early-bird,3287.125090,2.30,6.462,0.946000,1.32,1.32
Sleeping-dog,3446.990233,1.82,4.260,2.658271,3.34,4.82

In [47]:
groupkey2 = ['REGIONID','PRODUCT']

In [48]:
groupData = kopoCS.\
groupby(groupkey2).agg\
(['mean','std'])['QTY_NEW']
groupData

                             mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131
         PRODUCT14   17934.738854    9402.640836
         PRODUCT15    4759.554140    1528.260828
         PRODUCT16    1392.394904     734.344988
         PRODUCT19    3335.140127     996.017547
         PRODUCT2    22769.891720   23307.183239
         PRODUCT20      63.254777      75.729859
         PRODUCT33   11919.828025    6300.941637
         PRODUCT34  108633.229299  117445.576337
         PRODUCT4    25851.547771   32905.547789
         PRODUCT47   10998.159236    8243.442040
         PRODUCT56    6296.229299    1832.616295
         PRODUCT57    6804.643312    1391.225843
         PRODUCT58   27346.216561   28091.461510
         PRODUCT59  642760.585987  180794.220476
         PRODUCT6      807.745223    3259.556767
         PRODUCT60       0.923567       2.058570
         PRODUCT62   11378.993631    5731.819330
         PRODUCT63   47715.101911   34580.487660
         PRODUCT7     2080.101911    1302.436879
         PRODUCT75   30013.961783    9336.409864
         PRODUCT8      186.719745     160.538710
A02      PRODUCT1      155.331210     146.356580
         PRODUCT12    8995.910828    7315.563434
         PRODUCT14    1797.044586     685.720754
         PRODUCT16      23.528662      57.131154
...                           ...            ...
A65      PRODUCT1       62.388535      41.711563
         PRODUCT12    1114.828025     652.368880
         PRODUCT14      16.847134      15.899591
         PRODUCT33     122.942675      55.760390
         PRODUCT34    1780.127389    1524.126348
         PRODUCT40       9.554140      10.209595
         PRODUCT47      23.089172      20.011656
         PRODUCT56      88.203822      28.963226
         PRODUCT57      91.165605      39.983947
         PRODUCT58     181.369427     197.959860
         PRODUCT59   12114.452229    5817.423758
         PRODUCT60      82.159236      25.452195
         PRODUCT62     187.605096      56.698229
A66      PRODUCT34     176.936306     281.946523
         PRODUCT58       4.789809       8.564261
         PRODUCT59    3788.566879    2205.732553
A67      PRODUCT34     703.484076     349.442589
         PRODUCT58      40.796178      62.086141
         PRODUCT59   21489.286624    6434.134741
A68      PRODUCT34     290.184713     179.060469
         PRODUCT58       1.649682       4.251495
         PRODUCT59    7785.178344    5578.579027
A69      PRODUCT34     166.184713     203.227289
         PRODUCT58       4.611465       5.921116
         PRODUCT59    8320.515924    6085.234172
A70      PRODUCT34    2165.585987    1479.518945
         PRODUCT58      61.496815      67.393280
         PRODUCT59   69471.617834   35908.174284
A77      PRODUCT1     2890.745223     940.912186
         PRODUCT12    3473.324841    1687.580677

[794 rows x 2 columns]

In [49]:
groupResult = groupData.reset_index()
groupResult

    REGIONID    PRODUCT           mean            std
0        A00  PRODUCT34     132.445860     154.867743
1        A00  PRODUCT58     105.235669     273.435108
2        A00  PRODUCT59   36086.547771   15192.174914
3        A01   PRODUCT1    5716.726115    3704.948589
4        A01  PRODUCT12  197052.777070  198866.717131
5        A01  PRODUCT14   17934.738854    9402.640836
6        A01  PRODUCT15    4759.554140    1528.260828
7        A01  PRODUCT16    1392.394904     734.344988
8        A01  PRODUCT19    3335.140127     996.017547
9        A01   PRODUCT2   22769.891720   23307.183239
10       A01  PRODUCT20      63.254777      75.729859
11       A01  PRODUCT33   11919.828025    6300.941637
12       A01  PRODUCT34  108633.229299  117445.576337
13       A01   PRODUCT4   25851.547771   32905.547789
14       A01  PRODUCT47   10998.159236    8243.442040
15       A01  PRODUCT56    6296.229299    1832.616295
16       A01  PRODUCT57    6804.643312    1391.225843
17       A01  PRODUCT58   27346.216561   28091.461510
18       A01  PRODUCT59  642760.585987  180794.220476
19       A01   PRODUCT6     807.745223    3259.556767
20       A01  PRODUCT60       0.923567       2.058570
21       A01  PRODUCT62   11378.993631    5731.819330
22       A01  PRODUCT63   47715.101911   34580.487660
23       A01   PRODUCT7    2080.101911    1302.436879
24       A01  PRODUCT75   30013.961783    9336.409864
25       A01   PRODUCT8     186.719745     160.538710
26       A02   PRODUCT1     155.331210     146.356580
27       A02  PRODUCT12    8995.910828    7315.563434
28       A02  PRODUCT14    1797.044586     685.720754
29       A02  PRODUCT16      23.528662      57.131154
..       ...        ...            ...            ...
764      A65   PRODUCT1      62.388535      41.711563
765      A65  PRODUCT12    1114.828025     652.368880
766      A65  PRODUCT14      16.847134      15.899591
767      A65  PRODUCT33     122.942675      55.760390
768      A65  PRODUCT34    1780.127389    1524.126348
769      A65  PRODUCT40       9.554140      10.209595
770      A65  PRODUCT47      23.089172      20.011656
771      A65  PRODUCT56      88.203822      28.963226
772      A65  PRODUCT57      91.165605      39.983947
773      A65  PRODUCT58     181.369427     197.959860
774      A65  PRODUCT59   12114.452229    5817.423758
775      A65  PRODUCT60      82.159236      25.452195
776      A65  PRODUCT62     187.605096      56.698229
777      A66  PRODUCT34     176.936306     281.946523
778      A66  PRODUCT58       4.789809       8.564261
779      A66  PRODUCT59    3788.566879    2205.732553
780      A67  PRODUCT34     703.484076     349.442589
781      A67  PRODUCT58      40.796178      62.086141
782      A67  PRODUCT59   21489.286624    6434.134741
783      A68  PRODUCT34     290.184713     179.060469
784      A68  PRODUCT58       1.649682       4.251495
785      A68  PRODUCT59    7785.178344    5578.579027
786      A69  PRODUCT34     166.184713     203.227289
787      A69  PRODUCT58       4.611465       5.921116
788      A69  PRODUCT59    8320.515924    6085.234172
789      A70  PRODUCT34    2165.585987    1479.518945
790      A70  PRODUCT58      61.496815      67.393280
791      A70  PRODUCT59   69471.617834   35908.174284
792      A77   PRODUCT1    2890.745223     940.912186
793      A77  PRODUCT12    3473.324841    1687.580677

[794 rows x 4 columns]

In [50]:
groupkey3 = ['EMI']

In [51]:
groupData3 = customerdata.\
groupby(groupkey3).\
max()
groupData3

,CUSTID,AVERAGEPRICE,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2
EMI,,,,,,,
1,Y12458,3419.462596,6.3,2.994395,Sleeping-dog,3,5
2,Z19835,4166.533130,6.9,3.483573,Sleeping-dog,5,5
3,Z13534,4296.873743,6.9,2.055707,Early-bird,3,5

In [52]:
sortedData = kopoCS.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending = [True,True,True])

In [53]:
sortedData

       REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW  YEAR  WEEK
298         A00  PRODUCT34   201401    661.0    661.0  2014     1
1757        A00  PRODUCT34   201402    679.0    679.0  2014     2
3125        A00  PRODUCT34   201403    578.0    578.0  2014     3
205         A00  PRODUCT34   201404    532.0    532.0  2014     4
4369        A00  PRODUCT34   201405    516.0    516.0  2014     5
4313        A00  PRODUCT34   201406    423.0    423.0  2014     6
6288        A00  PRODUCT34   201407    407.0    407.0  2014     7
6403        A00  PRODUCT34   201408    364.0    364.0  2014     8
5158        A00  PRODUCT34   201409    470.0    470.0  2014     9
7437        A00  PRODUCT34   201410    538.0    538.0  2014    10
10123       A00  PRODUCT34   201411    369.0    369.0  2014    11
8844        A00  PRODUCT34   201412    352.0    352.0  2014    12
10813       A00  PRODUCT34   201413    354.0    354.0  2014    13
11274       A00  PRODUCT34   201414    312.0    312.0  2014    14
12128       A00  PRODUCT34   201415    295.0    295.0  2014    15
13437       A00  PRODUCT34   201416    284.0    284.0  2014    16
13639       A00  PRODUCT34   201417    237.0    237.0  2014    17
14444       A00  PRODUCT34   201418    180.0    180.0  2014    18
15828       A00  PRODUCT34   201419    161.0    161.0  2014    19
15458       A00  PRODUCT34   201420    140.0    140.0  2014    20
17079       A00  PRODUCT34   201421    116.0    116.0  2014    21
16966       A00  PRODUCT34   201422     98.0     98.0  2014    22
17838       A00  PRODUCT34   201423     83.0     83.0  2014    23
19465       A00  PRODUCT34   201424     71.0     71.0  2014    24
49427       A00  PRODUCT34   201425     65.0     65.0  2014    25
22468       A00  PRODUCT34   201426     60.0     60.0  2014    26
49145       A00  PRODUCT34   201427     82.0     82.0  2014    27
26940       A00  PRODUCT34   201428    151.0    151.0  2014    28
27839       A00  PRODUCT34   201429    274.0    274.0  2014    29
47552       A00  PRODUCT34   201430    532.0    532.0  2014    30
...         ...        ...      ...      ...      ...   ...   ...
74307       A77  PRODUCT12   201623   5348.0   5348.0  2016    23
65352       A77  PRODUCT12   201624   3275.0   3275.0  2016    24
60503       A77  PRODUCT12   201625   4158.0   4158.0  2016    25
101444      A77  PRODUCT12   201626   4815.0   4815.0  2016    26
124470      A77  PRODUCT12   201627   3002.0   3002.0  2016    27
103773      A77  PRODUCT12   201628   3319.0   3319.0  2016    28
91996       A77  PRODUCT12   201629   4200.0   4200.0  2016    29
122120      A77  PRODUCT12   201630   7120.0   7120.0  2016    30
96744       A77  PRODUCT12   201631   6345.0   6345.0  2016    31
101638      A77  PRODUCT12   201632   5863.0   5863.0  2016    32
101440      A77  PRODUCT12   201633   4211.0   4211.0  2016    33
124466      A77  PRODUCT12   201634   4019.0   4019.0  2016    34
122700      A77  PRODUCT12   201635   3624.0   3624.0  2016    35
108820      A77  PRODUCT12   201636   3742.0   3742.0  2016    36
111700      A77  PRODUCT12   201637   3002.0   3002.0  2016    37
118386      A77  PRODUCT12   201638   5583.0   5583.0  2016    38
113557      A77  PRODUCT12   201639  14734.0  14734.0  2016    39
118523      A77  PRODUCT12   201640   3603.0   3603.0  2016    40
117573      A77  PRODUCT12   201641   4010.0   4010.0  2016    41
121416      A77  PRODUCT12   201642   4292.0   4292.0  2016    42
92761       A77  PRODUCT12   201643   5760.0   5760.0  2016    43
108564      A77  PRODUCT12   201644   4109.0   4109.0  2016    44
99443       A77  PRODUCT12   201645   4506.0   4506.0  2016    45
99556       A77  PRODUCT12   201646   4255.0   4255.0  2016    46
103153      A77  PRODUCT12   201647   3574.0   3574.0  2016    47
102292      A77  PRODUCT12   201648   4152.0   4152.0  2016    48
97525       A77  PRODUCT12   201649   5086.0   5086.0  2016    49
102329      A77  PRODUCT12   201650   5846.0   5846.0  2016    50
101211      A77  PRODUCT12   201651   4933.0   4933.0  2016    51
92325       A77  PRODUCT12   201652   7551.0   7551.0  2016    52

[124658 rows x 7 columns]

In [54]:
groupkey4 = ["REGIONID","PRODUCT","YEAR"]

In [55]:
groupData4 = sortedData.\
groupby(groupkey4).agg\
(['mean','std'])['QTY_NEW']
groupData4

                                  mean            std
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014     275.961538     162.179634
                   2015      85.698113      72.858024
                   2016      36.576923      94.897539
         PRODUCT58 2014       2.673077       3.889257
                   2015       7.547170      14.909427
                   2016     307.365385     407.622857
         PRODUCT59 2014   27418.692308   11461.345740
                   2015   52315.679245    8241.607554
                   2016   28213.173077    9583.361555
A01      PRODUCT1  2014    8622.461538    3142.837761
                   2015    6383.811321    2536.927101
                   2016    2131.076923    1835.068015
         PRODUCT12 2014  169397.826923  176743.049878
                   2015  196178.811321  192959.986155
                   2016  225598.500000  223957.833468
         PRODUCT14 2014   12495.769231    6870.540503
                   2015   18725.924528    8938.343800
                   2016   22567.307692    9437.701749
         PRODUCT15 2014    5076.769231    1732.873242
                   2015    4841.132075    1547.532404
                   2016    4359.192308    1194.369914
         PRODUCT16 2014    1208.192308     481.798837
                   2015    1443.471698     903.538357
                   2016    1524.538462     727.927530
         PRODUCT19 2014    2588.711538     830.249651
                   2015    3566.377358     876.621821
                   2016    3845.884615     819.779182
         PRODUCT2  2014     376.961538     198.635439
                   2015   19514.000000   13469.266771
                   2016   48481.326923   16741.522764
...                                ...            ...
A68      PRODUCT58 2014       2.942308       4.980013
                   2015       0.679245       0.872079
                   2016       1.346154       5.190053
         PRODUCT59 2014    5558.750000    3556.830798
                   2015   11486.207547    6669.953040
                   2016    6239.403846    3931.333926
A69      PRODUCT34 2014     234.307692     327.175227
                   2015      88.415094      40.506616
                   2016     177.326923      80.456716
         PRODUCT58 2014       1.192308       1.547147
                   2015       4.283019       4.908303
                   2016       8.365385       7.340537
         PRODUCT59 2014    1570.730769    1288.559054
                   2015    9766.509434    4847.071847
                   2016   13596.500000    3262.771134
A70      PRODUCT34 2014    1455.269231     914.891960
                   2015    2749.641509    1544.003563
                   2016    2280.615385    1595.475320
         PRODUCT58 2014      14.384615      15.682079
                   2015      40.735849      47.077739
                   2016     129.769231      62.637962
         PRODUCT59 2014   27002.326923   21271.358758
                   2015   78455.452830   12572.896493
                   2016  102784.307692   16613.683300
A77      PRODUCT1  2014    2262.653846     914.206071
                   2015    3031.547170     838.391674
                   2016    3375.326923     702.359238
         PRODUCT12 2014    2035.788462     762.881491
                   2015    3545.641509     845.037075
                   2016    4837.153846    1841.810824

[2382 rows x 2 columns]

In [56]:
groupResult2 = groupData4.reset_index()
groupResult2

     REGIONID    PRODUCT  YEAR           mean            std
0         A00  PRODUCT34  2014     275.961538     162.179634
1         A00  PRODUCT34  2015      85.698113      72.858024
2         A00  PRODUCT34  2016      36.576923      94.897539
3         A00  PRODUCT58  2014       2.673077       3.889257
4         A00  PRODUCT58  2015       7.547170      14.909427
5         A00  PRODUCT58  2016     307.365385     407.622857
6         A00  PRODUCT59  2014   27418.692308   11461.345740
7         A00  PRODUCT59  2015   52315.679245    8241.607554
8         A00  PRODUCT59  2016   28213.173077    9583.361555
9         A01   PRODUCT1  2014    8622.461538    3142.837761
10        A01   PRODUCT1  2015    6383.811321    2536.927101
11        A01   PRODUCT1  2016    2131.076923    1835.068015
12        A01  PRODUCT12  2014  169397.826923  176743.049878
13        A01  PRODUCT12  2015  196178.811321  192959.986155
14        A01  PRODUCT12  2016  225598.500000  223957.833468
15        A01  PRODUCT14  2014   12495.769231    6870.540503
16        A01  PRODUCT14  2015   18725.924528    8938.343800
17        A01  PRODUCT14  2016   22567.307692    9437.701749
18        A01  PRODUCT15  2014    5076.769231    1732.873242
19        A01  PRODUCT15  2015    4841.132075    1547.532404
20        A01  PRODUCT15  2016    4359.192308    1194.369914
21        A01  PRODUCT16  2014    1208.192308     481.798837
22        A01  PRODUCT16  2015    1443.471698     903.538357
23        A01  PRODUCT16  2016    1524.538462     727.927530
24        A01  PRODUCT19  2014    2588.711538     830.249651
25        A01  PRODUCT19  2015    3566.377358     876.621821
26        A01  PRODUCT19  2016    3845.884615     819.779182
27        A01   PRODUCT2  2014     376.961538     198.635439
28        A01   PRODUCT2  2015   19514.000000   13469.266771
29        A01   PRODUCT2  2016   48481.326923   16741.522764
...       ...        ...   ...            ...            ...
2352      A68  PRODUCT58  2014       2.942308       4.980013
2353      A68  PRODUCT58  2015       0.679245       0.872079
2354      A68  PRODUCT58  2016       1.346154       5.190053
2355      A68  PRODUCT59  2014    5558.750000    3556.830798
2356      A68  PRODUCT59  2015   11486.207547    6669.953040
2357      A68  PRODUCT59  2016    6239.403846    3931.333926
2358      A69  PRODUCT34  2014     234.307692     327.175227
2359      A69  PRODUCT34  2015      88.415094      40.506616
2360      A69  PRODUCT34  2016     177.326923      80.456716
2361      A69  PRODUCT58  2014       1.192308       1.547147
2362      A69  PRODUCT58  2015       4.283019       4.908303
2363      A69  PRODUCT58  2016       8.365385       7.340537
2364      A69  PRODUCT59  2014    1570.730769    1288.559054
2365      A69  PRODUCT59  2015    9766.509434    4847.071847
2366      A69  PRODUCT59  2016   13596.500000    3262.771134
2367      A70  PRODUCT34  2014    1455.269231     914.891960
2368      A70  PRODUCT34  2015    2749.641509    1544.003563
2369      A70  PRODUCT34  2016    2280.615385    1595.475320
2370      A70  PRODUCT58  2014      14.384615      15.682079
2371      A70  PRODUCT58  2015      40.735849      47.077739
2372      A70  PRODUCT58  2016     129.769231      62.637962
2373      A70  PRODUCT59  2014   27002.326923   21271.358758
2374      A70  PRODUCT59  2015   78455.452830   12572.896493
2375      A70  PRODUCT59  2016  102784.307692   16613.683300
2376      A77   PRODUCT1  2014    2262.653846     914.206071
2377      A77   PRODUCT1  2015    3031.547170     838.391674
2378      A77   PRODUCT1  2016    3375.326923     702.359238
2379      A77  PRODUCT12  2014    2035.788462     762.881491
2380      A77  PRODUCT12  2015    3545.641509     845.037075
2381      A77  PRODUCT12  2016    4837.153846    1841.810824

[2382 rows x 5 columns]

In [57]:
groupResult2.columns=["REGIONID","PRODUCT","YEAR","QTY_MEAN","QTY_STD"]
groupResult2

     REGIONID    PRODUCT  YEAR       QTY_MEAN        QTY_STD
0         A00  PRODUCT34  2014     275.961538     162.179634
1         A00  PRODUCT34  2015      85.698113      72.858024
2         A00  PRODUCT34  2016      36.576923      94.897539
3         A00  PRODUCT58  2014       2.673077       3.889257
4         A00  PRODUCT58  2015       7.547170      14.909427
5         A00  PRODUCT58  2016     307.365385     407.622857
6         A00  PRODUCT59  2014   27418.692308   11461.345740
7         A00  PRODUCT59  2015   52315.679245    8241.607554
8         A00  PRODUCT59  2016   28213.173077    9583.361555
9         A01   PRODUCT1  2014    8622.461538    3142.837761
10        A01   PRODUCT1  2015    6383.811321    2536.927101
11        A01   PRODUCT1  2016    2131.076923    1835.068015
12        A01  PRODUCT12  2014  169397.826923  176743.049878
13        A01  PRODUCT12  2015  196178.811321  192959.986155
14        A01  PRODUCT12  2016  225598.500000  223957.833468
15        A01  PRODUCT14  2014   12495.769231    6870.540503
16        A01  PRODUCT14  2015   18725.924528    8938.343800
17        A01  PRODUCT14  2016   22567.307692    9437.701749
18        A01  PRODUCT15  2014    5076.769231    1732.873242
19        A01  PRODUCT15  2015    4841.132075    1547.532404
20        A01  PRODUCT15  2016    4359.192308    1194.369914
21        A01  PRODUCT16  2014    1208.192308     481.798837
22        A01  PRODUCT16  2015    1443.471698     903.538357
23        A01  PRODUCT16  2016    1524.538462     727.927530
24        A01  PRODUCT19  2014    2588.711538     830.249651
25        A01  PRODUCT19  2015    3566.377358     876.621821
26        A01  PRODUCT19  2016    3845.884615     819.779182
27        A01   PRODUCT2  2014     376.961538     198.635439
28        A01   PRODUCT2  2015   19514.000000   13469.266771
29        A01   PRODUCT2  2016   48481.326923   16741.522764
...       ...        ...   ...            ...            ...
2352      A68  PRODUCT58  2014       2.942308       4.980013
2353      A68  PRODUCT58  2015       0.679245       0.872079
2354      A68  PRODUCT58  2016       1.346154       5.190053
2355      A68  PRODUCT59  2014    5558.750000    3556.830798
2356      A68  PRODUCT59  2015   11486.207547    6669.953040
2357      A68  PRODUCT59  2016    6239.403846    3931.333926
2358      A69  PRODUCT34  2014     234.307692     327.175227
2359      A69  PRODUCT34  2015      88.415094      40.506616
2360      A69  PRODUCT34  2016     177.326923      80.456716
2361      A69  PRODUCT58  2014       1.192308       1.547147
2362      A69  PRODUCT58  2015       4.283019       4.908303
2363      A69  PRODUCT58  2016       8.365385       7.340537
2364      A69  PRODUCT59  2014    1570.730769    1288.559054
2365      A69  PRODUCT59  2015    9766.509434    4847.071847
2366      A69  PRODUCT59  2016   13596.500000    3262.771134
2367      A70  PRODUCT34  2014    1455.269231     914.891960
2368      A70  PRODUCT34  2015    2749.641509    1544.003563
2369      A70  PRODUCT34  2016    2280.615385    1595.475320
2370      A70  PRODUCT58  2014      14.384615      15.682079
2371      A70  PRODUCT58  2015      40.735849      47.077739
2372      A70  PRODUCT58  2016     129.769231      62.637962
2373      A70  PRODUCT59  2014   27002.326923   21271.358758
2374      A70  PRODUCT59  2015   78455.452830   12572.896493
2375      A70  PRODUCT59  2016  102784.307692   16613.683300
2376      A77   PRODUCT1  2014    2262.653846     914.206071
2377      A77   PRODUCT1  2015    3031.547170     838.391674
2378      A77   PRODUCT1  2016    3375.326923     702.359238
2379      A77  PRODUCT12  2014    2035.788462     762.881491
2380      A77  PRODUCT12  2015    3545.641509     845.037075
2381      A77  PRODUCT12  2016    4837.153846    1841.810824

[2382 rows x 5 columns]

In [58]:
customerdata["TEST"] = customerdata["DEVICECOUNT"].rolling(window = 5, center = False).mean()
customerdata

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCTAGE_NEW2,TEST
51,J10809,3676.135627,3,6.5,0.800000,Early-bird,1,1,NaN
53,J16445,3041.848186,3,6.4,0.800000,Early-bird,1,1,NaN
13,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1,NaN
37,G19717,2873.102202,2,6.5,0.800000,Early-bird,1,1,NaN
80,P19679,3256.152962,2,6.1,0.800000,Early-bird,1,1,6.38
24,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,6.38
23,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,6.40
78,P18446,3168.567321,2,6.5,0.900000,Early-bird,1,1,6.42
77,P14740,3301.586463,2,6.5,0.900000,Early-bird,1,1,6.42
71,O12193,3491.983316,2,6.4,0.900000,Early-bird,1,1,6.48
62,L17101,3310.792459,2,6.5,0.900000,Early-bird,1,1,6.48
38,H10188,4020.245162,2,6.7,0.900000,Early-bird,1,1,6.52
40,H16326,3988.935304,3,6.5,0.900000,Early-bird,1,1,6.52
55,J18640,3227.823130,2,6.6,0.900000,Early-bird,1,1,6.54
44,I11601,3437.818388,2,6.3,0.900000,Early-bird,1,1,6.52
45,I12899,3018.895637,3,6.4,0.900000,Early-bird,1,1,6.50
52,J15083,2811.265932,3,6.0,0.900000,Early-bird,1,1,6.36
30,G11453,2744.815881,2,6.4,0.900000,Early-bird,1,1,6.34
82,Q12581,3436.456382,2,6.2,0.900000,Early-bird,1,1,6.26
48,I17780,2804.267157,2,6.3,0.900000,Early-bird,1,1,6.26
87,Q16970,2972.108198,2,6.3,0.900000,Early-bird,1,1,6.24
146,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1,6.36
143,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1,6.40
95,R16364,3592.353540,3,6.2,0.900000,Early-bird,1,1,6.40
105,S15966,2797.678314,2,6.9,0.900000,Early-bird,1,1,6.52
117,T16556,3166.013276,2,6.4,0.900000,Early-bird,1,1,6.54
125,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1,6.54
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1,6.54
126,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1,6.60
142,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1,6.50
...,...,...,...,...,...,...,...,...,...
83,Q13484,3418.911355,2,4.2,2.770609,Sleeping-dog,3,5,4.08
20,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,5,4.14
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,5,4.28
75,O19630,3277.417706,2,4.5,2.806011,Sleeping-dog,3,5,4.32
116,T13866,3732.900000,2,5.1,2.812051,Big-Screen-lover,3,5,4.54
88,Q18064,3841.100000,2,5.9,2.817745,Big-Screen-lover,3,5,4.88
103,S15191,3041.973927,2,4.1,2.820039,Sleeping-dog,3,5,4.86
110,S18924,3809.763628,2,4.9,2.824608,Sleeping-dog,3,5,4.90
56,K10712,3419.462596,1,4.4,2.825790,Sleeping-dog,3,5,4.88
138,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,5,4.78
100,S13238,3928.432035,2,4.4,2.845483,Sleeping-dog,3,5,4.48
76,P14445,3624.700000,2,5.2,2.847714,Big-Screen-lover,3,5,4.70
42,H18821,3665.543492,2,4.4,2.873112,Sleeping-dog,3,5,4.60
92,R11271,3462.400000,2,5.6,2.885046,Big-Screen-lover,3,5,4.84
17,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,5,4.82
15,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,5,5.32
111,T10762,3572.369016,2,4.2,2.938848,Sleeping-dog,3,5,5.12
72,O13037,3398.216334,1,4.5,2.994395,Sleeping-dog,3,5,5.14
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5,5.00
89,Q18901,3266.600816,2,5.1,3.016625,Sleeping-dog,5,5,5.12
10,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5,4.68
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5,4.84
123,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5,4.86
28,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,4.78
118,U15861,3975.963499,2,4.5,3.292546,Sleeping-dog,5,5,4.66
101,S14751,3137.800000,2,5.1,3.326340,Big-Screen-lover,5,5,4.74
31,G15439,3559.617754,2,4.5,3.345695,Sleeping-dog,5,5,4.64
32,G15736,3624.700000,2,5.7,3.367229,Big-Screen-lover,5,5,4.86
14,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5,4.92
114,T11512,3428.518977,2,4.7,3.483573,Sleeping-dog,5,5,4.96

In [59]:
import pandas as pd

In [60]:
regionMasterData = pd.read_csv('./dataset/kopo_region_mst.csv')
regionMasterData

   REGIONID REGIONNAME
0       A00     AFRICA
1       A01    AMERICA
2       A02      KOREA
3       A03     GERMAN
4       A04     BRAZIL
5       A05       ARAB
6       A06     ANGOLA
7       A07     BEEGIE
8       A08   BULGARIA
9       A09     BAREIL
10      A10        BOB
11      A11    BOLIVIA
12      A12     CANADA
13      A13      SWISS
14      A14     CHILLE
15      A15      CHINA
16      A16   COLOMBIA
17      A17  COSTARICA
18      A18    DENMARK
19      A19     ALGERI
20      A20      EGYPT
21      A21      SPAIN
22      A22    PINLAND
23      A23     FRANCE
24      A24        ENG
25      A25       GANA
26      A26     GREECE
27      A27       GUAM
28      A28   HONGKONG
29      A29         IT
..      ...        ...
43      A43     NETHER
44      A44     MAXICO
45      A45      NEPAL
46      A46        NEW
47      A47        PIL
48      A48        POL
49      A49        POR
50      A50    RUMANIA
51      A51     SERVIA
52      A52     RUSSIA
53      A53      SAUDI
54      A54      SUDAN
55      A55     SWEDEN
56      A56       SING
57      A57       SLOV
58      A58    SENEGAL
59      A59      SIRIA
60      A60       THAI
61      A61         TT
62      A62     TURKEY
63      A63        TAI
64      A64        TAN
65      A65         UK
66      A66         UR
67      A67       UZBE
68      A68      VENEZ
69      A69    VIETNAM
70      A70     VANUAT
71      A71        NaN
72      A99        ETC

[73 rows x 2 columns]

In [61]:
selectExample = pd.read_csv('./dataset/kopo_channel_seasonality_new.csv')
selectExample

       REGIONID    PRODUCT  YEARWEEK       QTY
0           A60   PRODUCT4    201402      71.0
1           A60  PRODUCT59    201402   22275.0
2           A60  PRODUCT34    201402    4463.0
3           A60  PRODUCT47    201402       0.0
4           A60  PRODUCT56    201402      23.0
5           A60  PRODUCT57    201402      14.0
6           A60  PRODUCT12    201402    1186.0
7           A60   PRODUCT1    201402       7.0
8           A60  PRODUCT33    201402     101.0
9           A60  PRODUCT62    201402     336.0
10          A37  PRODUCT58    201402       0.0
11          A37  PRODUCT59    201402   11492.0
12          A37  PRODUCT34    201402     825.0
13          A31  PRODUCT58    201402       0.0
14          A31  PRODUCT59    201402     560.0
15          A31  PRODUCT34    201402     103.0
16          A04  PRODUCT58    201402       0.0
17          A04  PRODUCT63    201402     740.0
18          A04  PRODUCT15    201402     394.0
19          A04   PRODUCT4    201402    2550.0
20          A04  PRODUCT16    201402       4.0
21          A04  PRODUCT59    201402   36549.0
22          A04  PRODUCT34    201402    4773.0
23          A04  PRODUCT40    201402     146.0
24          A04  PRODUCT47    201402       5.0
25          A04  PRODUCT60    201402       9.0
26          A04  PRODUCT56    201402     109.0
27          A04  PRODUCT57    201402    1195.0
28          A04  PRODUCT12    201402   15028.0
29          A04   PRODUCT1    201402    1319.0
...         ...        ...       ...       ...
124628      A16  PRODUCT64    201630     188.0
124629      A16  PRODUCT48    201630      16.0
124630      A16  PRODUCT49    201630       9.0
124631      A16  PRODUCT74    201630      18.0
124632      A16  PRODUCT40    201630     285.0
124633      A16  PRODUCT47    201630     155.0
124634      A16  PRODUCT60    201630    2491.0
124635      A16  PRODUCT56    201630    2026.0
124636      A16  PRODUCT12    201630   17067.0
124637      A16   PRODUCT1    201630     168.0
124638      A16  PRODUCT41    201630       0.0
124639      A16  PRODUCT51    201630       0.0
124640      A16  PRODUCT68    201630       0.0
124641      A16  PRODUCT33    201630    3887.0
124642      A16  PRODUCT14    201630      95.0
124643      A10   PRODUCT2    201630   12570.0
124644      A10  PRODUCT58    201630    4461.0
124645      A10  PRODUCT63    201630    4308.0
124646      A10  PRODUCT15    201630       0.0
124647      A10   PRODUCT4    201630    3012.0
124648      A10  PRODUCT16    201630     231.0
124649      A10  PRODUCT59    201630  231024.0
124650      A10  PRODUCT34    201630   34436.0
124651      A10  PRODUCT40    201630       0.0
124652      A10  PRODUCT47    201630       4.0
124653      A10  PRODUCT60    201630     824.0
124654      A10  PRODUCT56    201630     275.0
124655      A10  PRODUCT61    201630       0.0
124656      A10  PRODUCT12    201630   15021.0
124657      A10   PRODUCT1    201630     568.0

[124658 rows x 4 columns]

In [62]:
refinedSelloutData

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR  WEEK
0           A60   PRODUCT4   201402      71.0      71.0  2014     2
1           A60  PRODUCT59   201402   22275.0   22275.0  2014     2
2           A60  PRODUCT34   201402    4463.0    4463.0  2014     2
3           A60  PRODUCT47   201402       0.0       0.0  2014     2
4           A60  PRODUCT56   201402      23.0      23.0  2014     2
5           A60  PRODUCT57   201402      14.0      14.0  2014     2
6           A60  PRODUCT12   201402    1186.0    1186.0  2014     2
7           A60   PRODUCT1   201402       7.0       7.0  2014     2
8           A60  PRODUCT33   201402     101.0     101.0  2014     2
9           A60  PRODUCT62   201402     336.0     336.0  2014     2
10          A37  PRODUCT58   201402       0.0       0.0  2014     2
11          A37  PRODUCT59   201402   11492.0   11492.0  2014     2
12          A37  PRODUCT34   201402     825.0     825.0  2014     2
13          A31  PRODUCT58   201402       0.0       0.0  2014     2
14          A31  PRODUCT59   201402     560.0     560.0  2014     2
15          A31  PRODUCT34   201402     103.0     103.0  2014     2
16          A04  PRODUCT58   201402       0.0       0.0  2014     2
17          A04  PRODUCT63   201402     740.0     740.0  2014     2
18          A04  PRODUCT15   201402     394.0     394.0  2014     2
19          A04   PRODUCT4   201402    2550.0    2550.0  2014     2
20          A04  PRODUCT16   201402       4.0       4.0  2014     2
21          A04  PRODUCT59   201402   36549.0   36549.0  2014     2
22          A04  PRODUCT34   201402    4773.0    4773.0  2014     2
23          A04  PRODUCT40   201402     146.0     146.0  2014     2
24          A04  PRODUCT47   201402       5.0       5.0  2014     2
25          A04  PRODUCT60   201402       9.0       9.0  2014     2
26          A04  PRODUCT56   201402     109.0     109.0  2014     2
27          A04  PRODUCT57   201402    1195.0    1195.0  2014     2
28          A04  PRODUCT12   201402   15028.0   15028.0  2014     2
29          A04   PRODUCT1   201402    1319.0    1319.0  2014     2
...         ...        ...      ...       ...       ...   ...   ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016    30
124629      A16  PRODUCT48   201630      16.0      16.0  2016    30
124630      A16  PRODUCT49   201630       9.0       9.0  2016    30
124631      A16  PRODUCT74   201630      18.0      18.0  2016    30
124632      A16  PRODUCT40   201630     285.0     285.0  2016    30
124633      A16  PRODUCT47   201630     155.0     155.0  2016    30
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016    30
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016    30
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016    30
124637      A16   PRODUCT1   201630     168.0     168.0  2016    30
124638      A16  PRODUCT41   201630       0.0       0.0  2016    30
124639      A16  PRODUCT51   201630       0.0       0.0  2016    30
124640      A16  PRODUCT68   201630       0.0       0.0  2016    30
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016    30
124642      A16  PRODUCT14   201630      95.0      95.0  2016    30
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016    30
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016    30
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016    30
124646      A10  PRODUCT15   201630       0.0       0.0  2016    30
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016    30
124648      A10  PRODUCT16   201630     231.0     231.0  2016    30
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016    30
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016    30
124651      A10  PRODUCT40   201630       0.0       0.0  2016    30
124652      A10  PRODUCT47   201630       4.0       4.0  2016    30
124653      A10  PRODUCT60   201630     824.0     824.0  2016    30
124654      A10  PRODUCT56   201630     275.0     275.0  2016    30
124655      A10  PRODUCT61   201630       0.0       0.0  2016    30
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016    30
124657      A10   PRODUCT1   201630     568.0     568.0  2016    30

[123864 rows x 7 columns]

In [63]:
groupResult2

     REGIONID    PRODUCT  YEAR       QTY_MEAN        QTY_STD
0         A00  PRODUCT34  2014     275.961538     162.179634
1         A00  PRODUCT34  2015      85.698113      72.858024
2         A00  PRODUCT34  2016      36.576923      94.897539
3         A00  PRODUCT58  2014       2.673077       3.889257
4         A00  PRODUCT58  2015       7.547170      14.909427
5         A00  PRODUCT58  2016     307.365385     407.622857
6         A00  PRODUCT59  2014   27418.692308   11461.345740
7         A00  PRODUCT59  2015   52315.679245    8241.607554
8         A00  PRODUCT59  2016   28213.173077    9583.361555
9         A01   PRODUCT1  2014    8622.461538    3142.837761
10        A01   PRODUCT1  2015    6383.811321    2536.927101
11        A01   PRODUCT1  2016    2131.076923    1835.068015
12        A01  PRODUCT12  2014  169397.826923  176743.049878
13        A01  PRODUCT12  2015  196178.811321  192959.986155
14        A01  PRODUCT12  2016  225598.500000  223957.833468
15        A01  PRODUCT14  2014   12495.769231    6870.540503
16        A01  PRODUCT14  2015   18725.924528    8938.343800
17        A01  PRODUCT14  2016   22567.307692    9437.701749
18        A01  PRODUCT15  2014    5076.769231    1732.873242
19        A01  PRODUCT15  2015    4841.132075    1547.532404
20        A01  PRODUCT15  2016    4359.192308    1194.369914
21        A01  PRODUCT16  2014    1208.192308     481.798837
22        A01  PRODUCT16  2015    1443.471698     903.538357
23        A01  PRODUCT16  2016    1524.538462     727.927530
24        A01  PRODUCT19  2014    2588.711538     830.249651
25        A01  PRODUCT19  2015    3566.377358     876.621821
26        A01  PRODUCT19  2016    3845.884615     819.779182
27        A01   PRODUCT2  2014     376.961538     198.635439
28        A01   PRODUCT2  2015   19514.000000   13469.266771
29        A01   PRODUCT2  2016   48481.326923   16741.522764
...       ...        ...   ...            ...            ...
2352      A68  PRODUCT58  2014       2.942308       4.980013
2353      A68  PRODUCT58  2015       0.679245       0.872079
2354      A68  PRODUCT58  2016       1.346154       5.190053
2355      A68  PRODUCT59  2014    5558.750000    3556.830798
2356      A68  PRODUCT59  2015   11486.207547    6669.953040
2357      A68  PRODUCT59  2016    6239.403846    3931.333926
2358      A69  PRODUCT34  2014     234.307692     327.175227
2359      A69  PRODUCT34  2015      88.415094      40.506616
2360      A69  PRODUCT34  2016     177.326923      80.456716
2361      A69  PRODUCT58  2014       1.192308       1.547147
2362      A69  PRODUCT58  2015       4.283019       4.908303
2363      A69  PRODUCT58  2016       8.365385       7.340537
2364      A69  PRODUCT59  2014    1570.730769    1288.559054
2365      A69  PRODUCT59  2015    9766.509434    4847.071847
2366      A69  PRODUCT59  2016   13596.500000    3262.771134
2367      A70  PRODUCT34  2014    1455.269231     914.891960
2368      A70  PRODUCT34  2015    2749.641509    1544.003563
2369      A70  PRODUCT34  2016    2280.615385    1595.475320
2370      A70  PRODUCT58  2014      14.384615      15.682079
2371      A70  PRODUCT58  2015      40.735849      47.077739
2372      A70  PRODUCT58  2016     129.769231      62.637962
2373      A70  PRODUCT59  2014   27002.326923   21271.358758
2374      A70  PRODUCT59  2015   78455.452830   12572.896493
2375      A70  PRODUCT59  2016  102784.307692   16613.683300
2376      A77   PRODUCT1  2014    2262.653846     914.206071
2377      A77   PRODUCT1  2015    3031.547170     838.391674
2378      A77   PRODUCT1  2016    3375.326923     702.359238
2379      A77  PRODUCT12  2014    2035.788462     762.881491
2380      A77  PRODUCT12  2015    3545.641509     845.037075
2381      A77  PRODUCT12  2016    4837.153846    1841.810824

[2382 rows x 5 columns]

In [64]:
mergeResult = pd.merge(refinedSelloutData,groupResult2,\
        left_on = ["REGIONID","PRODUCT","YEAR"],right_on = ["REGIONID","PRODUCT","YEAR"])\
[["REGIONID","PRODUCT","YEARWEEK","YEAR","WEEK","QTY_NEW","QTY_MEAN","QTY_STD"]]
mergeResult.head()

  REGIONID   PRODUCT YEARWEEK  YEAR  WEEK  QTY_NEW   QTY_MEAN    QTY_STD
0      A60  PRODUCT4   201402  2014     2     71.0  29.134615  13.225093
1      A60  PRODUCT4   201401  2014     1     16.0  29.134615  13.225093
2      A60  PRODUCT4   201403  2014     3     51.0  29.134615  13.225093
3      A60  PRODUCT4   201406  2014     6     19.0  29.134615  13.225093
4      A60  PRODUCT4   201404  2014     4     21.0  29.134615  13.225093