In [1]:
import pandas as pd

In [7]:
import numpy as np

In [3]:
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

In [15]:
selloutData["WEEK"] = selloutData["YEARWEEK"]%100
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  WEEK
0      A60   PRODUCT4    201402     71.0     2
1      A60  PRODUCT59    201402  22275.0     2
2      A60  PRODUCT34    201402   4463.0     2
3      A60  PRODUCT47    201402      0.0     2
4      A60  PRODUCT56    201402     23.0     2

In [38]:
def customFunction(inputColumn):
##    inputColumn = 201601
    yearValue = inputColumn/100
    yearValue = int(yearValue)
    return yearValue

In [39]:
selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunction)
selloutData

       REGIONID    PRODUCT  YEARWEEK       QTY  WEEK  YEAR   QTY_NEW
0           A60   PRODUCT4    201402      71.0     2  2014      71.0
1           A60  PRODUCT59    201402   22275.0     2  2014   22275.0
2           A60  PRODUCT34    201402    4463.0     2  2014    4463.0
3           A60  PRODUCT47    201402       0.0     2  2014       0.0
4           A60  PRODUCT56    201402      23.0     2  2014      23.0
5           A60  PRODUCT57    201402      14.0     2  2014      14.0
6           A60  PRODUCT12    201402    1186.0     2  2014    1186.0
7           A60   PRODUCT1    201402       7.0     2  2014       7.0
8           A60  PRODUCT33    201402     101.0     2  2014     101.0
9           A60  PRODUCT62    201402     336.0     2  2014     336.0
10          A37  PRODUCT58    201402       0.0     2  2014       0.0
11          A37  PRODUCT59    201402   11492.0     2  2014   11492.0
12          A37  PRODUCT34    201402     825.0     2  2014     825.0
13          A31  PRODUCT58    201402       0.0     2  2014       0.0
14          A31  PRODUCT59    201402     560.0     2  2014     560.0
15          A31  PRODUCT34    201402     103.0     2  2014     103.0
16          A04  PRODUCT58    201402       0.0     2  2014       0.0
17          A04  PRODUCT63    201402     740.0     2  2014     740.0
18          A04  PRODUCT15    201402     394.0     2  2014     394.0
19          A04   PRODUCT4    201402    2550.0     2  2014    2550.0
20          A04  PRODUCT16    201402       4.0     2  2014       4.0
21          A04  PRODUCT59    201402   36549.0     2  2014   36549.0
22          A04  PRODUCT34    201402    4773.0     2  2014    4773.0
23          A04  PRODUCT40    201402     146.0     2  2014     146.0
24          A04  PRODUCT47    201402       5.0     2  2014       5.0
25          A04  PRODUCT60    201402       9.0     2  2014       9.0
26          A04  PRODUCT56    201402     109.0     2  2014     109.0
27          A04  PRODUCT57    201402    1195.0     2  2014    1195.0
28          A04  PRODUCT12    201402   15028.0     2  2014   15028.0
29          A04   PRODUCT1    201402    1319.0     2  2014    1319.0
...         ...        ...       ...       ...   ...   ...       ...
124628      A16  PRODUCT64    201630     188.0    30  2016     188.0
124629      A16  PRODUCT48    201630      16.0    30  2016      16.0
124630      A16  PRODUCT49    201630       9.0    30  2016       9.0
124631      A16  PRODUCT74    201630      18.0    30  2016      18.0
124632      A16  PRODUCT40    201630     285.0    30  2016     285.0
124633      A16  PRODUCT47    201630     155.0    30  2016     155.0
124634      A16  PRODUCT60    201630    2491.0    30  2016    2491.0
124635      A16  PRODUCT56    201630    2026.0    30  2016    2026.0
124636      A16  PRODUCT12    201630   17067.0    30  2016   17067.0
124637      A16   PRODUCT1    201630     168.0    30  2016     168.0
124638      A16  PRODUCT41    201630       0.0    30  2016       0.0
124639      A16  PRODUCT51    201630       0.0    30  2016       0.0
124640      A16  PRODUCT68    201630       0.0    30  2016       0.0
124641      A16  PRODUCT33    201630    3887.0    30  2016    3887.0
124642      A16  PRODUCT14    201630      95.0    30  2016      95.0
124643      A10   PRODUCT2    201630   12570.0    30  2016   12570.0
124644      A10  PRODUCT58    201630    4461.0    30  2016    4461.0
124645      A10  PRODUCT63    201630    4308.0    30  2016    4308.0
124646      A10  PRODUCT15    201630       0.0    30  2016       0.0
124647      A10   PRODUCT4    201630    3012.0    30  2016    3012.0
124648      A10  PRODUCT16    201630     231.0    30  2016     231.0
124649      A10  PRODUCT59    201630  231024.0    30  2016  231024.0
124650      A10  PRODUCT34    201630   34436.0    30  2016   34436.0
124651      A10  PRODUCT40    201630       0.0    30  2016       0.0
124652      A10  PRODUCT47    201630       4.0    30  2016       4.0
124653      A10  PRODUCT60    201630     824.0    30  2016     824.0
124654      A10  PRODUCT56    201630     275.0    30  2016     275.0
124655      A10  PRODUCT61    201630       0.0    30  2016       0.0
124656      A10  PRODUCT12    201630   15021.0    30  2016   15021.0
124657      A10   PRODUCT1    201630     568.0    30  2016     568.0

[124658 rows x 7 columns]

In [27]:
inputColumn = 201601
yearValue = inputColumn/100
yearValue

2016.01

In [ ]:
round(yearValue.0)

In [18]:
selloutData["YEAR"] = round(selloutData["YEARWEEK"]/100)
selloutData

       REGIONID    PRODUCT  YEARWEEK       QTY  WEEK    YEAR
0           A60   PRODUCT4    201402      71.0     2  2014.0
1           A60  PRODUCT59    201402   22275.0     2  2014.0
2           A60  PRODUCT34    201402    4463.0     2  2014.0
3           A60  PRODUCT47    201402       0.0     2  2014.0
4           A60  PRODUCT56    201402      23.0     2  2014.0
5           A60  PRODUCT57    201402      14.0     2  2014.0
6           A60  PRODUCT12    201402    1186.0     2  2014.0
7           A60   PRODUCT1    201402       7.0     2  2014.0
8           A60  PRODUCT33    201402     101.0     2  2014.0
9           A60  PRODUCT62    201402     336.0     2  2014.0
10          A37  PRODUCT58    201402       0.0     2  2014.0
11          A37  PRODUCT59    201402   11492.0     2  2014.0
12          A37  PRODUCT34    201402     825.0     2  2014.0
13          A31  PRODUCT58    201402       0.0     2  2014.0
14          A31  PRODUCT59    201402     560.0     2  2014.0
15          A31  PRODUCT34    201402     103.0     2  2014.0
16          A04  PRODUCT58    201402       0.0     2  2014.0
17          A04  PRODUCT63    201402     740.0     2  2014.0
18          A04  PRODUCT15    201402     394.0     2  2014.0
19          A04   PRODUCT4    201402    2550.0     2  2014.0
20          A04  PRODUCT16    201402       4.0     2  2014.0
21          A04  PRODUCT59    201402   36549.0     2  2014.0
22          A04  PRODUCT34    201402    4773.0     2  2014.0
23          A04  PRODUCT40    201402     146.0     2  2014.0
24          A04  PRODUCT47    201402       5.0     2  2014.0
25          A04  PRODUCT60    201402       9.0     2  2014.0
26          A04  PRODUCT56    201402     109.0     2  2014.0
27          A04  PRODUCT57    201402    1195.0     2  2014.0
28          A04  PRODUCT12    201402   15028.0     2  2014.0
29          A04   PRODUCT1    201402    1319.0     2  2014.0
...         ...        ...       ...       ...   ...     ...
124628      A16  PRODUCT64    201630     188.0    30  2016.0
124629      A16  PRODUCT48    201630      16.0    30  2016.0
124630      A16  PRODUCT49    201630       9.0    30  2016.0
124631      A16  PRODUCT74    201630      18.0    30  2016.0
124632      A16  PRODUCT40    201630     285.0    30  2016.0
124633      A16  PRODUCT47    201630     155.0    30  2016.0
124634      A16  PRODUCT60    201630    2491.0    30  2016.0
124635      A16  PRODUCT56    201630    2026.0    30  2016.0
124636      A16  PRODUCT12    201630   17067.0    30  2016.0
124637      A16   PRODUCT1    201630     168.0    30  2016.0
124638      A16  PRODUCT41    201630       0.0    30  2016.0
124639      A16  PRODUCT51    201630       0.0    30  2016.0
124640      A16  PRODUCT68    201630       0.0    30  2016.0
124641      A16  PRODUCT33    201630    3887.0    30  2016.0
124642      A16  PRODUCT14    201630      95.0    30  2016.0
124643      A10   PRODUCT2    201630   12570.0    30  2016.0
124644      A10  PRODUCT58    201630    4461.0    30  2016.0
124645      A10  PRODUCT63    201630    4308.0    30  2016.0
124646      A10  PRODUCT15    201630       0.0    30  2016.0
124647      A10   PRODUCT4    201630    3012.0    30  2016.0
124648      A10  PRODUCT16    201630     231.0    30  2016.0
124649      A10  PRODUCT59    201630  231024.0    30  2016.0
124650      A10  PRODUCT34    201630   34436.0    30  2016.0
124651      A10  PRODUCT40    201630       0.0    30  2016.0
124652      A10  PRODUCT47    201630       4.0    30  2016.0
124653      A10  PRODUCT60    201630     824.0    30  2016.0
124654      A10  PRODUCT56    201630     275.0    30  2016.0
124655      A10  PRODUCT61    201630       0.0    30  2016.0
124656      A10  PRODUCT12    201630   15021.0    30  2016.0
124657      A10   PRODUCT1    201630     568.0    30  2016.0

[124658 rows x 6 columns]

In [41]:
refinedDate = selloutData[selloutData.YEARWEEK % 100 < 53]
refinedDate.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  WEEK  YEAR  QTY_NEW
0      A60   PRODUCT4    201402     71.0     2  2014     71.0
1      A60  PRODUCT59    201402  22275.0     2  2014  22275.0
2      A60  PRODUCT34    201402   4463.0     2  2014   4463.0
3      A60  PRODUCT47    201402      0.0     2  2014      0.0
4      A60  PRODUCT56    201402     23.0     2  2014     23.0

In [42]:
refinedDate["test"] = (selloutData.YEARWEEK/100).astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
refinedDate

       REGIONID    PRODUCT  YEARWEEK       QTY  WEEK  YEAR   QTY_NEW  test
0           A60   PRODUCT4    201402      71.0     2  2014      71.0  2014
1           A60  PRODUCT59    201402   22275.0     2  2014   22275.0  2014
2           A60  PRODUCT34    201402    4463.0     2  2014    4463.0  2014
3           A60  PRODUCT47    201402       0.0     2  2014       0.0  2014
4           A60  PRODUCT56    201402      23.0     2  2014      23.0  2014
5           A60  PRODUCT57    201402      14.0     2  2014      14.0  2014
6           A60  PRODUCT12    201402    1186.0     2  2014    1186.0  2014
7           A60   PRODUCT1    201402       7.0     2  2014       7.0  2014
8           A60  PRODUCT33    201402     101.0     2  2014     101.0  2014
9           A60  PRODUCT62    201402     336.0     2  2014     336.0  2014
10          A37  PRODUCT58    201402       0.0     2  2014       0.0  2014
11          A37  PRODUCT59    201402   11492.0     2  2014   11492.0  2014
12          A37  PRODUCT34    201402     825.0     2  2014     825.0  2014
13          A31  PRODUCT58    201402       0.0     2  2014       0.0  2014
14          A31  PRODUCT59    201402     560.0     2  2014     560.0  2014
15          A31  PRODUCT34    201402     103.0     2  2014     103.0  2014
16          A04  PRODUCT58    201402       0.0     2  2014       0.0  2014
17          A04  PRODUCT63    201402     740.0     2  2014     740.0  2014
18          A04  PRODUCT15    201402     394.0     2  2014     394.0  2014
19          A04   PRODUCT4    201402    2550.0     2  2014    2550.0  2014
20          A04  PRODUCT16    201402       4.0     2  2014       4.0  2014
21          A04  PRODUCT59    201402   36549.0     2  2014   36549.0  2014
22          A04  PRODUCT34    201402    4773.0     2  2014    4773.0  2014
23          A04  PRODUCT40    201402     146.0     2  2014     146.0  2014
24          A04  PRODUCT47    201402       5.0     2  2014       5.0  2014
25          A04  PRODUCT60    201402       9.0     2  2014       9.0  2014
26          A04  PRODUCT56    201402     109.0     2  2014     109.0  2014
27          A04  PRODUCT57    201402    1195.0     2  2014    1195.0  2014
28          A04  PRODUCT12    201402   15028.0     2  2014   15028.0  2014
29          A04   PRODUCT1    201402    1319.0     2  2014    1319.0  2014
...         ...        ...       ...       ...   ...   ...       ...   ...
124628      A16  PRODUCT64    201630     188.0    30  2016     188.0  2016
124629      A16  PRODUCT48    201630      16.0    30  2016      16.0  2016
124630      A16  PRODUCT49    201630       9.0    30  2016       9.0  2016
124631      A16  PRODUCT74    201630      18.0    30  2016      18.0  2016
124632      A16  PRODUCT40    201630     285.0    30  2016     285.0  2016
124633      A16  PRODUCT47    201630     155.0    30  2016     155.0  2016
124634      A16  PRODUCT60    201630    2491.0    30  2016    2491.0  2016
124635      A16  PRODUCT56    201630    2026.0    30  2016    2026.0  2016
124636      A16  PRODUCT12    201630   17067.0    30  2016   17067.0  2016
124637      A16   PRODUCT1    201630     168.0    30  2016     168.0  2016
124638      A16  PRODUCT41    201630       0.0    30  2016       0.0  2016
124639      A16  PRODUCT51    201630       0.0    30  2016       0.0  2016
124640      A16  PRODUCT68    201630       0.0    30  2016       0.0  2016
124641      A16  PRODUCT33    201630    3887.0    30  2016    3887.0  2016
124642      A16  PRODUCT14    201630      95.0    30  2016      95.0  2016
124643      A10   PRODUCT2    201630   12570.0    30  2016   12570.0  2016
124644      A10  PRODUCT58    201630    4461.0    30  2016    4461.0  2016
124645      A10  PRODUCT63    201630    4308.0    30  2016    4308.0  2016
124646      A10  PRODUCT15    201630       0.0    30  2016       0.0  2016
124647      A10   PRODUCT4    201630    3012.0    30  2016    3012.0  2016
124648      A10  PRODUCT16    201630     231.0    30  2016     231.0  2016
124649      A10  PRODUCT59    201630  231024.0    30  2016  231024.0  2016
124650      A10  PRODUCT34    201630   34436.0    30  2016   34436.0  2016
124651      A10  PRODUCT40    201630       0.0    30  2016       0.0  2016
124652      A10  PRODUCT47    201630       4.0    30  2016       4.0  2016
124653      A10  PRODUCT60    201630     824.0    30  2016     824.0  2016
124654      A10  PRODUCT56    201630     275.0    30  2016     275.0  2016
124655      A10  PRODUCT61    201630       0.0    30  2016       0.0  2016
124656      A10  PRODUCT12    201630   15021.0    30  2016   15021.0  2016
124657      A10   PRODUCT1    201630     568.0    30  2016     568.0  2016

[123864 rows x 8 columns]

In [44]:
## round쓰면 2018년으로 넘어간다.
round(2017.52)

2018

In [45]:
int(2017.52)

2017

In [36]:
selloutData["QTY_NEW"] = np.where(selloutData["QTY"]<0,0,selloutData["QTY"])
selloutData

       REGIONID    PRODUCT  YEARWEEK       QTY  WEEK  YEAR   QTY_NEW
0           A60   PRODUCT4    201402      71.0     2  2014      71.0
1           A60  PRODUCT59    201402   22275.0     2  2014   22275.0
2           A60  PRODUCT34    201402    4463.0     2  2014    4463.0
3           A60  PRODUCT47    201402       0.0     2  2014       0.0
4           A60  PRODUCT56    201402      23.0     2  2014      23.0
5           A60  PRODUCT57    201402      14.0     2  2014      14.0
6           A60  PRODUCT12    201402    1186.0     2  2014    1186.0
7           A60   PRODUCT1    201402       7.0     2  2014       7.0
8           A60  PRODUCT33    201402     101.0     2  2014     101.0
9           A60  PRODUCT62    201402     336.0     2  2014     336.0
10          A37  PRODUCT58    201402       0.0     2  2014       0.0
11          A37  PRODUCT59    201402   11492.0     2  2014   11492.0
12          A37  PRODUCT34    201402     825.0     2  2014     825.0
13          A31  PRODUCT58    201402       0.0     2  2014       0.0
14          A31  PRODUCT59    201402     560.0     2  2014     560.0
15          A31  PRODUCT34    201402     103.0     2  2014     103.0
16          A04  PRODUCT58    201402       0.0     2  2014       0.0
17          A04  PRODUCT63    201402     740.0     2  2014     740.0
18          A04  PRODUCT15    201402     394.0     2  2014     394.0
19          A04   PRODUCT4    201402    2550.0     2  2014    2550.0
20          A04  PRODUCT16    201402       4.0     2  2014       4.0
21          A04  PRODUCT59    201402   36549.0     2  2014   36549.0
22          A04  PRODUCT34    201402    4773.0     2  2014    4773.0
23          A04  PRODUCT40    201402     146.0     2  2014     146.0
24          A04  PRODUCT47    201402       5.0     2  2014       5.0
25          A04  PRODUCT60    201402       9.0     2  2014       9.0
26          A04  PRODUCT56    201402     109.0     2  2014     109.0
27          A04  PRODUCT57    201402    1195.0     2  2014    1195.0
28          A04  PRODUCT12    201402   15028.0     2  2014   15028.0
29          A04   PRODUCT1    201402    1319.0     2  2014    1319.0
...         ...        ...       ...       ...   ...   ...       ...
124628      A16  PRODUCT64    201630     188.0    30  2016     188.0
124629      A16  PRODUCT48    201630      16.0    30  2016      16.0
124630      A16  PRODUCT49    201630       9.0    30  2016       9.0
124631      A16  PRODUCT74    201630      18.0    30  2016      18.0
124632      A16  PRODUCT40    201630     285.0    30  2016     285.0
124633      A16  PRODUCT47    201630     155.0    30  2016     155.0
124634      A16  PRODUCT60    201630    2491.0    30  2016    2491.0
124635      A16  PRODUCT56    201630    2026.0    30  2016    2026.0
124636      A16  PRODUCT12    201630   17067.0    30  2016   17067.0
124637      A16   PRODUCT1    201630     168.0    30  2016     168.0
124638      A16  PRODUCT41    201630       0.0    30  2016       0.0
124639      A16  PRODUCT51    201630       0.0    30  2016       0.0
124640      A16  PRODUCT68    201630       0.0    30  2016       0.0
124641      A16  PRODUCT33    201630    3887.0    30  2016    3887.0
124642      A16  PRODUCT14    201630      95.0    30  2016      95.0
124643      A10   PRODUCT2    201630   12570.0    30  2016   12570.0
124644      A10  PRODUCT58    201630    4461.0    30  2016    4461.0
124645      A10  PRODUCT63    201630    4308.0    30  2016    4308.0
124646      A10  PRODUCT15    201630       0.0    30  2016       0.0
124647      A10   PRODUCT4    201630    3012.0    30  2016    3012.0
124648      A10  PRODUCT16    201630     231.0    30  2016     231.0
124649      A10  PRODUCT59    201630  231024.0    30  2016  231024.0
124650      A10  PRODUCT34    201630   34436.0    30  2016   34436.0
124651      A10  PRODUCT40    201630       0.0    30  2016       0.0
124652      A10  PRODUCT47    201630       4.0    30  2016       4.0
124653      A10  PRODUCT60    201630     824.0    30  2016     824.0
124654      A10  PRODUCT56    201630     275.0    30  2016     275.0
124655      A10  PRODUCT61    201630       0.0    30  2016       0.0
124656      A10  PRODUCT12    201630   15021.0    30  2016   15021.0
124657      A10   PRODUCT1    201630     568.0    30  2016     568.0

[124658 rows x 7 columns]

In [9]:
selloutData[selloutData.QTY >=0]

       REGIONID    PRODUCT  YEARWEEK       QTY
0           A60   PRODUCT4    201402      71.0
1           A60  PRODUCT59    201402   22275.0
2           A60  PRODUCT34    201402    4463.0
3           A60  PRODUCT47    201402       0.0
4           A60  PRODUCT56    201402      23.0
5           A60  PRODUCT57    201402      14.0
6           A60  PRODUCT12    201402    1186.0
7           A60   PRODUCT1    201402       7.0
8           A60  PRODUCT33    201402     101.0
9           A60  PRODUCT62    201402     336.0
10          A37  PRODUCT58    201402       0.0
11          A37  PRODUCT59    201402   11492.0
12          A37  PRODUCT34    201402     825.0
13          A31  PRODUCT58    201402       0.0
14          A31  PRODUCT59    201402     560.0
15          A31  PRODUCT34    201402     103.0
16          A04  PRODUCT58    201402       0.0
17          A04  PRODUCT63    201402     740.0
18          A04  PRODUCT15    201402     394.0
19          A04   PRODUCT4    201402    2550.0
20          A04  PRODUCT16    201402       4.0
21          A04  PRODUCT59    201402   36549.0
22          A04  PRODUCT34    201402    4773.0
23          A04  PRODUCT40    201402     146.0
24          A04  PRODUCT47    201402       5.0
25          A04  PRODUCT60    201402       9.0
26          A04  PRODUCT56    201402     109.0
27          A04  PRODUCT57    201402    1195.0
28          A04  PRODUCT12    201402   15028.0
29          A04   PRODUCT1    201402    1319.0
...         ...        ...       ...       ...
124628      A16  PRODUCT64    201630     188.0
124629      A16  PRODUCT48    201630      16.0
124630      A16  PRODUCT49    201630       9.0
124631      A16  PRODUCT74    201630      18.0
124632      A16  PRODUCT40    201630     285.0
124633      A16  PRODUCT47    201630     155.0
124634      A16  PRODUCT60    201630    2491.0
124635      A16  PRODUCT56    201630    2026.0
124636      A16  PRODUCT12    201630   17067.0
124637      A16   PRODUCT1    201630     168.0
124638      A16  PRODUCT41    201630       0.0
124639      A16  PRODUCT51    201630       0.0
124640      A16  PRODUCT68    201630       0.0
124641      A16  PRODUCT33    201630    3887.0
124642      A16  PRODUCT14    201630      95.0
124643      A10   PRODUCT2    201630   12570.0
124644      A10  PRODUCT58    201630    4461.0
124645      A10  PRODUCT63    201630    4308.0
124646      A10  PRODUCT15    201630       0.0
124647      A10   PRODUCT4    201630    3012.0
124648      A10  PRODUCT16    201630     231.0
124649      A10  PRODUCT59    201630  231024.0
124650      A10  PRODUCT34    201630   34436.0
124651      A10  PRODUCT40    201630       0.0
124652      A10  PRODUCT47    201630       4.0
124653      A10  PRODUCT60    201630     824.0
124654      A10  PRODUCT56    201630     275.0
124655      A10  PRODUCT61    201630       0.0
124656      A10  PRODUCT12    201630   15021.0
124657      A10   PRODUCT1    201630     568.0

[124335 rows x 4 columns]

In [46]:
sortKey = ["REGIONID", "PRODUCT", "YEARWEEK"]

In [47]:
sortedDate = refinedDate.sort_values(sortKey)
sortedDate

       REGIONID    PRODUCT  YEARWEEK      QTY  WEEK  YEAR  QTY_NEW  test
298         A00  PRODUCT34    201401    661.0     1  2014    661.0  2014
1757        A00  PRODUCT34    201402    679.0     2  2014    679.0  2014
3125        A00  PRODUCT34    201403    578.0     3  2014    578.0  2014
205         A00  PRODUCT34    201404    532.0     4  2014    532.0  2014
4369        A00  PRODUCT34    201405    516.0     5  2014    516.0  2014
4313        A00  PRODUCT34    201406    423.0     6  2014    423.0  2014
6288        A00  PRODUCT34    201407    407.0     7  2014    407.0  2014
6403        A00  PRODUCT34    201408    364.0     8  2014    364.0  2014
5158        A00  PRODUCT34    201409    470.0     9  2014    470.0  2014
7437        A00  PRODUCT34    201410    538.0    10  2014    538.0  2014
10123       A00  PRODUCT34    201411    369.0    11  2014    369.0  2014
8844        A00  PRODUCT34    201412    352.0    12  2014    352.0  2014
10813       A00  PRODUCT34    201413    354.0    13  2014    354.0  2014
11274       A00  PRODUCT34    201414    312.0    14  2014    312.0  2014
12128       A00  PRODUCT34    201415    295.0    15  2014    295.0  2014
13437       A00  PRODUCT34    201416    284.0    16  2014    284.0  2014
13639       A00  PRODUCT34    201417    237.0    17  2014    237.0  2014
14444       A00  PRODUCT34    201418    180.0    18  2014    180.0  2014
15828       A00  PRODUCT34    201419    161.0    19  2014    161.0  2014
15458       A00  PRODUCT34    201420    140.0    20  2014    140.0  2014
17079       A00  PRODUCT34    201421    116.0    21  2014    116.0  2014
16966       A00  PRODUCT34    201422     98.0    22  2014     98.0  2014
17838       A00  PRODUCT34    201423     83.0    23  2014     83.0  2014
19465       A00  PRODUCT34    201424     71.0    24  2014     71.0  2014
49427       A00  PRODUCT34    201425     65.0    25  2014     65.0  2014
22468       A00  PRODUCT34    201426     60.0    26  2014     60.0  2014
49145       A00  PRODUCT34    201427     82.0    27  2014     82.0  2014
26940       A00  PRODUCT34    201428    151.0    28  2014    151.0  2014
27839       A00  PRODUCT34    201429    274.0    29  2014    274.0  2014
47552       A00  PRODUCT34    201430    532.0    30  2014    532.0  2014
...         ...        ...       ...      ...   ...   ...      ...   ...
74307       A77  PRODUCT12    201623   5348.0    23  2016   5348.0  2016
65352       A77  PRODUCT12    201624   3275.0    24  2016   3275.0  2016
60503       A77  PRODUCT12    201625   4158.0    25  2016   4158.0  2016
101444      A77  PRODUCT12    201626   4815.0    26  2016   4815.0  2016
124470      A77  PRODUCT12    201627   3002.0    27  2016   3002.0  2016
103773      A77  PRODUCT12    201628   3319.0    28  2016   3319.0  2016
91996       A77  PRODUCT12    201629   4200.0    29  2016   4200.0  2016
122120      A77  PRODUCT12    201630   7120.0    30  2016   7120.0  2016
96744       A77  PRODUCT12    201631   6345.0    31  2016   6345.0  2016
101638      A77  PRODUCT12    201632   5863.0    32  2016   5863.0  2016
101440      A77  PRODUCT12    201633   4211.0    33  2016   4211.0  2016
124466      A77  PRODUCT12    201634   4019.0    34  2016   4019.0  2016
122700      A77  PRODUCT12    201635   3624.0    35  2016   3624.0  2016
108820      A77  PRODUCT12    201636   3742.0    36  2016   3742.0  2016
111700      A77  PRODUCT12    201637   3002.0    37  2016   3002.0  2016
118386      A77  PRODUCT12    201638   5583.0    38  2016   5583.0  2016
113557      A77  PRODUCT12    201639  14734.0    39  2016  14734.0  2016
118523      A77  PRODUCT12    201640   3603.0    40  2016   3603.0  2016
117573      A77  PRODUCT12    201641   4010.0    41  2016   4010.0  2016
121416      A77  PRODUCT12    201642   4292.0    42  2016   4292.0  2016
92761       A77  PRODUCT12    201643   5760.0    43  2016   5760.0  2016
108564      A77  PRODUCT12    201644   4109.0    44  2016   4109.0  2016
99443       A77  PRODUCT12    201645   4506.0    45  2016   4506.0  2016
99556       A77  PRODUCT12    201646   4255.0    46  2016   4255.0  2016
103153      A77  PRODUCT12    201647   3574.0    47  2016   3574.0  2016
102292      A77  PRODUCT12    201648   4152.0    48  2016   4152.0  2016
97525       A77  PRODUCT12    201649   5086.0    49  2016   5086.0  2016
102329      A77  PRODUCT12    201650   5846.0    50  2016   5846.0  2016
101211      A77  PRODUCT12    201651   4933.0    51  2016   4933.0  2016
92325       A77  PRODUCT12    201652   7551.0    52  2016   7551.0  2016

[123864 rows x 8 columns]

In [49]:
##인덱스 정리
step1Data = sortedDate.reset_index()
step1Data

,index,REGIONID,PRODUCT,YEARWEEK,QTY,WEEK,YEAR,QTY_NEW,test
0,298,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014
1,1757,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014
2,3125,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014
3,205,A00,PRODUCT34,201404,532.0,4,2014,532.0,2014
4,4369,A00,PRODUCT34,201405,516.0,5,2014,516.0,2014
5,4313,A00,PRODUCT34,201406,423.0,6,2014,423.0,2014
6,6288,A00,PRODUCT34,201407,407.0,7,2014,407.0,2014
7,6403,A00,PRODUCT34,201408,364.0,8,2014,364.0,2014
8,5158,A00,PRODUCT34,201409,470.0,9,2014,470.0,2014
9,7437,A00,PRODUCT34,201410,538.0,10,2014,538.0,2014
10,10123,A00,PRODUCT34,201411,369.0,11,2014,369.0,2014
11,8844,A00,PRODUCT34,201412,352.0,12,2014,352.0,2014
12,10813,A00,PRODUCT34,201413,354.0,13,2014,354.0,2014
13,11274,A00,PRODUCT34,201414,312.0,14,2014,312.0,2014
14,12128,A00,PRODUCT34,201415,295.0,15,2014,295.0,2014
15,13437,A00,PRODUCT34,201416,284.0,16,2014,284.0,2014
16,13639,A00,PRODUCT34,201417,237.0,17,2014,237.0,2014
17,14444,A00,PRODUCT34,201418,180.0,18,2014,180.0,2014
18,15828,A00,PRODUCT34,201419,161.0,19,2014,161.0,2014
19,15458,A00,PRODUCT34,201420,140.0,20,2014,140.0,2014
20,17079,A00,PRODUCT34,201421,116.0,21,2014,116.0,2014
21,16966,A00,PRODUCT34,201422,98.0,22,2014,98.0,2014
22,17838,A00,PRODUCT34,201423,83.0,23,2014,83.0,2014
23,19465,A00,PRODUCT34,201424,71.0,24,2014,71.0,2014
24,49427,A00,PRODUCT34,201425,65.0,25,2014,65.0,2014
25,22468,A00,PRODUCT34,201426,60.0,26,2014,60.0,2014
26,49145,A00,PRODUCT34,201427,82.0,27,2014,82.0,2014
27,26940,A00,PRODUCT34,201428,151.0,28,2014,151.0,2014
28,27839,A00,PRODUCT34,201429,274.0,29,2014,274.0,2014
29,47552,A00,PRODUCT34,201430,532.0,30,2014,532.0,2014
...,...,...,...,...,...,...,...,...,...
123834,74307,A77,PRODUCT12,201623,5348.0,23,2016,5348.0,2016
123835,65352,A77,PRODUCT12,201624,3275.0,24,2016,3275.0,2016
123836,60503,A77,PRODUCT12,201625,4158.0,25,2016,4158.0,2016
123837,101444,A77,PRODUCT12,201626,4815.0,26,2016,4815.0,2016
123838,124470,A77,PRODUCT12,201627,3002.0,27,2016,3002.0,2016
123839,103773,A77,PRODUCT12,201628,3319.0,28,2016,3319.0,2016
123840,91996,A77,PRODUCT12,201629,4200.0,29,2016,4200.0,2016
123841,122120,A77,PRODUCT12,201630,7120.0,30,2016,7120.0,2016
123842,96744,A77,PRODUCT12,201631,6345.0,31,2016,6345.0,2016
123843,101638,A77,PRODUCT12,201632,5863.0,32,2016,5863.0,2016
123844,101440,A77,PRODUCT12,201633,4211.0,33,2016,4211.0,2016
123845,124466,A77,PRODUCT12,201634,4019.0,34,2016,4019.0,2016
123846,122700,A77,PRODUCT12,201635,3624.0,35,2016,3624.0,2016
123847,108820,A77,PRODUCT12,201636,3742.0,36,2016,3742.0,2016
123848,111700,A77,PRODUCT12,201637,3002.0,37,2016,3002.0,2016
123849,118386,A77,PRODUCT12,201638,5583.0,38,2016,5583.0,2016
123850,113557,A77,PRODUCT12,201639,14734.0,39,2016,14734.0,2016
123851,118523,A77,PRODUCT12,201640,3603.0,40,2016,3603.0,2016
123852,117573,A77,PRODUCT12,201641,4010.0,41,2016,4010.0,2016
123853,121416,A77,PRODUCT12,201642,4292.0,42,2016,4292.0,2016
123854,92761,A77,PRODUCT12,201643,5760.0,43,2016,5760.0,2016
123855,108564,A77,PRODUCT12,201644,4109.0,44,2016,4109.0,2016
123856,99443,A77,PRODUCT12,201645,4506.0,45,2016,4506.0,2016
123857,99556,A77,PRODUCT12,201646,4255.0,46,2016,4255.0,2016
123858,103153,A77,PRODUCT12,201647,3574.0,47,2016,3574.0,2016
123859,102292,A77,PRODUCT12,201648,4152.0,48,2016,4152.0,2016
123860,97525,A77,PRODUCT12,201649,5086.0,49,2016,5086.0,2016
123861,102329,A77,PRODUCT12,201650,5846.0,50,2016,5846.0,2016
123862,101211,A77,PRODUCT12,201651,4933.0,51,2016,4933.0,2016
123863,92325,A77,PRODUCT12,201652,7551.0,52,2016,7551.0,2016

In [50]:
##인덱스 삭제 후 정리
step1Data = sortedDate.reset_index(drop = True)
step1Data

       REGIONID    PRODUCT  YEARWEEK      QTY  WEEK  YEAR  QTY_NEW  test
0           A00  PRODUCT34    201401    661.0     1  2014    661.0  2014
1           A00  PRODUCT34    201402    679.0     2  2014    679.0  2014
2           A00  PRODUCT34    201403    578.0     3  2014    578.0  2014
3           A00  PRODUCT34    201404    532.0     4  2014    532.0  2014
4           A00  PRODUCT34    201405    516.0     5  2014    516.0  2014
5           A00  PRODUCT34    201406    423.0     6  2014    423.0  2014
6           A00  PRODUCT34    201407    407.0     7  2014    407.0  2014
7           A00  PRODUCT34    201408    364.0     8  2014    364.0  2014
8           A00  PRODUCT34    201409    470.0     9  2014    470.0  2014
9           A00  PRODUCT34    201410    538.0    10  2014    538.0  2014
10          A00  PRODUCT34    201411    369.0    11  2014    369.0  2014
11          A00  PRODUCT34    201412    352.0    12  2014    352.0  2014
12          A00  PRODUCT34    201413    354.0    13  2014    354.0  2014
13          A00  PRODUCT34    201414    312.0    14  2014    312.0  2014
14          A00  PRODUCT34    201415    295.0    15  2014    295.0  2014
15          A00  PRODUCT34    201416    284.0    16  2014    284.0  2014
16          A00  PRODUCT34    201417    237.0    17  2014    237.0  2014
17          A00  PRODUCT34    201418    180.0    18  2014    180.0  2014
18          A00  PRODUCT34    201419    161.0    19  2014    161.0  2014
19          A00  PRODUCT34    201420    140.0    20  2014    140.0  2014
20          A00  PRODUCT34    201421    116.0    21  2014    116.0  2014
21          A00  PRODUCT34    201422     98.0    22  2014     98.0  2014
22          A00  PRODUCT34    201423     83.0    23  2014     83.0  2014
23          A00  PRODUCT34    201424     71.0    24  2014     71.0  2014
24          A00  PRODUCT34    201425     65.0    25  2014     65.0  2014
25          A00  PRODUCT34    201426     60.0    26  2014     60.0  2014
26          A00  PRODUCT34    201427     82.0    27  2014     82.0  2014
27          A00  PRODUCT34    201428    151.0    28  2014    151.0  2014
28          A00  PRODUCT34    201429    274.0    29  2014    274.0  2014
29          A00  PRODUCT34    201430    532.0    30  2014    532.0  2014
...         ...        ...       ...      ...   ...   ...      ...   ...
123834      A77  PRODUCT12    201623   5348.0    23  2016   5348.0  2016
123835      A77  PRODUCT12    201624   3275.0    24  2016   3275.0  2016
123836      A77  PRODUCT12    201625   4158.0    25  2016   4158.0  2016
123837      A77  PRODUCT12    201626   4815.0    26  2016   4815.0  2016
123838      A77  PRODUCT12    201627   3002.0    27  2016   3002.0  2016
123839      A77  PRODUCT12    201628   3319.0    28  2016   3319.0  2016
123840      A77  PRODUCT12    201629   4200.0    29  2016   4200.0  2016
123841      A77  PRODUCT12    201630   7120.0    30  2016   7120.0  2016
123842      A77  PRODUCT12    201631   6345.0    31  2016   6345.0  2016
123843      A77  PRODUCT12    201632   5863.0    32  2016   5863.0  2016
123844      A77  PRODUCT12    201633   4211.0    33  2016   4211.0  2016
123845      A77  PRODUCT12    201634   4019.0    34  2016   4019.0  2016
123846      A77  PRODUCT12    201635   3624.0    35  2016   3624.0  2016
123847      A77  PRODUCT12    201636   3742.0    36  2016   3742.0  2016
123848      A77  PRODUCT12    201637   3002.0    37  2016   3002.0  2016
123849      A77  PRODUCT12    201638   5583.0    38  2016   5583.0  2016
123850      A77  PRODUCT12    201639  14734.0    39  2016  14734.0  2016
123851      A77  PRODUCT12    201640   3603.0    40  2016   3603.0  2016
123852      A77  PRODUCT12    201641   4010.0    41  2016   4010.0  2016
123853      A77  PRODUCT12    201642   4292.0    42  2016   4292.0  2016
123854      A77  PRODUCT12    201643   5760.0    43  2016   5760.0  2016
123855      A77  PRODUCT12    201644   4109.0    44  2016   4109.0  2016
123856      A77  PRODUCT12    201645   4506.0    45  2016   4506.0  2016
123857      A77  PRODUCT12    201646   4255.0    46  2016   4255.0  2016
123858      A77  PRODUCT12    201647   3574.0    47  2016   3574.0  2016
123859      A77  PRODUCT12    201648   4152.0    48  2016   4152.0  2016
123860      A77  PRODUCT12    201649   5086.0    49  2016   5086.0  2016
123861      A77  PRODUCT12    201650   5846.0    50  2016   5846.0  2016
123862      A77  PRODUCT12    201651   4933.0    51  2016   4933.0  2016
123863      A77  PRODUCT12    201652   7551.0    52  2016   7551.0  2016

[123864 rows x 8 columns]

In [52]:
##rolling함수 하용하기
step1Data.QTY_NEW.rolling(window=15, center=True).mean()

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7          456.666667
8          431.533333
9          402.066667
10         375.533333
11         350.800000
12         325.733333
13         305.266667
14         284.666667
15         265.933333
16         239.333333
17         207.800000
18         187.200000
19         169.200000
20         155.666667
21         153.133333
22         168.933333
23         179.933333
24         193.000000
25         205.266667
26         217.600000
27         229.066667
28         237.600000
29         246.200000
             ...
123834    4159.933333
123835    4272.333333
123836    4435.133333
123837    4530.533333
123838    4518.466667
123839    4527.000000
123840    4528.533333
123841    4402.866667
123842    4418.533333
123843    5182.466667
123844    5145.466667
123845    5091.800000
123846    5177.800000
123847    5340.533333
123848    5334.466667
123849    5160.200000
123850    5020.866667
123851    4868.266667
123852    4864.333333
123853    4935.466667
123854    5083.600000
123855    5163.000000
123856    5466.266667
123857            NaN
123858            NaN
123859            NaN
123860            NaN
123861            NaN
123862            NaN
123863            NaN
Name: QTY_NEW, Length: 123864, dtype: float64

In [55]:
step1Data["MA"] = step1Data.QTY_NEW.rolling(window=15, center=True).mean()
step1Data

,REGIONID,PRODUCT,YEARWEEK,QTY,WEEK,YEAR,QTY_NEW,test,MA
0,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,NaN
1,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,NaN
2,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,NaN
3,A00,PRODUCT34,201404,532.0,4,2014,532.0,2014,NaN
4,A00,PRODUCT34,201405,516.0,5,2014,516.0,2014,NaN
5,A00,PRODUCT34,201406,423.0,6,2014,423.0,2014,NaN
6,A00,PRODUCT34,201407,407.0,7,2014,407.0,2014,NaN
7,A00,PRODUCT34,201408,364.0,8,2014,364.0,2014,456.666667
8,A00,PRODUCT34,201409,470.0,9,2014,470.0,2014,431.533333
9,A00,PRODUCT34,201410,538.0,10,2014,538.0,2014,402.066667
10,A00,PRODUCT34,201411,369.0,11,2014,369.0,2014,375.533333
11,A00,PRODUCT34,201412,352.0,12,2014,352.0,2014,350.800000
12,A00,PRODUCT34,201413,354.0,13,2014,354.0,2014,325.733333
13,A00,PRODUCT34,201414,312.0,14,2014,312.0,2014,305.266667
14,A00,PRODUCT34,201415,295.0,15,2014,295.0,2014,284.666667
15,A00,PRODUCT34,201416,284.0,16,2014,284.0,2014,265.933333
16,A00,PRODUCT34,201417,237.0,17,2014,237.0,2014,239.333333
17,A00,PRODUCT34,201418,180.0,18,2014,180.0,2014,207.800000
18,A00,PRODUCT34,201419,161.0,19,2014,161.0,2014,187.200000
19,A00,PRODUCT34,201420,140.0,20,2014,140.0,2014,169.200000
20,A00,PRODUCT34,201421,116.0,21,2014,116.0,2014,155.666667
21,A00,PRODUCT34,201422,98.0,22,2014,98.0,2014,153.133333
22,A00,PRODUCT34,201423,83.0,23,2014,83.0,2014,168.933333
23,A00,PRODUCT34,201424,71.0,24,2014,71.0,2014,179.933333
24,A00,PRODUCT34,201425,65.0,25,2014,65.0,2014,193.000000
25,A00,PRODUCT34,201426,60.0,26,2014,60.0,2014,205.266667
26,A00,PRODUCT34,201427,82.0,27,2014,82.0,2014,217.600000
27,A00,PRODUCT34,201428,151.0,28,2014,151.0,2014,229.066667
28,A00,PRODUCT34,201429,274.0,29,2014,274.0,2014,237.600000
29,A00,PRODUCT34,201430,532.0,30,2014,532.0,2014,246.200000
...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,23,2016,5348.0,2016,4159.933333
123835,A77,PRODUCT12,201624,3275.0,24,2016,3275.0,2016,4272.333333
123836,A77,PRODUCT12,201625,4158.0,25,2016,4158.0,2016,4435.133333
123837,A77,PRODUCT12,201626,4815.0,26,2016,4815.0,2016,4530.533333
123838,A77,PRODUCT12,201627,3002.0,27,2016,3002.0,2016,4518.466667
123839,A77,PRODUCT12,201628,3319.0,28,2016,3319.0,2016,4527.000000
123840,A77,PRODUCT12,201629,4200.0,29,2016,4200.0,2016,4528.533333
123841,A77,PRODUCT12,201630,7120.0,30,2016,7120.0,2016,4402.866667
123842,A77,PRODUCT12,201631,6345.0,31,2016,6345.0,2016,4418.533333
123843,A77,PRODUCT12,201632,5863.0,32,2016,5863.0,2016,5182.466667
123844,A77,PRODUCT12,201633,4211.0,33,2016,4211.0,2016,5145.466667
123845,A77,PRODUCT12,201634,4019.0,34,2016,4019.0,2016,5091.800000
123846,A77,PRODUCT12,201635,3624.0,35,2016,3624.0,2016,5177.800000
123847,A77,PRODUCT12,201636,3742.0,36,2016,3742.0,2016,5340.533333
123848,A77,PRODUCT12,201637,3002.0,37,2016,3002.0,2016,5334.466667
123849,A77,PRODUCT12,201638,5583.0,38,2016,5583.0,2016,5160.200000
123850,A77,PRODUCT12,201639,14734.0,39,2016,14734.0,2016,5020.866667
123851,A77,PRODUCT12,201640,3603.0,40,2016,3603.0,2016,4868.266667
123852,A77,PRODUCT12,201641,4010.0,41,2016,4010.0,2016,4864.333333
123853,A77,PRODUCT12,201642,4292.0,42,2016,4292.0,2016,4935.466667
123854,A77,PRODUCT12,201643,5760.0,43,2016,5760.0,2016,5083.600000
123855,A77,PRODUCT12,201644,4109.0,44,2016,4109.0,2016,5163.000000
123856,A77,PRODUCT12,201645,4506.0,45,2016,4506.0,2016,5466.266667
123857,A77,PRODUCT12,201646,4255.0,46,2016,4255.0,2016,NaN
123858,A77,PRODUCT12,201647,3574.0,47,2016,3574.0,2016,NaN
123859,A77,PRODUCT12,201648,4152.0,48,2016,4152.0,2016,NaN
123860,A77,PRODUCT12,201649,5086.0,49,2016,5086.0,2016,NaN
123861,A77,PRODUCT12,201650,5846.0,50,2016,5846.0,2016,NaN
123862,A77,PRODUCT12,201651,4933.0,51,2016,4933.0,2016,NaN
123863,A77,PRODUCT12,201652,7551.0,52,2016,7551.0,2016,NaN

In [75]:
##min_periods를 쓰면 평균값을 모두 나타낼수있다(ex: window =5,min_periods=4가 되면 0번째 인뎃스 평균값이 나오지 안는다)
## 하지만 min_periods=1 or 2 or 3은 센터에서 포함이 되기 떄문에 평균값을 나타낼수 있다.
step1Data["MA"] = step1Data.QTY_NEW.rolling(window=5, min_periods = 1, center=True).mean()
step1Data

,REGIONID,PRODUCT,YEARWEEK,QTY,WEEK,YEAR,QTY_NEW,test,MA
0,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333
1,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000
2,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,593.200000
3,A00,PRODUCT34,201404,532.0,4,2014,532.0,2014,545.600000
4,A00,PRODUCT34,201405,516.0,5,2014,516.0,2014,491.200000
5,A00,PRODUCT34,201406,423.0,6,2014,423.0,2014,448.400000
6,A00,PRODUCT34,201407,407.0,7,2014,407.0,2014,436.000000
7,A00,PRODUCT34,201408,364.0,8,2014,364.0,2014,440.400000
8,A00,PRODUCT34,201409,470.0,9,2014,470.0,2014,429.600000
9,A00,PRODUCT34,201410,538.0,10,2014,538.0,2014,418.600000
10,A00,PRODUCT34,201411,369.0,11,2014,369.0,2014,416.600000
11,A00,PRODUCT34,201412,352.0,12,2014,352.0,2014,385.000000
12,A00,PRODUCT34,201413,354.0,13,2014,354.0,2014,336.400000
13,A00,PRODUCT34,201414,312.0,14,2014,312.0,2014,319.400000
14,A00,PRODUCT34,201415,295.0,15,2014,295.0,2014,296.400000
15,A00,PRODUCT34,201416,284.0,16,2014,284.0,2014,261.600000
16,A00,PRODUCT34,201417,237.0,17,2014,237.0,2014,231.400000
17,A00,PRODUCT34,201418,180.0,18,2014,180.0,2014,200.400000
18,A00,PRODUCT34,201419,161.0,19,2014,161.0,2014,166.800000
19,A00,PRODUCT34,201420,140.0,20,2014,140.0,2014,139.000000
20,A00,PRODUCT34,201421,116.0,21,2014,116.0,2014,119.600000
21,A00,PRODUCT34,201422,98.0,22,2014,98.0,2014,101.600000
22,A00,PRODUCT34,201423,83.0,23,2014,83.0,2014,86.600000
23,A00,PRODUCT34,201424,71.0,24,2014,71.0,2014,75.400000
24,A00,PRODUCT34,201425,65.0,25,2014,65.0,2014,72.200000
25,A00,PRODUCT34,201426,60.0,26,2014,60.0,2014,85.800000
26,A00,PRODUCT34,201427,82.0,27,2014,82.0,2014,126.400000
27,A00,PRODUCT34,201428,151.0,28,2014,151.0,2014,219.800000
28,A00,PRODUCT34,201429,274.0,29,2014,274.0,2014,297.600000
29,A00,PRODUCT34,201430,532.0,30,2014,532.0,2014,367.800000
...,...,...,...,...,...,...,...,...,...
123834,A77,PRODUCT12,201623,5348.0,23,2016,5348.0,2016,4277.400000
123835,A77,PRODUCT12,201624,3275.0,24,2016,3275.0,2016,4496.600000
123836,A77,PRODUCT12,201625,4158.0,25,2016,4158.0,2016,4119.600000
123837,A77,PRODUCT12,201626,4815.0,26,2016,4815.0,2016,3713.800000
123838,A77,PRODUCT12,201627,3002.0,27,2016,3002.0,2016,3898.800000
123839,A77,PRODUCT12,201628,3319.0,28,2016,3319.0,2016,4491.200000
123840,A77,PRODUCT12,201629,4200.0,29,2016,4200.0,2016,4797.200000
123841,A77,PRODUCT12,201630,7120.0,30,2016,7120.0,2016,5369.400000
123842,A77,PRODUCT12,201631,6345.0,31,2016,6345.0,2016,5547.800000
123843,A77,PRODUCT12,201632,5863.0,32,2016,5863.0,2016,5511.600000
123844,A77,PRODUCT12,201633,4211.0,33,2016,4211.0,2016,4812.400000
123845,A77,PRODUCT12,201634,4019.0,34,2016,4019.0,2016,4291.800000
123846,A77,PRODUCT12,201635,3624.0,35,2016,3624.0,2016,3719.600000
123847,A77,PRODUCT12,201636,3742.0,36,2016,3742.0,2016,3994.000000
123848,A77,PRODUCT12,201637,3002.0,37,2016,3002.0,2016,6137.000000
123849,A77,PRODUCT12,201638,5583.0,38,2016,5583.0,2016,6132.800000
123850,A77,PRODUCT12,201639,14734.0,39,2016,14734.0,2016,6186.400000
123851,A77,PRODUCT12,201640,3603.0,40,2016,3603.0,2016,6444.400000
123852,A77,PRODUCT12,201641,4010.0,41,2016,4010.0,2016,6479.800000
123853,A77,PRODUCT12,201642,4292.0,42,2016,4292.0,2016,4354.800000
123854,A77,PRODUCT12,201643,5760.0,43,2016,5760.0,2016,4535.400000
123855,A77,PRODUCT12,201644,4109.0,44,2016,4109.0,2016,4584.400000
123856,A77,PRODUCT12,201645,4506.0,45,2016,4506.0,2016,4440.800000
123857,A77,PRODUCT12,201646,4255.0,46,2016,4255.0,2016,4119.200000
123858,A77,PRODUCT12,201647,3574.0,47,2016,3574.0,2016,4314.600000
123859,A77,PRODUCT12,201648,4152.0,48,2016,4152.0,2016,4582.600000
123860,A77,PRODUCT12,201649,5086.0,49,2016,5086.0,2016,4718.200000
123861,A77,PRODUCT12,201650,5846.0,50,2016,5846.0,2016,5513.600000
123862,A77,PRODUCT12,201651,4933.0,51,2016,4933.0,2016,5854.000000
123863,A77,PRODUCT12,201652,7551.0,52,2016,7551.0,2016,6110.000000

In [129]:
##현재경로에 저장
step1Data.to_csv("./result.csv")

In [133]:
groupKey = ["REGIONID", "PRODUCT", "YEAR"]

In [134]:
groupData = step1Data.groupby(groupKey)[["QTY_NEW"]].mean()
groupData

                               QTY_NEW
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014     275.961538
                   2015      86.634615
                   2016      36.576923
         PRODUCT58 2014       2.673077
                   2015       5.711538
                   2016     307.365385
         PRODUCT59 2014   27418.692308
                   2015   52240.846154
                   2016   28213.173077
A01      PRODUCT1  2014    8622.461538
                   2015    6384.788462
                   2016    2131.076923
         PRODUCT12 2014  169397.826923
                   2015  195479.884615
                   2016  225598.500000
         PRODUCT14 2014   12495.769231
                   2015   18622.923077
                   2016   22567.307692
         PRODUCT15 2014    5076.769231
                   2015    4830.211538
                   2016    4359.192308
         PRODUCT16 2014    1208.192308
                   2015    1450.826923
                   2016    1524.538462
         PRODUCT19 2014    2588.711538
                   2015    3582.730769
                   2016    3845.884615
         PRODUCT2  2014     376.961538
                   2015   19318.096154
                   2016   48481.326923
...                                ...
A68      PRODUCT58 2014       2.942308
                   2015       0.692308
                   2016       1.346154
         PRODUCT59 2014    5558.750000
                   2015   11542.365385
                   2016    6239.403846
A69      PRODUCT34 2014     234.307692
                   2015      88.076923
                   2016     177.326923
         PRODUCT58 2014       1.192308
                   2015       3.961538
                   2016       8.365385
         PRODUCT59 2014    1570.730769
                   2015    9655.673077
                   2016   13596.500000
A70      PRODUCT34 2014    1455.269231
                   2015    2764.115385
                   2016    2280.615385
         PRODUCT58 2014      14.384615
                   2015      38.038462
                   2016     129.769231
         PRODUCT59 2014   27002.326923
                   2015   78249.230769
                   2016  102784.307692
A77      PRODUCT1  2014    2262.653846
                   2015    3030.019231
                   2016    3375.326923
         PRODUCT12 2014    2035.788462
                   2015    3540.980769
                   2016    4837.153846

[2382 rows x 1 columns]

In [135]:
groupDataResult = groupData.reset_index()

In [136]:
groupDataResult.head()

  REGIONID    PRODUCT  YEAR     QTY_NEW
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

In [137]:
##컬럼명 변경
groupDataResult = groupDataResult.rename(columns = {'QTY_NEW': 'QTY_MEAN'})

In [139]:
groupDataResult.head()

  REGIONID    PRODUCT  YEAR    QTY_MEAN
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

In [141]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  WEEK  YEAR  QTY_NEW  test          MA
0      A00  PRODUCT34    201401  661.0     1  2014    661.0  2014  639.333333
1      A00  PRODUCT34    201402  679.0     2  2014    679.0  2014  612.500000
2      A00  PRODUCT34    201403  578.0     3  2014    578.0  2014  593.200000
3      A00  PRODUCT34    201404  532.0     4  2014    532.0  2014  545.600000
4      A00  PRODUCT34    201405  516.0     5  2014    516.0  2014  491.200000

In [143]:
##데이터 합치기
mergeResult = pd.merge(step1Data, groupDataResult,\
                      left_on = ["REGIONID","PRODUCT","YEAR"], right_on =["REGIONID","PRODUCT","YEAR"])
mergeResult.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,WEEK,YEAR,QTY_NEW,test,MA,QTY_MEAN
0,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,275.961538
1,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,275.961538
2,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,593.200000,275.961538
3,A00,PRODUCT34,201404,532.0,4,2014,532.0,2014,545.600000,275.961538
4,A00,PRODUCT34,201405,516.0,5,2014,516.0,2014,491.200000,275.961538

In [144]:
mergeResult.to_csv("./mergeResult1.csv")

In [ ]:
##그룹바이함수 만들기

In [153]:
mergeResult.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,WEEK,YEAR,QTY_NEW,test,MA,QTY_MEAN
0,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,275.961538
1,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,275.961538
2,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,593.200000,275.961538
3,A00,PRODUCT34,201404,532.0,4,2014,532.0,2014,545.600000,275.961538
4,A00,PRODUCT34,201405,516.0,5,2014,516.0,2014,491.200000,275.961538

In [145]:
groupKey = ["REGIONID", "PRODUCT"]

In [171]:
def groupRolling(oneGroup):

    #groupDataSet = mergeResult.groupby(groupKey)

    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])

    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData["MA2"] = indexGroupData["QTY_NEW"].rolling(window=15, center = True, min_periods=1).mean()

    return indexGroupData

In [172]:
finalResult = mergeResult.groupby(groupKey).apply(groupRolling)

In [175]:
finalResult2 = finalResult.reset_index(drop=True)

In [178]:
finalResult2.to_csv("./finalResult2.csv")

In [156]:
def groupRolling(oneGroup):

    #len(list(groupDataSet.groups))

    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[2])
    #oneGroup

##인덱스제정
    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData["MA2"] = indexGroupData["QTY_NEW"].rolling(window=15, center = True, min_periods=1).mean()

    return indexGroupData

In [157]:
finalResult = mergeResult.groupby(groupKey).apply(groupRolling)

In [158]:
finalResult

                       REGIONID    PRODUCT  YEARWEEK      QTY  WEEK  YEAR  \
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT59    201401   9988.0     1  2014
                   1        A00  PRODUCT59    201402   9005.0     2  2014
                   2        A00  PRODUCT59    201403   8416.0     3  2014
                   3        A00  PRODUCT59    201404   8553.0     4  2014
                   4        A00  PRODUCT59    201405  10355.0     5  2014
                   5        A00  PRODUCT59    201406  13799.0     6  2014
                   6        A00  PRODUCT59    201407  17292.0     7  2014
                   7        A00  PRODUCT59    201408  16369.0     8  2014
                   8        A00  PRODUCT59    201409  15047.0     9  2014
                   9        A00  PRODUCT59    201410  15895.0    10  2014
                   10       A00  PRODUCT59    201411  16255.0    11  2014
                   11       A00  PRODUCT59    201412  17339.0    12  2014
                   12       A00  PRODUCT59    201413  17419.0    13  2014
                   13       A00  PRODUCT59    201414  22482.0    14  2014
                   14       A00  PRODUCT59    201415  22007.0    15  2014
                   15       A00  PRODUCT59    201416  19690.0    16  2014
                   16       A00  PRODUCT59    201417  17791.0    17  2014
                   17       A00  PRODUCT59    201418  16455.0    18  2014
                   18       A00  PRODUCT59    201419  17133.0    19  2014
                   19       A00  PRODUCT59    201420  18901.0    20  2014
                   20       A00  PRODUCT59    201421  21135.0    21  2014
                   21       A00  PRODUCT59    201422  22455.0    22  2014
                   22       A00  PRODUCT59    201423  25364.0    23  2014
                   23       A00  PRODUCT59    201424  25368.0    24  2014
                   24       A00  PRODUCT59    201425  23751.0    25  2014
                   25       A00  PRODUCT59    201426  25772.0    26  2014
                   26       A00  PRODUCT59    201427  25533.0    27  2014
                   27       A00  PRODUCT59    201428  26506.0    28  2014
                   28       A00  PRODUCT59    201429  26775.0    29  2014
                   29       A00  PRODUCT59    201430  32364.0    30  2014
...                         ...        ...       ...      ...   ...   ...
A77      PRODUCT12 126      A00  PRODUCT59    201623  22650.0    23  2016
                   127      A00  PRODUCT59    201624  27021.0    24  2016
                   128      A00  PRODUCT59    201625  22426.0    25  2016
                   129      A00  PRODUCT59    201626  32988.0    26  2016
                   130      A00  PRODUCT59    201627  29813.0    27  2016
                   131      A00  PRODUCT59    201628  28125.0    28  2016
                   132      A00  PRODUCT59    201629  24441.0    29  2016
                   133      A00  PRODUCT59    201630  23822.0    30  2016
                   134      A00  PRODUCT59    201631  24008.0    31  2016
                   135      A00  PRODUCT59    201632  21644.0    32  2016
                   136      A00  PRODUCT59    201633  18376.0    33  2016
                   137      A00  PRODUCT59    201634  15529.0    34  2016
                   138      A00  PRODUCT59    201635  18000.0    35  2016
                   139      A00  PRODUCT59    201636  20378.0    36  2016
                   140      A00  PRODUCT59    201637  16656.0    37  2016
                   141      A00  PRODUCT59    201638  20481.0    38  2016
                   142      A00  PRODUCT59    201639  21084.0    39  2016
                   143      A00  PRODUCT59    201640  22382.0    40  2016
                   144      A00  PRODUCT59    201641  14358.0    41  2016
                   145      A00  PRODUCT59    201642  18242.0    42  2016
                   146      A00  PRODUCT59    201643  15337.0    43  2016
                   147      A00  PRODUCT59    201644  19388.0    44  2016
                   148      A00  PRODUCT59    201645  21567.0    45  2016
                   149      A00  PRODUCT59    201646  18314.0    46  2016
                   150      A00  PRODUCT59    201647  19733.0    47  2016
                   151      A00  PRODUCT59    201648  18127.0    48  2016
                   152      A00  PRODUCT59    201649  22993.0    49  2016
                   153      A00  PRODUCT59    201650  26854.0    50  2016
                   154      A00  PRODUCT59    201651  30237.0    51  2016
                   155      A00  PRODUCT59    201652  33511.0    52  2016

                        QTY_NEW  test       MA        TTTTTT           MA2
REGIONID PRODUCT
A00      PRODUCT34 0     9988.0  2014   5491.0  27418.692308  11722.125000
                   1     9005.0  2014   7196.2  27418.692308  12091.555556
                   2     8416.0  2014   9263.4  27418.692308  12471.900000
                   3     8553.0  2014  10025.6  27418.692308  12815.818182
                   4    10355.0  2014  11683.0  27418.692308  13192.750000
                   5    13799.0  2014  13273.6  27418.692308  13517.846154
                   6    17292.0  2014  14572.4  27418.692308  14158.142857
                   7    16369.0  2014  15680.4  27418.692308  14681.400000
                   8    15047.0  2014  16171.6  27418.692308  15328.200000
                   9    15895.0  2014  16181.0  27418.692308  15913.933333
                   10   16255.0  2014  16391.0  27418.692308  16449.866667
                   11   17339.0  2014  17878.0  27418.692308  17021.866667
                   12   17419.0  2014  19100.4  27418.692308  17591.600000
                   13   22482.0  2014  19787.4  27418.692308  18080.666667
                   14   22007.0  2014  19877.8  27418.692308  18424.866667
                   15   19690.0  2014  19685.0  27418.692308  19024.533333
                   16   17791.0  2014  18615.2  27418.692308  19712.600000
                   17   16455.0  2014  17994.0  27418.692308  20236.333333
                   18   17133.0  2014  18283.0  27418.692308  20870.800000
                   19   18901.0  2014  19215.8  27418.692308  21417.066667
                   20   21135.0  2014  20997.6  27418.692308  22022.866667
                   21   22455.0  2014  22644.6  27418.692308  22309.066667
                   22   25364.0  2014  23614.6  27418.692308  22999.533333
                   23   25368.0  2014  24542.0  27418.692308  23753.400000
                   24   23751.0  2014  25157.6  27418.692308  24763.466667
                   25   25772.0  2014  25386.0  27418.692308  25951.400000
                   26   25533.0  2014  25667.4  27418.692308  27339.800000
                   27   26506.0  2014  27390.0  27418.692308  28811.000000
                   28   26775.0  2014  28435.2  27418.692308  30207.466667
                   29   32364.0  2014  29917.0  27418.692308  31436.266667
...                         ...   ...      ...           ...           ...
A77      PRODUCT12 126  22650.0  2016  24861.2  28213.173077  26879.333333
                   127  27021.0  2016  26308.0  28213.173077  26425.066667
                   128  22426.0  2016  26979.6  28213.173077  26157.466667
                   129  32988.0  2016  28074.6  28213.173077  25488.800000
                   130  29813.0  2016  27558.6  28213.173077  24578.533333
                   131  28125.0  2016  27837.8  28213.173077  24070.133333
                   132  24441.0  2016  26041.8  28213.173077  23711.733333
                   133  23822.0  2016  24408.0  28213.173077  23058.466667
                   134  24008.0  2016  22458.2  28213.173077  22913.866667
                   135  21644.0  2016  20675.8  28213.173077  22518.066667
                   136  18376.0  2016  19511.4  28213.173077  22515.133333
                   137  15529.0  2016  18785.4  28213.173077  21273.133333
                   138  18000.0  2016  17787.8  28213.173077  20501.733333
                   139  20378.0  2016  18208.8  28213.173077  19649.200000
                   140  16656.0  2016  19319.8  28213.173077  19312.333333
                   141  20481.0  2016  20196.2  28213.173077  19162.000000
                   142  21084.0  2016  18992.2  28213.173077  18782.400000
                   143  22382.0  2016  19309.4  28213.173077  18655.000000
                   144  14358.0  2016  18280.6  28213.173077  18638.400000
                   145  18242.0  2016  17941.4  28213.173077  19136.000000
                   146  15337.0  2016  17778.4  28213.173077  19726.266667
                   147  19388.0  2016  18569.6  28213.173077  20383.533333
                   148  21567.0  2016  18867.8  28213.173077  21507.200000
                   149  18314.0  2016  19425.8  28213.173077  21580.500000
                   150  19733.0  2016  20146.8  28213.173077  21618.692308
                   151  18127.0  2016  21204.2  28213.173077  21555.083333
                   152  22993.0  2016  23588.8  28213.173077  22209.363636
                   153  26854.0  2016  26344.4  28213.173077  22606.100000
                   154  30237.0  2016  25542.0  28213.173077  23413.777778
                   155  33511.0  2016  22777.2  28213.173077  23917.000000

[123864 rows x 11 columns]

In [128]:
finalResult.to_csv("./finalResult(2).csv")

In [1]:
pwd

'C:\\Users\\SMART-21\\Python_Git\\Why python For Analytics'

In [96]:
##데이터 합치기(속성) (2)
mergedData1 = pd.merge(step1Data, groupDataResult, how="left", on="REGIONID")
mergedData1.head(20)

,REGIONID,PRODUCT_x,YEARWEEK,QTY,WEEK,YEAR_x,QTY_NEW,test,MA,PRODUCT_y,YEAR_y,TTTTTT
0,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT34,2014,275.961538
1,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT34,2015,86.634615
2,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT34,2016,36.576923
3,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT58,2014,2.673077
4,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT58,2015,5.711538
5,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT58,2016,307.365385
6,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT59,2014,27418.692308
7,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT59,2015,52240.846154
8,A00,PRODUCT34,201401,661.0,1,2014,661.0,2014,639.333333,PRODUCT59,2016,28213.173077
9,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT34,2014,275.961538
10,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT34,2015,86.634615
11,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT34,2016,36.576923
12,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT58,2014,2.673077
13,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT58,2015,5.711538
14,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT58,2016,307.365385
15,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT59,2014,27418.692308
16,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT59,2015,52240.846154
17,A00,PRODUCT34,201402,679.0,2,2014,679.0,2014,612.500000,PRODUCT59,2016,28213.173077
18,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,593.200000,PRODUCT34,2014,275.961538
19,A00,PRODUCT34,201403,578.0,3,2014,578.0,2014,593.200000,PRODUCT34,2015,86.634615