In [14]:
## actual_sales 데이터 가져오기

In [15]:
import pandas as pd

In [16]:
    actualData = pd.read_csv("./dataset/pro_actual_sales.csv")

In [17]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [18]:
## week가 52주차일때 까지만 값들을 뽑는다

In [19]:
actualData = actualData[actualData['week'] <= 52]

In [20]:
## 값들이 잘 처리되었는지 확인
## 52주차 이상인 데이터가 없으면 ok

In [21]:
actualData[actualData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

In [22]:
## 중복되는 주차가 없도록 1차 그룹바이

In [23]:
groupKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3']

In [67]:
## 타입 확인
actualData.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek         int64
year             int64
week             int64
qty              int64
dtype: object

In [24]:
## 비어있는 주차를 채워주는 함수 구현

In [68]:
from isoweek import Week

In [69]:
def postweek(inputYW, gapW):
    
    inpYW = str(inputYW) ##  입력 연도주차 문자열 변환
    inpY = inpYW[0:4] ## 
    inpW = inpYW[4: ]
    
    inGap = int(gapW)
    
    sumValue = int(inpW) + inpGap
    
    curryear = int(inpY)
    lastweek = Week.last_week_of_year(curryear).week
    while (sumValue > lastweek):
        sumvalue -= lastweek
        curryear += 1
        lastweek = Week.last_week_of_year(curryear).week
        
    if(sumValue < 10):
        lastanswer = str(curryear) + "0" + str(sumValue)
    else:
        lastanswer = str(curryear) + str(sumValue)
    return lastanswer

In [72]:
postWeek(201501,10)

NameError: name 'postWeek' is not defined

In [73]:
def minmaxweek(inputdf) :
    minweek = min(inputdf['yearweek']) ## yearweek의 최솟값을 넣어준다
    maxweek = max(inputdf['yearweek']) ## yearweek의 최댓값을 넣어준다
    fullyearweek = [] ## 빈 배열을 만들어준다.
    i = minweek       ## minweek를 반복할 변수에 넣어준다
    fullyearweek.append(i) ## 빈 배열에 들어갈 데이터들을 append 해준다
    while (max(fullyearweek) < maxweek): ## 반복문으로 최댓값보다 최솟값이 작을 때 반복
        inputWeek = int(postWeek(str(max(fullyearweek)),1))
        fullyearweek.append(inputWeek)
    newyearweekList = list(set(fullyearweek).difference(set(list(inputdf.yearweek.values))))

    for i in range(len(newyearweekList)):
        inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
        inputdf.loc[len(inputdf)-1,'yearweek'] = newyearweekList[i]
        inputdf.loc[len(inputdf)-1,'year'] = round(newyearweekList[i]/100)
        inputdf.loc[len(inputdf)-1,'week'] = newyearweekList[i]%100
        inputdf.loc[len(inputdf)-1,'qty'] = 0.0
    inputdf.sort_values('yearweek')
    inputdf.reset_index(drop = True, )
    return inputdf

In [71]:
groupData2 = actualData.groupby(groupKey).apply(minmaxweek)

NameError: name 'postWeek' is not defined

In [64]:
groupData2

                                                                 regionSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    28546         A01
                                                          28547         A01
                                                          28548         A01
                                                          28549         A01
                                                          28550         A01
                                                          28551         A01
                                                          28552         A01
                                                          28553         A01
                                                          28554         A01
                                                          28555         A01
                                                          28556         A01
                                                          28557         A01
                                                          28558         A01
                                                          28559         A01
                                                          28560         A01
                                                          28561         A01
                                                          28562         A01
                                                          28563         A01
                                                          28564         A01
                                                          28565         A01
                                                          28566         A01
                                                          67859         A01
                                                          67860         A01
                                                          68718         A01
                                                          68719         A01
                                                          25            NaN
                                                          26            NaN
                                                          27            NaN
                                                          28            NaN
                                                          29            NaN
...                                                                     ...
           PG05        SALESID0001 SITEID0007 ITEM0457    141           NaN
                                                          142           NaN
                                                          143           NaN
                                                          144           NaN
                                                          145           NaN
                                                          146           NaN
                                                          147           NaN
                                                          148           NaN
                                                          149           NaN
                                                          150           NaN
                                                          151           NaN
                                                          152           NaN
                                                          153           NaN
                                                          154           NaN
                                                          155           NaN
                                                          156           NaN
                                                          157           NaN
                                                          158           NaN
                                                          159           NaN
                                                          160           NaN
                                                          161           NaN
                                                          162           NaN
                                                          163           NaN
                                                          164           NaN
                                                          165           NaN
                                                          166           NaN
                                                          167           NaN
                                                          168           NaN
                                                          169           NaN
                                              ITEM0458    114913        A01

                                                                  productSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    28546           NaN
                                                          28547           NaN
                                                          28548           NaN
                                                          28549           NaN
                                                          28550           NaN
                                                          28551           NaN
                                                          28552           NaN
                                                          28553           NaN
                                                          28554           NaN
                                                          28555           NaN
                                                          28556           NaN
                                                          28557           NaN
                                                          28558           NaN
                                                          28559           NaN
                                                          28560           NaN
                                                          28561           NaN
                                                          28562           NaN
                                                          28563           NaN
                                                          28564           NaN
                                                          28565           NaN
                                                          28566           NaN
                                                          67859           NaN
                                                          67860           NaN
                                                          68718           NaN
                                                          68719           NaN
                                                          25              NaN
                                                          26              NaN
                                                          27              NaN
                                                          28              NaN
                                                          29              NaN
...                                                                       ...
           PG05        SALESID0001 SITEID0007 ITEM0457    141             NaN
                                                          142             NaN
                                                          143             NaN
                                                          144             NaN
                                                          145             NaN
                                                          146             NaN
                                                          147             NaN
                                                          148             NaN
                                                          149             NaN
                                                          150             NaN
                                                          151             NaN
                                                          152             NaN
                                                          153             NaN
                                                          154             NaN
                                                          155             NaN
                                                          156             NaN
                                                          157             NaN
                                                          158             NaN
                                                          159             NaN
                                                          160             NaN
                                                          161             NaN
                                                          162             NaN
                                                          163             NaN
                                                          164             NaN
                                                          165             NaN
                                                          166             NaN
                                                          167             NaN
                                                          168             NaN
                                                          169             NaN
                                              ITEM0458    114913          NaN

                                                                 productSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    28546         PG01
                                                          28547         PG01
                                                          28548         PG01
                                                          28549         PG01
                                                          28550         PG01
                                                          28551         PG01
                                                          28552         PG01
                                                          28553         PG01
                                                          28554         PG01
                                                          28555         PG01
                                                          28556         PG01
                                                          28557         PG01
                                                          28558         PG01
                                                          28559         PG01
                                                          28560         PG01
                                                          28561         PG01
                                                          28562         PG01
                                                          28563         PG01
                                                          28564         PG01
                                                          28565         PG01
                                                          28566         PG01
                                                          67859         PG01
                                                          67860         PG01
                                                          68718         PG01
                                                          68719         PG01
                                                          25             NaN
                                                          26             NaN
                                                          27             NaN
                                                          28             NaN
                                                          29             NaN
...                                                                      ...
           PG05        SALESID0001 SITEID0007 ITEM0457    141            NaN
                                                          142            NaN
                                                          143            NaN
                                                          144            NaN
                                                          145            NaN
                                                          146            NaN
                                                          147            NaN
                                                          148            NaN
                                                          149            NaN
                                                          150            NaN
                                                          151            NaN
                                                          152            NaN
                                                          153            NaN
                                                          154            NaN
                                                          155            NaN
                                                          156            NaN
                                                          157            NaN
                                                          158            NaN
                                                          159            NaN
                                                          160            NaN
                                                          161            NaN
                                                          162            NaN
                                                          163            NaN
                                                          164            NaN
                                                          165            NaN
                                                          166            NaN
                                                          167            NaN
                                                          168            NaN
                                                          169            NaN
                                              ITEM0458    114913        PG05

                                                                   regionSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    28546   SALESID0001
                                                          28547   SALESID0001
                                                          28548   SALESID0001
                                                          28549   SALESID0001
                                                          28550   SALESID0001
                                                          28551   SALESID0001
                                                          28552   SALESID0001
                                                          28553   SALESID0001
                                                          28554   SALESID0001
                                                          28555   SALESID0001
                                                          28556   SALESID0001
                                                          28557   SALESID0001
                                                          28558   SALESID0001
                                                          28559   SALESID0001
                                                          28560   SALESID0001
                                                          28561   SALESID0001
                                                          28562   SALESID0001
                                                          28563   SALESID0001
                                                          28564   SALESID0001
                                                          28565   SALESID0001
                                                          28566   SALESID0001
                                                          67859   SALESID0001
                                                          67860   SALESID0001
                                                          68718   SALESID0001
                                                          68719   SALESID0001
                                                          25              NaN
                                                          26              NaN
                                                          27              NaN
                                                          28              NaN
                                                          29              NaN
...                                                                       ...
           PG05        SALESID0001 SITEID0007 ITEM0457    141             NaN
                                                          142             NaN
                                                          143             NaN
                                                          144             NaN
                                                          145             NaN
                                                          146             NaN
                                                          147             NaN
                                                          148             NaN
                                                          149             NaN
                                                          150             NaN
                                                          151             NaN
                                                          152             NaN
                                                          153             NaN
                                                          154             NaN
                                                          155             NaN
                                                          156             NaN
                                                          157             NaN
                                                          158             NaN
                                                          159             NaN
                                                          160             NaN
                                                          161             NaN
                                                          162             NaN
                                                          163             NaN
                                                          164             NaN
                                                          165             NaN
                                                          166             NaN
                                                          167             NaN
                                                          168             NaN
                                                          169             NaN
                                              ITEM0458    114913  SALESID0001

                                                                  regionSeg3  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    28546   SITEID0001
                                                          28547   SITEID0001
                                                          28548   SITEID0001
                                                          28549   SITEID0001
                                                          28550   SITEID0001

In [65]:
groupData2.to_csv("./grou123123123.csv")

In [66]:
groupData2.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek       float64
year           float64
week           float64
qty            float64
dtype: object

In [74]:
import pandas as pd

In [75]:
## 데이터 불러오기

In [77]:
actualData = pd.read_csv("./dataset/pro_actual_sales.csv")

In [78]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [79]:
## 빈 주차 생성

In [80]:
def postWeek(inputYearWeek, gapWeek):
    inputYW = str(inputYearWeek)
    inputY = inputYearWeek[0:4]
    inputW = inputYearWeek[4: ]
    
    inputGap = int(GapWeek)
    
    sumValue = int(inputW) + inputGap
    
    curryear = int(inputY)
    lastweek = Week.last_week_of_year(curryear).week
    
    if(sumValue < 10):
        lastanswer = str(curryear) + "0" + str(sumValue)
    else:
        lastanswer = str(curryear) +  str(sumValue)
    return lastanswer

In [ ]:
def minmaxewwk(inputdf):
    inputdf.reset_index(drop = True, inplace = True)
    minweek = min(inputdf['yearweek'])
    maxweek = max(inputdf['yearweek'])
    fullyearweek = []
    i = minweek
    fullyearweek.append(i)
    
    while (max(fullweek) < maxweek):
        inputWeek = int(postWeek(str(max(fullyearweek)),1))
        fullyearweek.append(inputWeek)
        
    newyearweekList = list(set(fullyearweek).difference(set(list(inputdf.yearweek.value))))
    
    for i in range(len(newyearweekList)):