In [35]:
tvList = [ 'UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004' ]

range(0,4)

prefix= "LED_TV"

for i in range(0,4):
    tvList[i] = prefix + tvList[i]

tvList[0] = prefix + tvList[0]
tvList[1] = prefix + tvList[1]
tvList[2] = prefix + tvList[2]

tvList

In [36]:
prefix= "LED_TV"

In [37]:
i = 0
tvListLen = len(tvList)

In [38]:
while(i < 4):
     tvList[i] = prefix + tvList[i]
        i = i+1

IndentationError: unexpected indent (<ipython-input-38-f3bf1814ee08>, line 3)

In [41]:
n=5
print("{0}단 시작".format(n))

5단 시작

In [44]:
for n in range(1,3)
    print ("{0}단 시작".format(n))
for i in (1,10):
    print ("{0} * {1} = {2} ".format(n, i, n*i))

SyntaxError: invalid syntax (<ipython-input-44-3ff79e4514d0>, line 1)

In [45]:
n=1

In [46]:
print("{0}단 시작".format(n))

1단 시작

In [47]:
i=3

In [48]:
print ("{0} * {1} = {2} ".format(n, i, n*i))

1 * 3 = 3

In [56]:
c =[1,2,3,4]

In [57]:
c

[1, 2, 3, 4]

In [58]:
type(c)

list

In [59]:
y="2017w42"

In [64]:
y.split("w")[0]

AttributeError: 'list' object has no attribute 'split'

#자료형

In [1]:
import pandas as pd

In [2]:
customerData = pd.read_csv("./dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
customerTotalList

[30300,
 46500,
 22700,
 31400,
 44900,
 38300,
 19900,
 14800,
 24400,
 30400,
 30300,
 34300,
 14900,
 16300,
 25000,
 27500,
 18200,
 40200,
 74600,
 42700,
 14900,
 58700,
 16000,
 17800,
 26800,
 14000,
 31800,
 16000,
 37600,
 32800,
 176600,
 16200,
 102000,
 56800,
 14700,
 14800,
 2500,
 23600,
 38100,
 82300,
 62900,
 5000,
 16100,
 40900,
 14600,
 28600,
 12300,
 37800,
 32600,
 16100,
 18400,
 17700,
 9400,
 37400,
 8800,
 26600,
 20900,
 15800,
 14800,
 20500,
 19700,
 39900,
 122900,
 33000,
 12100,
 14700,
 48400,
 51900,
 17400,
 26500,
 12800,
 15500,
 21400,
 15300,
 36000,
 49000,
 35800,
 16900,
 43000,
 28200,
 45100,
 18200,
 20600,
 23900,
 14500,
 70000,
 15800,
 6600,
 40500,
 17000,
 43800,
 146800,
 86900,
 19200,
 17100,
 18800,
 24700,
 17500,
 25100,
 19000,
 18800,
 55700,
 31500,
 27800,
 16000,
 14100,
 17100,
 20600,
 19100,
 14500,
 29400,
 17700,
 54400,
 13100,
 33700,
 17600,
 29000,
 41300,
 27700,
 25900,
 21900,
 41100,
 15000,
 67100,
 29600,
 13900,
 21700,
 15200,
 13100,
 25600,
 12500,
 18600,
 30700,
 23000,
 41400,
 29400,
 40400,
 50600,
 34700,
 12800,
 26300,
 14900,
 14500,
 14100,
 72100,
 15600,
 31700,
 14500,
 15700,
 15800,
 33200,
 23300,
 15300,
 17000,
 16300,
 16800,
 73900,
 23400,
 15800,
 15700,
 21000,
 101500,
 35800,
 55600,
 33900,
 23600,
 15900,
 38100,
 13800,
 13500,
 42600,
 42900,
 18400,
 18900,
 12900,
 12800,
 20900,
 31200,
 36300,
 15800,
 14100,
 43400,
 29500,
 19000,
 22700,
 36000,
 62800,
 50400,
 61000,
 32200,
 78400,
 8100,
 19400,
 3000,
 17600,
 17300,
 16400,
 37700,
 17200,
 16400,
 19200,
 15300,
 14000,
 33700,
 13500,
 27500,
 48000,
 68500,
 16600,
 20400,
 7000,
 17700,
 12600,
 14400,
 40600,
 34500,
 72300,
 38800,
 45000,
 24000,
 28400,
 25700,
 39000,
 21700,
 5700,
 40800,
 22500,
 29000,
 120100,
 50900,
 29500,
 142800,
 15600,
 22400,
 18800,
 31600,
 15500,
 14800,
 19300,
 62100,
 16100,
 18800,
 14100,
 18300,
 17600,
 15700,
 16200,
 41500,
 18300,
 15900,
 54200,
 24600,
 21400,
 16200,
 15900,
 50400,
 14200,
 18200,
 20200,
 38600,
 12000,
 36000,
 16100,
 13400,
 16800,
 22500,
 15200,
 17600,
 12700,
 15400,
 21500,
 28300,
 16300,
 13300,
 19500,
 66600,
 17100,
 34600,
 5700,
 35400,
 33200,
 17900,
 27400,
 29200,
 85500,
 16300,
 19800,
 44600,
 41400,
 15600,
 16400,
 24100,
 17100,
 15500,
 18000,
 35100,
 19000,
 43400,
 52700,
 59900,
 15200,
 21600,
 17000,
 11500,
 17500,
 27800,
 114400,
 38700,
 22100,
 29600,
 16800,
 27400,
 16400,
 36300,
 16600,
 22500,
 19000,
 62500,
 27800,
 45000,
 28100,
 32700,
 33600,
 22100,
 30000,
 14600,
 14900,
 15300,
 2800,
 19700,
 21200,
 55700,
 92500,
 13800,
 31400,
 17300,
 20300,
 21800,
 29400,
 59500,
 16800,
 15300,
 14100,
 53700,
 69200,
 27800,
 33600,
 36300,
 31400,
 2700,
 19400,
 13600,
 93100,
 11700,
 21300,
 18200,
 2700,
 14600,
 14400,
 16100,
 23700,
 49300,
 15200,
 27100,
 23800,
 16200,
 17000,
 55700,
 20600,
 41400,
 17200,
 37200,
 42200,
 55400,
 11900,
 14300,
 27700,
 31200,
 16100,
 12300,
 25400,
 41800,
 26200,
 40300,
 20200,
 33700,
 35500,
 41600,
 18200,
 34200,
 16100,
 18500,
 16300,
 24200,
 29400,
 32000,
 19800,
 57900,
 29100,
 39900,
 15300,
 15000,
 14600,
 32500,
 29200,
 16500,
 18100,
 13200,
 23100,
 29800,
 35500,
 23700,
 16100,
 27600,
 22300,
 35300,
 16400,
 36100,
 14300,
 15400,
 59400,
 20600,
 15100,
 30900,
 13600,
 119500,
 21500,
 36800,
 30600,
 22900,
 13200,
 64900,
 14300,
 18000,
 16900,
 19300,
 25500,
 14600,
 17800,
 12500,
 13900,
 15800,
 19200,
 17500,
 19900,
 14700,
 15100,
 24400,
 27200,
 42700,
 14500,
 14700,
 30200,
 29500,
 32600,
 16000,
 15900,
 18000,
 18300,
 14500,
 29700,
 180300,
 24400,
 13000,
 17200,
 40200,
 13400,
 24600,
 17400,
 2700,
 17900,
 19900,
 11700,
 29200,
 13500,
 12300,
 30500,
 7200,
 14400,
 26300,
 33800,
 22100,
 17000,
 35300,
 14700,
 17900,
 16700,
 18600,
 37200,
 35300,
 23100,
 18600,
 17000,
 23100,
 33500,
 35400,
 49800,
 15700,
 14100,
 101000,
 26200,
 15700,
 87700,
 2500,
 33000,
 16900,
 18200,
 23500,
 17800,
 14800,
 34100,
 42500,
 13300,
 14400,
 36100,
 21700,
 25600,
 33000,
 36500,
 12300,
 74500,
 13000,
 19800,
 36400,
 24400,
 15400,
 81900,
 20800,
 31600,
 22700,
 46700,
 20100,
 30900,
 36900,
 39400,
 16200,
 46200,
 35700,
 65000,
 28700,
 18600,
 16200,
 17000,
 40700,
 42000,
 67000,
 14000,
 15000,
 35400,
 15000,
 14700,
 12700,
 29100,
 19500,
 14700,
 31800,
 50600,
 22300,
 18300,
 15400,
 15200,
 67600,
 50300,
 19600,
 136400,
 32600,
 2500,
 38500,
 17300,
 37200,
 19900,
 28700,
 14500,
 38900,
 22700,
 21300,
 2600,
 145500,
 34800,
 55300,
 24400,
 12200,
 15800,
 28600,
 14900,
 23800,
 14000,
 47200,
 30900,
 33700,
 14500,
 43400,
 22900,
 21800,
 29800,
 34800,
 31600,
 16700,
 38500,
 71400,
 24400,
 14200,
 21900,
 38000,
 17300,
 21500,
 18000,
 28000,
 67100,
 17800,
 18000,
 16300,
 81200,
 22300,
 15700,
 40800,
 29500,
 32800,
 14900,
 18300,
 14400,
 21900,
 93300,
 44300,
 19700,
 53000,
 39100,
 19800,
 13600,
 27200,
 2400,
 35600,
 62700,
 15900,
 30400,
 28600,
 14400,
 18300,
 2000,
 13500,
 20700,
 20400,
 15900,
 16500,
 32900,
 55300,
 26400,
 16400,
 17000,
 56600,
 63300,
 19400,
 17900,
 19300,
 22100,
 27500,
 16000,
 14200,
 39800,
 22200,
 16300,
 16200,
 34900,
 18000,
 17900,
 13700,
 26000,
 56100,
 16100,
 36000,
 41000,
 26100,
 444500,
 13500,
 23500,
 14000,
 14400,
 48700,
 15300,
 18200,
 2700,
 17200,
 26100,
 13900,
 23900,
 17300,
 20800,
 19900,
 14500,
 46000,
 10600,
 107600,
 43500,
 14000,
 6000,
 17200,
 55500,
 22900,
 25300,
 2800,
 57400,
 43200,
 34300,
 19800,
 21000,
 41000,
 55800,
 28200,
 11900,
 15000,
 18800,
 21500,
 19300,
 19600,
 53900,
 25600,
 15000,
 14400,
 74700,
 29400,
 15400,
 35100,
 24000,
 25700,
 53000,
 12800,
 16400,
 14400,
 22400,
 13100,
 35200,
 45700,
 14400,
 45500,
 46400,
 37800,
 27600,
 25000,
 44100,
 47400,
 41500,
 51700,
 25600,
 15700,
 45400,
 75400,
 57000,
 35700,
 89100,
 405200,
 32400,
 13700,
 57700,
 16900,
 72400,
 61300,
 8600,
 34700,
 24900,
 155500,
 54400,
 245700,
 42200,
 60300,
 206000,
 124000,
 507900,
 17500,
 26800,
 32300,
 25400,
 160100,
 65300,
 15800,
 106800,
 15800,
 87000,
 173400,
 26400,
 132900,
 155800,
 29500,
 22400,
 24500,
 58500,
 14300,
 15200,
 101200,
 40300,
 41600,
 146900,
 43700,
 182900,
 55500,
 39900,
 197100,
 66100,
 85600,
 36600,
 12200,
 50300,
 45800,
 36300,
 54700,
 52500,
 127100,
 28200,
 25700,
 129800,
 25500,
 94600,
 40500,
 65800,
 16100,
 36700,
 16200,
 128200,
 28000,
 32400,
 44400,
 72400,
 14300,
 31100,
 35500,
 32200,
 15900,
 37900,
 31100,
 35000,
 81800,
 155600,
 72800,
 40500,
 30300,
 44000,
 16800,
 43000,
 106100,
 80100,
 41600,
 68400,
 194600,
 36800,
 24200,
 35200,
 30900,
 24200,
 35200,
 35000,
 11300,
 20400,
 116000,
 101000,
 57900,
 16500,
 45000,
 55600,
 32000,
 30600,
 68000,
 84800,
 33700,
 68300,
 72700,
 39000,
 29100,
 155200,
 93500,
 17700,
 54100,
 13000,
 16000,
 25700,
 21500,
 22100,
 27300,
 13900,
 14100,
 140900,
 45800,
 8600,
 57000,
 16700,
 26100,
 33800,
 18500,
 14400,
 19700,
 13500,
 28200,
 68400,
 108500,
 15700,
 31500,
 43700,
 17000,
 28300,
 30800,
 38700,
 328300,
 236100,
 70900,
 87500,
 80100,
 12000,
 36000,
 79400,
 15400,
 84500,
 8500,
 14200,
 153500,
 41000,
 25200,
 84600,
 36000,
 95100,
 283500,
 31000,
 19600,
 89000,
 17000,
 41200,
 43200,
 139500,
 19500,
 122200,
 191100,
 27600,
 133900,
 82000,
 30000,
 30400,
 75300,
 15900,
 58900,
 24400,
 44800,
 37100,
 53900,
 25600,
 20600,
 63000,
 20200,
 163900,
 49700,
 44600,
 37600,
 13600,
 16000,
 61800,
 86500,
 32300,
 17700,
 35100,
 31800,
 137800,
 38400,
 40000,
 20400,
 33000,
 312000,
 121400,
 19700,
 33300,
 15300,
 104800,
 24400,
 21100,
 27900,
 61000,
 412600,
 38100,
 49800,
 42800,
 44200,
 40500,
 81100,
 58200,
 12100,
 40100,
 25600,
 272400,
 16500,
 19600,
 43800,
 63900,
 38500,
 5800,
 63400,
 13900,
 17200,
 14000,
 26600,
 177200,
 126000,
 55200,
 3400,
 29100,
 15500,
 ...]

In [3]:
k = min(customerTotalList)
k

0

In [4]:
k2 = max(customerTotalList)
k2

3103500

In [5]:
kk = customerTotalList.index(k)
kk

2017

In [6]:
kk2 = customerTotalList.index(k2)
kk2

38587

In [7]:
del customerTotalList[kk]

In [8]:
del customerTotalList[kk2]

In [9]:
sum1 = sum(customerTotalList)
sum1

10568701400

In [10]:
len1= len(customerTotalList)
len1

299998

In [11]:
ag= sum1/len1
ag

35229.23952826352

In [1]:
tvList2 = ['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'UN40EN004']
preFix = "LEDTV_"

In [3]:
i=0
while(i < 4):
    prefixCount = tvList2[i].count(preFix)
    prefixCount

    preFix + tvList2[i]

    ## 만약 count가 0이면 prefix 추가
    if(prefixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    ## 만약 count가 1개면 유지
    elif(prefixCount == 1):
        tvList2[i] = tvList2[i]
    ## 만약 count가 2개이상이면
    ## prefix제거 후 prefix 한개 추가
    else:
        tvList2[i] = tvList2[i].replace(preFix, "")
        tvList2[i] = preFix + tvList2[i]
    i=i+1

In [4]:
tvList2

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [21]:
aaa = "LEDTV_LEDTV_LEDTV_AAA"

In [22]:
aaa.replace("LEDTV_","")

'AAA'

In [80]:
i = 0
tvListLen = len(tvList2)

In [82]:
tvListLen = len(tvList2)
while(i < tvListLen):
    preFixCnt = tvList2[i].count
    if(preFixCnt==0):
        tvList2[i] = preFix + tvList2[i]
        elif(preFixCnt==1):
            tvLis2t[i] = tvList2[i]
        else:
            tvList2[i] = tvList2[i].replace(preFix*preFixCnt,preFix)

SyntaxError: invalid syntax (<ipython-input-82-7fa570a8d53f>, line 6)

# 함수사용

In [83]:
a = 10
b = 5.3
display2Digit = a/b
(1.8867924528301887)

1.8867924528301887

In [86]:
target = 1.8867924528301887
target_step1 = target * 100
target_step1

188.67924528301887

In [87]:
target_step2 = round(target_step1)
target_step2

189

In [88]:
target_step3 = target_step2/100
target_step3

1.89

In [100]:
def roundTwo(value):
    step1 = value * 100
    step2 = round(step1)
    step3 = step2/100
return step3

a = 10
b = 5.3
display2Dgit = a/b
print(display2Dgit)
answer = roundRwo(display2Dgit)
answer

NameError: name 'step3' is not defined

In [96]:
testValue = 1.234123

In [97]:
round2Digit(testValue)

In [12]:
value = 1.222533
digitp3

NameError: name 'digitp3' is not defined

In [23]:
List2 = [1,2,3,4,5]

In [24]:
def List1(ListValue):
    max1 = max(ListValue)
    min1 = min(ListValue)
    
    ListValue.remove(max1)
    ListValue.remove(min1)
    
    avg = sum(ListValue) / len(ListValue)
    return avg

In [25]:
List1(List2)

3.0

In [ ]:
name = input("성함을 입력하세요:")
print(name)

In [3]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 





# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData

# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
selloutData

# 데이터 저장
resultname='mysqlresult_TH'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

In [25]:
import pandas as pd
import cx_Oracle
from sqlalchemy import create_engine

In [59]:
engine_oracle = create_engine('oracle+cx_oracle://TH:TH@192.168.110.21:1522/xe')

In [60]:
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_oracle)
selloutData

    regionid productgroup yearweek   volume
0        A01       ST0002   201512   151750
1        A01       ST0001   201520   645626
2        A01       ST0002   201520   125863
3        A01       ST0001   201515   810144
4        A01       ST0002   201515   128999
5        A01       ST0001   201518   671464
6        A01       ST0002   201518   134467
7        A01       ST0001   201513   470040
8        A01       ST0002   201513   140297
9        A01       ST0001   201511   524787
10       A01       ST0002   201511   145509
11       A01       ST0001   201516   764927
12       A01       ST0002   201516   140313
13       A01       ST0001   201519   682757
14       A01       ST0002   201519   128668
15       A01       ST0001   201514   428195
16       A01       ST0002   201514   137488
17       A01       ST0001   201512   486509
18       A01       ST0001   201517   697502
19       A01       ST0002   201517   127163
20       A01       ST0001   201507   620392
21       A01       ST0002   201507   146476
22       A01       ST0001   201510   511679
23       A01       ST0002   201510   153152
24       A01       ST0001   201502   438251
25       A01       ST0002   201502   123875
26       A01       ST0001   201505   482381
27       A01       ST0002   201505   180516
28       A01       ST0001   201508   571781
29       A01       ST0002   201508   156772
..       ...          ...      ...      ...
390      A01       ST0001   201635   732598
391      A01       ST0002   201635   229962
392      A01       ST0001   201633   748038
393      A01       ST0002   201633   201557
394      A01       ST0001   201631   832400
395      A01       ST0002   201631   179630
396      A01       ST0001   201629   809554
397      A01       ST0002   201629   163171
398      A01       ST0001   201627   798282
399      A01       ST0002   201627   188335
400      A01       ST0001   201634   711380
401      A01       ST0002   201634   181811
402      A01       ST0001   201632   774620
403      A01       ST0002   201632   215174
404      A01       ST0001   201648   873341
405      A01       ST0002   201648   711806
406      A01       ST0001   201646   630040
407      A01       ST0002   201646   441993
408      A01       ST0001   201651  1175605
409      A01       ST0002   201651   401602
410      A01       ST0001   201649   749699
411      A01       ST0002   201649   278487
412      A01       ST0001   201647  1037853
413      A01       ST0002   201647  1663206
414      A01       ST0001   201645   585098
415      A01       ST0002   201645   192137
416      A01       ST0001   201652   813749
417      A01       ST0002   201652   208186
418      A01       ST0001   201650   786380
419      A01       ST0002   201650   320253

[420 rows x 4 columns]

In [32]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [61]:
engine_postgres = create_engine('postgresql://postgres:postgres@192.168.110.111:5432/kopo')

In [62]:
# selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
# selloutData.head()
resultname='postgres_TH'
selloutData.to_sql(resultname, engine_postgres, if_exists='replace', index=False)