In [1]:
import pandas as pd
from isoweek import Week

### 1. promotion Data 불러오기

In [8]:
promotionData = pd.read_csv("./data/pro_promotion.csv")

In [9]:
promotionData.head()

,regionseg,salesid,productgroup,item,targetweek,planwee,map_price,ir,pmap,pmap10,pro_percent
0,A01,SALESID0001,PG03,ITEM0200,201631,201619,0,278,-278,-251,0.250000
1,A01,SALESID0001,PG04,ITEM0285,201606,201601,3199,756,2443,2199,0.312598
2,A01,SALESID0001,PG04,ITEM0285,201607,201601,3199,756,2443,2199,0.312598
3,A01,SALESID0001,PG04,ITEM0285,201608,201601,3199,756,2443,2199,0.312598
4,A01,SALESID0001,PG04,ITEM0285,201609,201601,3199,533,2666,2399,0.250078

In [10]:
promotionData.dtypes

regionseg        object
salesid          object
productgroup     object
item             object
targetweek        int64
planwee           int64
map_price         int64
ir                int64
pmap              int64
pmap10            int64
pro_percent     float64
dtype: object

## 2. planweek가 targetweek보다 큰 데이터 정제

In [11]:
step1proData= promotionData[promotionData.targetweek >= promotionData.planwee]

In [12]:
step1proData.head()

,regionseg,salesid,productgroup,item,targetweek,planwee,map_price,ir,pmap,pmap10,pro_percent
0,A01,SALESID0001,PG03,ITEM0200,201631,201619,0,278,-278,-251,0.250000
1,A01,SALESID0001,PG04,ITEM0285,201606,201601,3199,756,2443,2199,0.312598
2,A01,SALESID0001,PG04,ITEM0285,201607,201601,3199,756,2443,2199,0.312598
3,A01,SALESID0001,PG04,ITEM0285,201608,201601,3199,756,2443,2199,0.312598
4,A01,SALESID0001,PG04,ITEM0285,201609,201601,3199,533,2666,2399,0.250078

In [13]:
## 정제한 후 인덱스 초기화
step1proData = step1proData.reset_index(drop=True)

## 1. actual_sales 데이터 정리

In [4]:
actualData = pd.read_csv("./dataset/pro_actual_sales.csv")

In [5]:
## week가 52주차 이하인 값들을 뽑아서 actualData에 담기
actualData = actualData[actualData['week'] <= 52]
## 잘 정제 됬는지 확인
actualData[actualData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

In [6]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [7]:
actualData.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek         int64
year             int64
week             int64
qty              int64
dtype: object

In [8]:
groupKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3']

In [ ]:
def minmaxweek(inputdf) :
    minweek = inputdf['yearweek'].min()
    maxweek = inputdf['yearweek'].max()
    
    for i in inputdf['yearweek']:
        tempYearweek1 = inputdf.loc[0:i,:].yearweek
        tempYearweek2 = inputdf.loc[i+1:i+1,:].yearweek
        if(tempYearweek2 - tempYearweek1 == 1) :
            pass
        elif()

In [9]:
groupData = actualData.groupby(groupKey)

In [10]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [13]:
actualData.loc[0:1,:].yearweek

0    201306
1    201307
Name: yearweek, dtype: int64

In [181]:
groupData['yearweek'].min()

regionSeg1  productSeg2  regionSeg2   regionSeg3  productSeg3
A01         PG01         SALESID0001  SITEID0001  ITEM0001       201301
                                                  ITEM0002       201301
                                                  ITEM0003       201302
                                                  ITEM0004       201301
                                                  ITEM0005       201301
                                                  ITEM0006       201301
                                                  ITEM0106       201301
                                                  ITEM0107       201301
                                                  ITEM0108       201301
                                                  ITEM0109       201331
                                                  ITEM0110       201330
                                                  ITEM0111       201333
                                                  ITEM0112       201332
                                                  ITEM0113       201419
                                                  ITEM0114       201418
                                                  ITEM0115       201418
                                                  ITEM0116       201508
                                                  ITEM0117       201507
                                                  ITEM0118       201509
                                                  ITEM0119       201539
                                                  ITEM0120       201518
                                                  ITEM0121       201521
                                                  ITEM0122       201448
                                      SITEID0002  ITEM0001       201301
                                                  ITEM0002       201301
                                                  ITEM0003       201302
                                                  ITEM0004       201301
                                                  ITEM0005       201301
                                                  ITEM0006       201301
                                                  ITEM0106       201302
                                                                  ...
            PG05         SALESID0001  SITEID0007  ITEM0095       201548
                                                  ITEM0098       201440
                                                  ITEM0099       201521
                                                  ITEM0102       201447
                                                  ITEM0103       201435
                                                  ITEM0395       201422
                                                  ITEM0396       201524
                                                  ITEM0401       201420
                                                  ITEM0402       201427
                                                  ITEM0404       201452
                                                  ITEM0405       201430
                                                  ITEM0406       201524
                                                  ITEM0407       201408
                                                  ITEM0408       201515
                                                  ITEM0409       201410
                                                  ITEM0413       201526
                                                  ITEM0414       201536
                                                  ITEM0415       201440
                                                  ITEM0416       201521
                                                  ITEM0427       201526
                                                  ITEM0436       201422
                                                  ITEM0437       201421
                                                  ITEM0438       201424
                                                  ITEM0439       201536
                                                  ITEM0440       201553
                                                  ITEM0448       201425
                                                  ITEM0449       201425
                                                  ITEM0456       201447
                                                  ITEM0457       201435
                                                  ITEM0458       201531
Name: yearweek, Length: 2696, dtype: int64

In [12]:
eachData = groupData.get_group(list(groupData.groups)[1])
eachData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
28688,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201301,2013,1,16
28689,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201302,2013,2,13
28690,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201303,2013,3,24
28691,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201304,2013,4,33
28692,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201305,2013,5,16
28693,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201306,2013,6,14
28694,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201307,2013,7,26
28695,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201308,2013,8,27
28696,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201309,2013,9,17
28697,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201310,2013,10,23
28698,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201311,2013,11,17
28699,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201312,2013,12,15
28700,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201313,2013,13,17
28701,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201314,2013,14,9
28702,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201315,2013,15,27
28703,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201316,2013,16,25
28704,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201317,2013,17,23
28705,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201318,2013,18,25
28706,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201319,2013,19,40
28707,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201320,2013,20,35
28708,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201321,2013,21,43
28709,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201322,2013,22,51
28710,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201323,2013,23,17
28711,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201324,2013,24,14
28712,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201325,2013,25,59
28713,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201326,2013,26,80
28714,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201327,2013,27,73
28715,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201328,2013,28,15
28716,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201329,2013,29,1
28717,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201339,2013,39,1
28718,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201346,2013,46,1
67863,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201435,2014,35,1
68721,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201532,2015,32,1