In [1]:
import pandas as pd
import numpy as np
from isoweek import Week
import time

## step 1. actual_sales 데이터 불러오기

In [5]:
actualData = pd.read_csv("../dataset/pro_actual_sales.csv")

In [6]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [7]:
actualData.dtypes

regionSeg1      object
productSeg1    float64
productSeg2     object
regionSeg2      object
regionSeg3      object
productSeg3     object
yearweek         int64
year             int64
week             int64
qty              int64
dtype: object

## step 2. 그룹바이 : 빈 주차 생성

### step 2-1. postWeek 함수 생성

In [8]:
def postWeek(inputYW, gapW):

    inpYW = str(inputYW) ## 입력 연도주차 문자열 변환
    inpY=inpYW[0:4] ## 입력 연도 추출
    inpW=inpYW[4: ] ## 입력 주차 추출

    inpGap=int(gapW) ## 입력 갭 인트형 확정

    sumValue = int(inpW) + inpGap ## 입력 갭과 입력 주차의 합

    curryear = int(inpY)
    lastweek = Week.last_week_of_year(curryear).week 
    while (sumValue > lastweek):
        sumValue -= lastweek # gap 주차와 합산된 총 주차 
        curryear += 1 # 다음 년도 생성
        lastweek = Week.last_week_of_year(curryear).week # 늘어난 연도의 마지막 주차 가져오기
        
    if(sumValue < 10):
        lastanswer = str(curryear)+ "0" + str(sumValue)
    else:
        lastanswer = str(curryear) + str(sumValue)
    return lastanswer

### step 2-2. minmaxweek 함수 생성

In [14]:
def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True) # 그룹 단위 데이터 인덱스 재정의
    minweek = min(inputdf['yearweek']) # 그룹의 최소 주차 
    maxweek = max(inputdf['yearweek'])  #  그룹의 최대 주차 
    fullyearweek = []  # 최소주차와 최대주차 사이의 모든 주차가 들어갈 배열 
    i = minweek 
    fullyearweek.append(i) # 최소주차 추가
  
    # fullyearweek에 모든 주차 생성
    while (max(fullyearweek) < maxweek):  # fullyearweek 최대 주차가 그룹의 최대 주차보다 작다면 while문 반복
        inputWeek = int(postWeek(str(max(fullyearweek)),1)) # 입력 주차는 최대 주차의 다음 주차
        fullyearweek.append(inputWeek) 
        
    newyearweekList = list(set(fullyearweek).difference(set(list(inputdf.yearweek.values)))) # inputdf 의 비어있는 주차를 newyearweekList에 추가
   
    for i in range(len(newyearweekList)): # newyearweekList의 길이만큼 for문 반복하여 inputdf의 마지막 행을 추가
        inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
        inputdf.loc[len(inputdf)-1,'yearweek'] = newyearweekList[i]
        inputdf.loc[len(inputdf)-1,'year'] = round(newyearweekList[i]/100)
        inputdf.loc[len(inputdf)-1,'week'] = newyearweekList[i]%100
        inputdf.loc[len(inputdf)-1,'qty'] = 0 # 컬럼 값 변경
                           
    inputdf.sort_values('yearweek')
    inputdf.reset_index(drop = True, inplace = True)
    return inputdf

### step 2-3. 생성한 함수 적용

In [15]:
groupKey1 = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3']

In [16]:
groupData = actualData.groupby(groupKey1)

In [17]:
eachData = groupData.get_group(list(groupData.groups)[0])  # 그룹 단위 데이터 중 하나를 가져와서 이상 데이터 여부 확인

In [18]:
eachData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
28546,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
28547,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
28548,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
28549,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2
28550,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5
28551,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2
28552,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1
28553,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1
28554,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1
28555,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4
28556,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2
28557,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2
28558,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3
28559,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2
28560,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1
28561,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2
28562,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3
28563,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2
28564,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6
28565,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4
28566,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1
67859,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201439,2014,39,1
67860,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201451,2014,51,1
68718,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201538,2015,38,1
68719,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201549,2015,49,2

In [19]:
groupData = actualData.groupby(groupKey1).apply(minmaxweek)

In [20]:
groupData

                                                             regionSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
                                                          5         A01
                                                          6         A01
                                                          7         A01
                                                          8         A01
                                                          9         A01
                                                          10        A01
                                                          11        A01
                                                          12        A01
                                                          13        A01
                                                          14        A01
                                                          15        A01
                                                          16        A01
                                                          17        A01
                                                          18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
...                                                                 ...
           PG05        SALESID0001 SITEID0007 ITEM0457    68        A01
                                                          69        A01
                                                          70        A01
                                                          71        A01
                                                          72        A01
                                                          73        A01
                                                          74        A01
                                              ITEM0458    0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
                                                          5         A01
                                                          6         A01
                                                          7         A01
                                                          8         A01
                                                          9         A01
                                                          10        A01
                                                          11        A01
                                                          12        A01
                                                          13        A01
                                                          14        A01
                                                          15        A01
                                                          16        A01
                                                          17        A01
                                                          18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01

                                                              productSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
                                                          5           NaN
                                                          6           NaN
                                                          7           NaN
                                                          8           NaN
                                                          9           NaN
                                                          10          NaN
                                                          11          NaN
                                                          12          NaN
                                                          13          NaN
                                                          14          NaN
                                                          15          NaN
                                                          16          NaN
                                                          17          NaN
                                                          18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0457    68          NaN
                                                          69          NaN
                                                          70          NaN
                                                          71          NaN
                                                          72          NaN
                                                          73          NaN
                                                          74          NaN
                                              ITEM0458    0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
                                                          5           NaN
                                                          6           NaN
                                                          7           NaN
                                                          8           NaN
                                                          9           NaN
                                                          10          NaN
                                                          11          NaN
                                                          12          NaN
                                                          13          NaN
                                                          14          NaN
                                                          15          NaN
                                                          16          NaN
                                                          17          NaN
                                                          18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN

                                                             productSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         PG01
                                                          1         PG01
                                                          2         PG01
                                                          3         PG01
                                                          4         PG01
                                                          5         PG01
                                                          6         PG01
                                                          7         PG01
                                                          8         PG01
                                                          9         PG01
                                                          10        PG01
                                                          11        PG01
                                                          12        PG01
                                                          13        PG01
                                                          14        PG01
                                                          15        PG01
                                                          16        PG01
                                                          17        PG01
                                                          18        PG01
                                                          19        PG01
                                                          20        PG01
                                                          21        PG01
                                                          22        PG01
                                                          23        PG01
                                                          24        PG01
                                                          25        PG01
                                                          26        PG01
                                                          27        PG01
                                                          28        PG01
                                                          29        PG01
...                                                                  ...
           PG05        SALESID0001 SITEID0007 ITEM0457    68        PG05
                                                          69        PG05
                                                          70        PG05
                                                          71        PG05
                                                          72        PG05
                                                          73        PG05
                                                          74        PG05
                                              ITEM0458    0         PG05
                                                          1         PG05
                                                          2         PG05
                                                          3         PG05
                                                          4         PG05
                                                          5         PG05
                                                          6         PG05
                                                          7         PG05
                                                          8         PG05
                                                          9         PG05
                                                          10        PG05
                                                          11        PG05
                                                          12        PG05
                                                          13        PG05
                                                          14        PG05
                                                          15        PG05
                                                          16        PG05
                                                          17        PG05
                                                          18        PG05
                                                          19        PG05
                                                          20        PG05
                                                          21        PG05
                                                          22        PG05

                                                               regionSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
                                                          5   SALESID0001
                                                          6   SALESID0001
                                                          7   SALESID0001
                                                          8   SALESID0001
                                                          9   SALESID0001
                                                          10  SALESID0001
                                                          11  SALESID0001
                                                          12  SALESID0001
                                                          13  SALESID0001
                                                          14  SALESID0001
                                                          15  SALESID0001
                                                          16  SALESID0001
                                                          17  SALESID0001
                                                          18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0457    68  SALESID0001
                                                          69  SALESID0001
                                                          70  SALESID0001
                                                          71  SALESID0001
                                                          72  SALESID0001
                                                          73  SALESID0001
                                                          74  SALESID0001
                                              ITEM0458    0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
                                                          5   SALESID0001
                                                          6   SALESID0001
                                                          7   SALESID0001
                                                          8   SALESID0001
                                                          9   SALESID0001
                                                          10  SALESID0001
                                                          11  SALESID0001
                                                          12  SALESID0001
                                                          13  SALESID0001
                                                          14  SALESID0001
                                                          15  SALESID0001
                                                          16  SALESID0001
                                                          17  SALESID0001
                                                          18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001

                                                              regionSeg3  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SITEID0001
                                                          1   SITEID0001
                                                          2   SITEID0001
                                                          3   SITEID0001
                                                          4   SITEID0001
                                                          5   SITEID0001
                                                          6   SITEID0001
                                                          7   SITEID0001
                                                          8   SITEID0001
                                                          9   SITEID0001
                                                          10  SITEID0001
                                                          11  SITEID0001
                                                          12  SITEID0001
                                                          13  SITEID0001
                                                          14  SITEID0001
                                                          15  SITEID0001
                                                          16  SITEID0001
                                                          17  SITEID0001
                                                          18  SITEID0001

In [21]:
sortKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3','yearweek']

In [23]:
sortedData = groupData.sort_values(sortKey)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg1' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [24]:
sortedData.reset_index(drop=True,inplace=True)

### step 2-4. 데이터 정제

In [25]:
## week가 52주차 이하인 값들을 뽑아서 actualData에 담기
sortedData = sortedData[sortedData['week'] <= 52]
## 잘 정제 됬는지 확인
sortedData[sortedData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

## step 3 이동평균 구하기

### step 3-1 . 이동평균 함수 생성

In [26]:
def groupRolling(oneGroup):
    indexgroupData = oneGroup.reset_index(drop=True)
    indexgroupData['MA'] = indexgroupData['qty'].rolling(window = 4, center = False, min_periods=1).mean()
    return indexgroupData

In [27]:
groupKey2 = ['regionSeg1','productSeg2','regionSeg3','productSeg3']

In [28]:
MaData = sortedData.groupby(groupKey2).apply(groupRolling)

## step 4  계절성 지수 산출

In [29]:
MaData['seasonality'] = MaData['qty']/MaData['MA']

In [30]:
MaData['seasonality'] = np.where(MaData.MA == 0, 0, MaData['qty']/MaData['MA'])

In [31]:
MaData

                                                 regionSeg1  productSeg1  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0         A01          NaN
                                              1         A01          NaN
                                              2         A01          NaN
                                              3         A01          NaN
                                              4         A01          NaN
                                              5         A01          NaN
                                              6         A01          NaN
                                              7         A01          NaN
                                              8         A01          NaN
                                              9         A01          NaN
                                              10        A01          NaN
                                              11        A01          NaN
                                              12        A01          NaN
                                              13        A01          NaN
                                              14        A01          NaN
                                              15        A01          NaN
                                              16        A01          NaN
                                              17        A01          NaN
                                              18        A01          NaN
                                              19        A01          NaN
                                              20        A01          NaN
                                              21        A01          NaN
                                              22        A01          NaN
                                              23        A01          NaN
                                              24        A01          NaN
                                              25        A01          NaN
                                              26        A01          NaN
                                              27        A01          NaN
                                              28        A01          NaN
                                              29        A01          NaN
...                                                     ...          ...
           PG05        SITEID0007 ITEM0457    66        A01          NaN
                                              67        A01          NaN
                                              68        A01          NaN
                                              69        A01          NaN
                                              70        A01          NaN
                                              71        A01          NaN
                                              72        A01          NaN
                                              73        A01          NaN
                                  ITEM0458    0         A01          NaN
                                              1         A01          NaN
                                              2         A01          NaN
                                              3         A01          NaN
                                              4         A01          NaN
                                              5         A01          NaN
                                              6         A01          NaN
                                              7         A01          NaN
                                              8         A01          NaN
                                              9         A01          NaN
                                              10        A01          NaN
                                              11        A01          NaN
                                              12        A01          NaN
                                              13        A01          NaN
                                              14        A01          NaN
                                              15        A01          NaN
                                              16        A01          NaN
                                              17        A01          NaN
                                              18        A01          NaN
                                              19        A01          NaN
                                              20        A01          NaN
                                              21        A01          NaN

                                                 productSeg2   regionSeg2  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0         PG01  SALESID0001
                                              1         PG01  SALESID0001
                                              2         PG01  SALESID0001
                                              3         PG01  SALESID0001
                                              4         PG01  SALESID0001
                                              5         PG01  SALESID0001
                                              6         PG01  SALESID0001
                                              7         PG01  SALESID0001
                                              8         PG01  SALESID0001
                                              9         PG01  SALESID0001
                                              10        PG01  SALESID0001
                                              11        PG01  SALESID0001
                                              12        PG01  SALESID0001
                                              13        PG01  SALESID0001
                                              14        PG01  SALESID0001
                                              15        PG01  SALESID0001
                                              16        PG01  SALESID0001
                                              17        PG01  SALESID0001
                                              18        PG01  SALESID0001
                                              19        PG01  SALESID0001
                                              20        PG01  SALESID0001
                                              21        PG01  SALESID0001
                                              22        PG01  SALESID0001
                                              23        PG01  SALESID0001
                                              24        PG01  SALESID0001
                                              25        PG01  SALESID0001
                                              26        PG01  SALESID0001
                                              27        PG01  SALESID0001
                                              28        PG01  SALESID0001
                                              29        PG01  SALESID0001
...                                                      ...          ...
           PG05        SITEID0007 ITEM0457    66        PG05  SALESID0001
                                              67        PG05  SALESID0001
                                              68        PG05  SALESID0001
                                              69        PG05  SALESID0001
                                              70        PG05  SALESID0001
                                              71        PG05  SALESID0001
                                              72        PG05  SALESID0001
                                              73        PG05  SALESID0001
                                  ITEM0458    0         PG05  SALESID0001
                                              1         PG05  SALESID0001
                                              2         PG05  SALESID0001
                                              3         PG05  SALESID0001
                                              4         PG05  SALESID0001
                                              5         PG05  SALESID0001
                                              6         PG05  SALESID0001
                                              7         PG05  SALESID0001
                                              8         PG05  SALESID0001
                                              9         PG05  SALESID0001
                                              10        PG05  SALESID0001
                                              11        PG05  SALESID0001
                                              12        PG05  SALESID0001
                                              13        PG05  SALESID0001
                                              14        PG05  SALESID0001
                                              15        PG05  SALESID0001
                                              16        PG05  SALESID0001
                                              17        PG05  SALESID0001
                                              18        PG05  SALESID0001
                                              19        PG05  SALESID0001
                                              20        PG05  SALESID0001
                                              21        PG05  SALESID0001

                                                  regionSeg3 productSeg3  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0   SITEID0001    ITEM0001
                                              1   SITEID0001    ITEM0001
                                              2   SITEID0001    ITEM0001
                                              3   SITEID0001    ITEM0001
                                              4   SITEID0001    ITEM0001
                                              5   SITEID0001    ITEM0001
                                              6   SITEID0001    ITEM0001
                                              7   SITEID0001    ITEM0001
                                              8   SITEID0001    ITEM0001
                                              9   SITEID0001    ITEM0001
                                              10  SITEID0001    ITEM0001
                                              11  SITEID0001    ITEM0001
                                              12  SITEID0001    ITEM0001
                                              13  SITEID0001    ITEM0001
                                              14  SITEID0001    ITEM0001
                                              15  SITEID0001    ITEM0001
                                              16  SITEID0001    ITEM0001
                                              17  SITEID0001    ITEM0001
                                              18  SITEID0001    ITEM0001
                                              19  SITEID0001    ITEM0001
                                              20  SITEID0001    ITEM0001
                                              21  SITEID0001    ITEM0001
                                              22  SITEID0001    ITEM0001
                                              23  SITEID0001    ITEM0001
                                              24  SITEID0001    ITEM0001
                                              25  SITEID0001    ITEM0001
                                              26  SITEID0001    ITEM0001
                                              27  SITEID0001    ITEM0001
                                              28  SITEID0001    ITEM0001
                                              29  SITEID0001    ITEM0001
...                                                      ...         ...
           PG05        SITEID0007 ITEM0457    66  SITEID0007    ITEM0457
                                              67  SITEID0007    ITEM0457
                                              68  SITEID0007    ITEM0457
                                              69  SITEID0007    ITEM0457
                                              70  SITEID0007    ITEM0457
                                              71  SITEID0007    ITEM0457
                                              72  SITEID0007    ITEM0457
                                              73  SITEID0007    ITEM0457
                                  ITEM0458    0   SITEID0007    ITEM0458
                                              1   SITEID0007    ITEM0458
                                              2   SITEID0007    ITEM0458
                                              3   SITEID0007    ITEM0458
                                              4   SITEID0007    ITEM0458
                                              5   SITEID0007    ITEM0458
                                              6   SITEID0007    ITEM0458
                                              7   SITEID0007    ITEM0458
                                              8   SITEID0007    ITEM0458
                                              9   SITEID0007    ITEM0458
                                              10  SITEID0007    ITEM0458
                                              11  SITEID0007    ITEM0458
                                              12  SITEID0007    ITEM0458
                                              13  SITEID0007    ITEM0458
                                              14  SITEID0007    ITEM0458
                                              15  SITEID0007    ITEM0458
                                              16  SITEID0007    ITEM0458
                                              17  SITEID0007    ITEM0458
                                              18  SITEID0007    ITEM0458
                                              19  SITEID0007    ITEM0458
                                              20  SITEID0007    ITEM0458
                                              21  SITEID0007    ITEM0458

                                                  yearweek  year  week  qty  \
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0     201301  2013     1    1
                                              1     201302  2013     2    0
                                              2     201303  2013     3    1
                                              3     201304  2013     4    3
                                              4     201305  2013     5    2
                                              5     201306  2013     6    0
                                              6     201307  2013     7    5
                                              7     201308  2013     8    0
                                              8     201309  2013     9    0
                                              9     201310  2013    10    2
                                              10    201311  2013    11    0
                                              11    201312  2013    12    1
                                              12    201313  2013    13    0
                                              13    201314  2013    14    1
                                              14    201315  2013    15    1
                                              15    201316  2013    16    4
                                              16    201317  2013    17    2
                                              17    201318  2013    18    0
                                              18    201319  2013    19    2
                                              19    201320  2013    20    3
                                              20    201321  2013    21    0
                                              21    201322  2013    22    2
                                              22    201323  2013    23    1
                                              23    201324  2013    24    2
                                              24    201325  2013    25    3
                                              25    201326  2013    26    2
                                              26    201327  2013    27    6
                                              27    201328  2013    28    4
                                              28    201329  2013    29    0
                                              29    201330  2013    30    1
...                                                    ...   ...   ...  ...
           PG05        SITEID0007 ITEM0457    66    201549  2015    49    1
                                              67    201550  2016    50    0
                                              68    201551  2016    51    0
                                              69    201552  2016    52    0
                                              70    201601  2016     1    0
                                              71    201602  2016     2    0
                                              72    201603  2016     3    0
                                              73    201604  2016     4    1
                                  ITEM0458    0     201531  2015    31    1
                                              1     201532  2015    32    0
                                              2     201533  2015    33    0
                                              3     201534  2015    34    0
                                              4     201535  2015    35    0
                                              5     201536  2015    36    0
                                              6     201537  2015    37    0
                                              7     201538  2015    38    0
                                              8     201539  2015    39    0
                                              9     201540  2015    40    0
                                              10    201541  2015    41    0
                                              11    201542  2015    42    0
                                              12    201543  2015    43    0
                                              13    201544  2015    44    0
                                              14    201545  2015    45    0
                                              15    201546  2015    46    0
                                              16    201547  2015    47    0
                                              17    201548  2015    48    0
                                              18    201549  2015    49    0
                                              19    201550  2016    50    0
                                              20    201551  2016    51    0
                                              21    201552  2016    52    0

                                                        MA  seasonality
regionSeg1 productSeg2 regionSeg3 productSeg3
A01        PG01        SITEID0001 ITEM0001    0   1.000000     1.000000
                                              1   0.500000     0.000000
                                              2   0.666667     1.500000
                                              3   1.250000     2.400000
                                              4   1.500000     1.333333
                                              5   1.500000     0.000000
                                              6   2.500000     2.000000
                                              7   1.750000     0.000000
                                              8   1.250000     0.000000
                                              9   1.750000     1.142857
                                              10  0.500000     0.000000
                                              11  0.750000     1.333333
                                              12  0.750000     0.000000
                                              13  0.500000     2.000000
                                              14  0.750000     1.333333
                                              15  1.500000     2.666667
                                              16  2.000000     1.000000
                                              17  1.750000     0.000000