## step1. 데이터 로드

In [1]:
import pandas as pd
import numpy as np
from isoweek import Week
import time
from pandas import Series, DataFrame

In [2]:
from collections import OrderedDict

In [3]:
actualData = pd.read_csv("../dataset/pro_actual_sales.csv")

In [4]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

## step2. 데이터 정제

### step.2-1. 빈주차 생성

In [5]:
## postWeek 함수 생성 

def postWeek(inputYW, gapWeek) :
    inputYW = str(inputYW)
    inputY = inputYW[0:4]
    inputW = inputYW[4:]
    
    gapWeek = int(gapWeek)
    
    sumWeek = int(inputW) + gapWeek
    
    currYear = int(inputY)
    lastWeek = Week.last_week_of_year(currYear).week
    
    while(sumWeek > lastWeek) :
        sumWeek -= lastWeek
        currYear += 1
        lastWeek = Week.last_week_of_year(currYear).week
        
    if(sumWeek < 10) :
        lastAnswer = str(currYear) + "0" + str(sumWeek)
    else :
        lastAnswer = str(currYear) + str(sumWeek)
    
    return lastAnswer

In [16]:
postWeek(201540, 20)

'201607'

In [6]:
## minmaxweek 함수 생성 : groupby를 적용한 데이터셋에 빈주차를 파악하여 최종적으로 채워주는 함수
## step1. yearweek의 min값과 max값을 찾아 그 사이에 있는 연주차를 모두 생성하여 배열에 담는다
## step2.비어있는주차가 존재하는 df와 step1에서 만든 배열의 차집합을 구하여 빈주차값을 알아본다
## step3. step2에서 구한 빈주차를 df에 적용시킨다(그룹별로 적용됨)

def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True)
    
    minYW = min(inputdf['yearweek']) 
    maxYW = 201627 ##전체 ITEM의 확정된 maxYW 
    fullYearWeek = []
    fullYearWeek.append(minYW)
    
    while(max(fullYearWeek) < maxYW) :
        inputYW = int(postWeek(max(fullYearWeek),1))
        fullYearWeek.append(inputYW)
        
    diffYearWeek = list(set(fullYearWeek).difference(set(list(inputdf.yearweek.values)))) #difference는 set형식에서만 사용할 수 있음
    
    for i in range(len(diffYearWeek)) :
        inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
        inputdf.loc[len(inputdf)-1, 'yearweek'] = diffYearWeek[i]
        inputdf.loc[len(inputdf)-1, 'year'] = int(diffYearWeek[i]/100) ##round 처리 말고 int처리로 변경
        inputdf.loc[len(inputdf)-1, 'week'] = diffYearWeek[i]%100
        inputdf.loc[len(inputdf)-1, 'qty'] = 0
    
    #어차피 이 함수 적용하고나서 다시 sort 해줘야하기때문에 생략해도 될 것 같음
#     inputdf.sort_values('yearweek')
#     inputdf.reset_index(drop = True, inplace = True)
    
    return inputdf

In [20]:
list(actualData.loc[0].values)

['A01',
 nan,
 'PG05',
 'SALESID0001',
 'SITEID0004',
 'ITEM0445',
 201306,
 2013,
 6,
 5]

In [7]:
    result2 = {
        'regionSeg1': [],
        'regionSeg2': [],
        'regionSeg3': [],
        'productSeg1': [],
        'productSeg2': [],
        'productSeg3': [],
        'yearweek': [],
        'year': [],
        'week': [],
        'qty': []
    }

In [8]:
result2['regionSeg1'].append(list(actualData.loc[0].values)[0])
result2['yearweek'].append(list(actualData.loc[0].values)[6])
result2['year'].append(list(actualData.loc[0].values)[7]/100)
result2['week'].append(list(actualData.loc[0].values)[8]%100)
result2['qty'].append(0)

In [10]:
OrderedDict(result2)

OrderedDict([('regionSeg1', ['A01']),
             ('regionSeg2', []),
             ('regionSeg3', []),
             ('productSeg1', []),
             ('productSeg2', []),
             ('productSeg3', []),
             ('yearweek', [201306]),
             ('year', [20.13]),
             ('week', [6]),
             ('qty', [0])])

In [6]:
# 다른 처리
# minmaxweek 함수 생성 : groupby를 적용한 데이터셋에 빈주차를 파악하여 최종적으로 채워주는 함수
# step1. yearweek의 min값과 max값을 찾아 그 사이에 있는 연주차를 모두 생성하여 배열에 담는다
# step2.비어있는주차가 존재하는 df와 step1에서 만든 배열의 차집합을 구하여 빈주차값을 알아본다
# step3. step2에서 구한 빈주차를 df에 적용시킨다(그룹별로 적용됨)

def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True)
    
    minYW = min(inputdf['yearweek']) 
    maxYW = 201627 ##전체 ITEM의 확정된 maxYW 
    fullYearWeek = []
    fullYearWeek.append(minYW)
    
    while(max(fullYearWeek) < maxYW) :
        inputYW = int(postWeek(max(fullYearWeek),1))
        fullYearWeek.append(inputYW)
        
    diffYearWeek = list(set(fullYearWeek).difference(set(list(inputdf.yearweek.values)))) #difference는 set형식에서만 사용할 수 있음
    
    result2 = {
        'regionSeg1': [],
        'productSeg1': [],
        'productSeg2': [],
        'regionSeg2': [],
        'regionSeg3': [],
        'productSeg3': [],
        'yearweek': [],
        'year': [],
        'week': [],
        'qty': []
    }
    OrderedDict(result2)
    for i in range(len(diffYearWeek)) :
#         result.append(list(inputdf.loc[0].values))
#         result['yearweek'].append(diffYearWeek[i])
#         result['year'].append(int(diffYearWeek[i]/100))
#         result['week'].append(diffYearWeek[i]%100)
#         result['qty'].append(0)
        
#         inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
#         inputdf.loc[len(inputdf)-1, 'yearweek'] = diffYearWeek[i]
#         inputdf.loc[len(inputdf)-1, 'year'] = int(diffYearWeek[i]/100) ##round 처리 말고 int처리로 변경
#         inputdf.loc[len(inputdf)-1, 'week'] = diffYearWeek[i]%100
#         inputdf.loc[len(inputdf)-1, 'qty'] = 0
          
    
    
        result2['regionSeg1'].append(list(inputdf.loc[0].values)[0])
        result2['productSeg1'].append(list(inputdf.loc[0].values)[1])
        result2['productSeg2'].append(list(inputdf.loc[0].values)[2])
        result2['regionSeg2'].append(list(inputdf.loc[0].values)[3])
        result2['regionSeg3'].append(list(inputdf.loc[0].values)[4])
        result2['productSeg3'].append(list(inputdf.loc[0].values)[5])
        result2['yearweek'].append(int(diffYearWeek[i]))
        result2['year'].append(int(diffYearWeek[i]/100))
        result2['week'].append(int(diffYearWeek[i]%100))
        result2['qty'].append(0)
        
    result2=pd.DataFrame(result2)
    dfconcat=pd.concat([result2,inputdf])
    dfconcat['qty'] = dfconcat['qty'].astype('int')
    dfconcat['yearweek'] = dfconcat['yearweek'].astype('int')
    dfconcat['year'] = dfconcat['year'].astype('int')
    dfconcat['week'] = dfconcat['week'].astype('int')    
    #어차피 이 함수 적용하고나서 다시 sort 해줘야하기때문에 생략해도 될 것 같음
#     inputdf.sort_values('yearweek')
#     inputdf.reset_index(drop = True, inplace = True)
    
    return dfconcat

In [58]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [7]:
groupKey1 = ['regionSeg1', 'productSeg2', 'regionSeg2', 'regionSeg3', 'productSeg3']

In [8]:
groupData = actualData.groupby(groupKey1).apply(minmaxweek)

In [9]:
groupData

                                                             regionSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
                                                          5         A01
                                                          6         A01
                                                          7         A01
                                                          8         A01
                                                          9         A01
                                                          10        A01
                                                          11        A01
                                                          12        A01
                                                          13        A01
                                                          14        A01
                                                          15        A01
                                                          16        A01
                                                          17        A01
                                                          18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
...                                                                 ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
                                                          30        A01
                                                          31        A01
                                                          32        A01
                                                          33        A01
                                                          34        A01
                                                          35        A01
                                                          36        A01
                                                          37        A01
                                                          38        A01
                                                          39        A01
                                                          40        A01
                                                          41        A01
                                                          42        A01
                                                          43        A01
                                                          44        A01
                                                          45        A01
                                                          46        A01
                                                          47        A01
                                                          0         A01
                                                          1         A01

                                                              productSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
                                                          5           NaN
                                                          6           NaN
                                                          7           NaN
                                                          8           NaN
                                                          9           NaN
                                                          10          NaN
                                                          11          NaN
                                                          12          NaN
                                                          13          NaN
                                                          14          NaN
                                                          15          NaN
                                                          16          NaN
                                                          17          NaN
                                                          18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
                                                          30          NaN
                                                          31          NaN
                                                          32          NaN
                                                          33          NaN
                                                          34          NaN
                                                          35          NaN
                                                          36          NaN
                                                          37          NaN
                                                          38          NaN
                                                          39          NaN
                                                          40          NaN
                                                          41          NaN
                                                          42          NaN
                                                          43          NaN
                                                          44          NaN
                                                          45          NaN
                                                          46          NaN
                                                          47          NaN
                                                          0           NaN
                                                          1           NaN

                                                             productSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         PG01
                                                          1         PG01
                                                          2         PG01
                                                          3         PG01
                                                          4         PG01
                                                          5         PG01
                                                          6         PG01
                                                          7         PG01
                                                          8         PG01
                                                          9         PG01
                                                          10        PG01
                                                          11        PG01
                                                          12        PG01
                                                          13        PG01
                                                          14        PG01
                                                          15        PG01
                                                          16        PG01
                                                          17        PG01
                                                          18        PG01
                                                          19        PG01
                                                          20        PG01
                                                          21        PG01
                                                          22        PG01
                                                          23        PG01
                                                          24        PG01
                                                          25        PG01
                                                          26        PG01
                                                          27        PG01
                                                          28        PG01
                                                          29        PG01
...                                                                  ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20        PG05
                                                          21        PG05
                                                          22        PG05
                                                          23        PG05
                                                          24        PG05
                                                          25        PG05
                                                          26        PG05
                                                          27        PG05
                                                          28        PG05
                                                          29        PG05
                                                          30        PG05
                                                          31        PG05
                                                          32        PG05
                                                          33        PG05
                                                          34        PG05
                                                          35        PG05
                                                          36        PG05
                                                          37        PG05
                                                          38        PG05
                                                          39        PG05
                                                          40        PG05
                                                          41        PG05
                                                          42        PG05
                                                          43        PG05
                                                          44        PG05
                                                          45        PG05
                                                          46        PG05
                                                          47        PG05
                                                          0         PG05
                                                          1         PG05

                                                               regionSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
                                                          5   SALESID0001
                                                          6   SALESID0001
                                                          7   SALESID0001
                                                          8   SALESID0001
                                                          9   SALESID0001
                                                          10  SALESID0001
                                                          11  SALESID0001
                                                          12  SALESID0001
                                                          13  SALESID0001
                                                          14  SALESID0001
                                                          15  SALESID0001
                                                          16  SALESID0001
                                                          17  SALESID0001
                                                          18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
                                                          30  SALESID0001
                                                          31  SALESID0001
                                                          32  SALESID0001
                                                          33  SALESID0001
                                                          34  SALESID0001
                                                          35  SALESID0001
                                                          36  SALESID0001
                                                          37  SALESID0001
                                                          38  SALESID0001
                                                          39  SALESID0001
                                                          40  SALESID0001
                                                          41  SALESID0001
                                                          42  SALESID0001
                                                          43  SALESID0001
                                                          44  SALESID0001
                                                          45  SALESID0001
                                                          46  SALESID0001
                                                          47  SALESID0001
                                                          0   SALESID0001
                                                          1   SALESID0001

                                                              regionSeg3  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SITEID0001
                                                          1   SITEID0001
                                                          2   SITEID0001
                                                          3   SITEID0001
                                                          4   SITEID0001
                                                          5   SITEID0001
                                                          6   SITEID0001
                                                          7   SITEID0001
                                                          8   SITEID0001
                                                          9   SITEID0001
                                                          10  SITEID0001
                                                          11  SITEID0001
                                                          12  SITEID0001
                                                          13  SITEID0001
                                                          14  SITEID0001
                                                          15  SITEID0001
                                                          16  SITEID0001
                                                          17  SITEID0001
                                                          18  SITEID0001

In [62]:
groupData.to_csv("./M.csv")

In [10]:
sortKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3','yearweek']

In [11]:
sortedData = groupData.sort_values(sortKey)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg1' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [12]:
sortedData.reset_index(drop = True, inplace =True)

In [13]:
sortedData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2

### step2-2. 53주차 제거

In [14]:
## week가 52주차 이하인 값들을 뽑아서 actualData에 담기
sortedData = sortedData[sortedData['week'] <= 52]
## 잘 정제 됬는지 확인
sortedData[sortedData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

## step3. 이동평균 구하기

In [15]:
# 그룹단위별 rolling 함수 생성
def groupRolling(oneGroup) :
    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData['MA'] = indexGroupData['qty'].rolling(window=4, center=False, min_periods=1).mean()
    
    return indexGroupData

In [16]:
groupKey2 = ['regionSeg1', 'productSeg2', 'regionSeg3']

In [17]:
maGroup = sortedData.groupby(groupKey2).apply(groupRolling)

In [18]:
maGroup

                                       regionSeg1  productSeg1 productSeg2  \
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0           A01          NaN        PG01
                                  1           A01          NaN        PG01
                                  2           A01          NaN        PG01
                                  3           A01          NaN        PG01
                                  4           A01          NaN        PG01
                                  5           A01          NaN        PG01
                                  6           A01          NaN        PG01
                                  7           A01          NaN        PG01
                                  8           A01          NaN        PG01
                                  9           A01          NaN        PG01
                                  10          A01          NaN        PG01
                                  11          A01          NaN        PG01
                                  12          A01          NaN        PG01
                                  13          A01          NaN        PG01
                                  14          A01          NaN        PG01
                                  15          A01          NaN        PG01
                                  16          A01          NaN        PG01
                                  17          A01          NaN        PG01
                                  18          A01          NaN        PG01
                                  19          A01          NaN        PG01
                                  20          A01          NaN        PG01
                                  21          A01          NaN        PG01
                                  22          A01          NaN        PG01
                                  23          A01          NaN        PG01
                                  24          A01          NaN        PG01
                                  25          A01          NaN        PG01
                                  26          A01          NaN        PG01
                                  27          A01          NaN        PG01
                                  28          A01          NaN        PG01
                                  29          A01          NaN        PG01
...                                           ...          ...         ...
           PG05        SITEID0007 4099        A01          NaN        PG05
                                  4100        A01          NaN        PG05
                                  4101        A01          NaN        PG05
                                  4102        A01          NaN        PG05
                                  4103        A01          NaN        PG05
                                  4104        A01          NaN        PG05
                                  4105        A01          NaN        PG05
                                  4106        A01          NaN        PG05
                                  4107        A01          NaN        PG05
                                  4108        A01          NaN        PG05
                                  4109        A01          NaN        PG05
                                  4110        A01          NaN        PG05
                                  4111        A01          NaN        PG05
                                  4112        A01          NaN        PG05
                                  4113        A01          NaN        PG05
                                  4114        A01          NaN        PG05
                                  4115        A01          NaN        PG05
                                  4116        A01          NaN        PG05
                                  4117        A01          NaN        PG05
                                  4118        A01          NaN        PG05
                                  4119        A01          NaN        PG05
                                  4120        A01          NaN        PG05
                                  4121        A01          NaN        PG05
                                  4122        A01          NaN        PG05
                                  4123        A01          NaN        PG05
                                  4124        A01          NaN        PG05
                                  4125        A01          NaN        PG05
                                  4126        A01          NaN        PG05
                                  4127        A01          NaN        PG05
                                  4128        A01          NaN        PG05

                                         regionSeg2  regionSeg3 productSeg3  \
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0     SALESID0001  SITEID0001    ITEM0001
                                  1     SALESID0001  SITEID0001    ITEM0001
                                  2     SALESID0001  SITEID0001    ITEM0001
                                  3     SALESID0001  SITEID0001    ITEM0001
                                  4     SALESID0001  SITEID0001    ITEM0001
                                  5     SALESID0001  SITEID0001    ITEM0001
                                  6     SALESID0001  SITEID0001    ITEM0001
                                  7     SALESID0001  SITEID0001    ITEM0001
                                  8     SALESID0001  SITEID0001    ITEM0001
                                  9     SALESID0001  SITEID0001    ITEM0001
                                  10    SALESID0001  SITEID0001    ITEM0001
                                  11    SALESID0001  SITEID0001    ITEM0001
                                  12    SALESID0001  SITEID0001    ITEM0001
                                  13    SALESID0001  SITEID0001    ITEM0001
                                  14    SALESID0001  SITEID0001    ITEM0001
                                  15    SALESID0001  SITEID0001    ITEM0001
                                  16    SALESID0001  SITEID0001    ITEM0001
                                  17    SALESID0001  SITEID0001    ITEM0001
                                  18    SALESID0001  SITEID0001    ITEM0001
                                  19    SALESID0001  SITEID0001    ITEM0001
                                  20    SALESID0001  SITEID0001    ITEM0001
                                  21    SALESID0001  SITEID0001    ITEM0001
                                  22    SALESID0001  SITEID0001    ITEM0001
                                  23    SALESID0001  SITEID0001    ITEM0001
                                  24    SALESID0001  SITEID0001    ITEM0001
                                  25    SALESID0001  SITEID0001    ITEM0001
                                  26    SALESID0001  SITEID0001    ITEM0001
                                  27    SALESID0001  SITEID0001    ITEM0001
                                  28    SALESID0001  SITEID0001    ITEM0001
                                  29    SALESID0001  SITEID0001    ITEM0001
...                                             ...         ...         ...
           PG05        SITEID0007 4099  SALESID0001  SITEID0007    ITEM0458
                                  4100  SALESID0001  SITEID0007    ITEM0458
                                  4101  SALESID0001  SITEID0007    ITEM0458
                                  4102  SALESID0001  SITEID0007    ITEM0458
                                  4103  SALESID0001  SITEID0007    ITEM0458
                                  4104  SALESID0001  SITEID0007    ITEM0458
                                  4105  SALESID0001  SITEID0007    ITEM0458
                                  4106  SALESID0001  SITEID0007    ITEM0458
                                  4107  SALESID0001  SITEID0007    ITEM0458
                                  4108  SALESID0001  SITEID0007    ITEM0458
                                  4109  SALESID0001  SITEID0007    ITEM0458
                                  4110  SALESID0001  SITEID0007    ITEM0458
                                  4111  SALESID0001  SITEID0007    ITEM0458
                                  4112  SALESID0001  SITEID0007    ITEM0458
                                  4113  SALESID0001  SITEID0007    ITEM0458
                                  4114  SALESID0001  SITEID0007    ITEM0458
                                  4115  SALESID0001  SITEID0007    ITEM0458
                                  4116  SALESID0001  SITEID0007    ITEM0458
                                  4117  SALESID0001  SITEID0007    ITEM0458
                                  4118  SALESID0001  SITEID0007    ITEM0458
                                  4119  SALESID0001  SITEID0007    ITEM0458
                                  4120  SALESID0001  SITEID0007    ITEM0458
                                  4121  SALESID0001  SITEID0007    ITEM0458
                                  4122  SALESID0001  SITEID0007    ITEM0458
                                  4123  SALESID0001  SITEID0007    ITEM0458
                                  4124  SALESID0001  SITEID0007    ITEM0458
                                  4125  SALESID0001  SITEID0007    ITEM0458
                                  4126  SALESID0001  SITEID0007    ITEM0458
                                  4127  SALESID0001  SITEID0007    ITEM0458
                                  4128  SALESID0001  SITEID0007    ITEM0458

                                        yearweek  year  week  qty        MA
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0       201301  2013     1    1  1.000000
                                  1       201302  2013     2    0  0.500000
                                  2       201303  2013     3    1  0.666667
                                  3       201304  2013     4    3  1.250000
                                  4       201305  2013     5    2  1.500000
                                  5       201306  2013     6    0  1.500000
                                  6       201307  2013     7    5  2.500000
                                  7       201308  2013     8    0  1.750000
                                  8       201309  2013     9    0  1.250000
                                  9       201310  2013    10    2  1.750000
                                  10      201311  2013    11    0  0.500000
                                  11      201312  2013    12    1  0.750000
                                  12      201313  2013    13    0  0.750000
                                  13      201314  2013    14    1  0.500000
                                  14      201315  2013    15    1  0.750000
                                  15      201316  2013    16    4  1.500000
                                  16      201317  2013    17    2  2.000000
                                  17      201318  2013    18    0  1.750000
                                  18      201319  2013    19    2  2.000000
                                  19      201320  2013    20    3  1.750000
                                  20      201321  2013    21    0  1.250000
                                  21      201322  2013    22    2  1.750000
                                  22      201323  2013    23    1  1.500000
                                  23      201324  2013    24    2  1.250000
                                  24      201325  2013    25    3  2.000000
                                  25      201326  2013    26    2  2.000000
                                  26      201327  2013    27    6  3.250000
                                  27      201328  2013    28    4  3.750000
                                  28      201329  2013    29    0  3.000000
                                  29      201330  2013    30    1  2.750000
...                                          ...   ...   ...  ...       ...
           PG05        SITEID0007 4099    201550  2015    50    0  0.000000
                                  4100    201551  2015    51    0  0.000000
                                  4101    201552  2015    52    0  0.000000
                                  4102    201601  2016     1    0  0.000000
                                  4103    201602  2016     2    0  0.000000
                                  4104    201603  2016     3    0  0.000000
                                  4105    201604  2016     4    0  0.000000
                                  4106    201605  2016     5    0  0.000000
                                  4107    201606  2016     6    0  0.000000
                                  4108    201607  2016     7    0  0.000000
                                  4109    201608  2016     8    0  0.000000
                                  4110    201609  2016     9    0  0.000000
                                  4111    201610  2016    10    0  0.000000
                                  4112    201611  2016    11    0  0.000000
                                  4113    201612  2016    12    0  0.000000
                                  4114    201613  2016    13    0  0.000000
                                  4115    201614  2016    14    0  0.000000
                                  4116    201615  2016    15    0  0.000000
                                  4117    201616  2016    16    0  0.000000
                                  4118    201617  2016    17    0  0.000000
                                  4119    201618  2016    18    0  0.000000
                                  4120    201619  2016    19    0  0.000000
                                  4121    201620  2016    20    0  0.000000
                                  4122    201621  2016    21    0  0.000000
                                  4123    201622  2016    22    0  0.000000
                                  4124    201623  2016    23    0  0.000000
                                  4125    201624  2016    24    0  0.000000
                                  4126    201625  2016    25    0  0.000000
                                  4127    201626  2016    26    0  0.000000
                                  4128    201627  2016    27    0  0.000000

[298354 rows x 11 columns]

In [19]:
maGroup = maGroup.reset_index(drop = True)
maGroup

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.000000
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0,0.500000
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1,0.666667
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3,1.250000
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2,1.500000
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0,1.500000
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5,2.500000
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0,1.750000
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0,1.250000
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2,1.750000
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0,0.500000
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1,0.750000
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0,0.750000
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1,0.500000
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1,0.750000
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4,1.500000
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2,2.000000
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0,1.750000
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2,2.000000
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3,1.750000
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0,1.250000
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2,1.750000
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1,1.500000
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2,1.250000
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3,2.000000
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2,2.000000
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6,3.250000
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4,3.750000
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0,3.000000
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1,2.750000
...,...,...,...,...,...,...,...,...,...,...,...
298324,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201550,2015,50,0,0.000000
298325,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0,0.000000
298326,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0,0.000000
298327,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0,0.000000
298328,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0,0.000000
298329,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0,0.000000
298330,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0,0.000000
298331,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0,0.000000
298332,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0,0.000000
298333,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0,0.000000
298334,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0,0.000000
298335,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0,0.000000
298336,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0,0.000000
298337,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0,0.000000
298338,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0,0.000000
298339,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0,0.000000
298340,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0,0.000000
298341,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0,0.000000
298342,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0,0.000000
298343,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0,0.000000
298344,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0,0.000000
298345,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0,0.000000
298346,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0,0.000000
298347,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0,0.000000
298348,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0,0.000000
298349,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0,0.000000
298350,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0,0.000000
298351,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0,0.000000
298352,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0,0.000000
298353,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0,0.000000

## step4. 계절성 지수 구하기

In [20]:
maGroup['seasonality'] = maGroup['qty']/maGroup['MA']

In [21]:
maGroup['seasonality'] = np.where(maGroup.MA == 0, 0, maGroup['qty']/maGroup['MA'])

In [22]:
maGroup.to_csv("ffffe.csv")

In [23]:
maGroup

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA,seasonality
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.000000,1.000000
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0,0.500000,0.000000
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1,0.666667,1.500000
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3,1.250000,2.400000
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2,1.500000,1.333333
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0,1.500000,0.000000
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5,2.500000,2.000000
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0,1.750000,0.000000
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0,1.250000,0.000000
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2,1.750000,1.142857
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0,0.500000,0.000000
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1,0.750000,1.333333
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0,0.750000,0.000000
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1,0.500000,2.000000
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1,0.750000,1.333333
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4,1.500000,2.666667
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2,2.000000,1.000000
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0,1.750000,0.000000
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2,2.000000,1.000000
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3,1.750000,1.714286
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0,1.250000,0.000000
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2,1.750000,1.142857
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1,1.500000,0.666667
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2,1.250000,1.600000
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3,2.000000,1.500000
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2,2.000000,1.000000
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6,3.250000,1.846154
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4,3.750000,1.066667
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0,3.000000,0.000000
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1,2.750000,0.363636
...,...,...,...,...,...,...,...,...,...,...,...,...
298324,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201550,2015,50,0,0.000000,0.000000
298325,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0,0.000000,0.000000
298326,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0,0.000000,0.000000
298327,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0,0.000000,0.000000
298328,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0,0.000000,0.000000
298329,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0,0.000000,0.000000
298330,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0,0.000000,0.000000
298331,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0,0.000000,0.000000
298332,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0,0.000000,0.000000
298333,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0,0.000000,0.000000
298334,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0,0.000000,0.000000
298335,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0,0.000000,0.000000
298336,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0,0.000000,0.000000
298337,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0,0.000000,0.000000
298338,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0,0.000000,0.000000
298339,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0,0.000000,0.000000
298340,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0,0.000000,0.000000
298341,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0,0.000000,0.000000
298342,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0,0.000000,0.000000
298343,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0,0.000000,0.000000
298344,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0,0.000000,0.000000
298345,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0,0.000000,0.000000
298346,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0,0.000000,0.000000
298347,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0,0.000000,0.000000
298348,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0,0.000000,0.000000
298349,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0,0.000000,0.000000
298350,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0,0.000000,0.000000
298351,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0,0.000000,0.000000
298352,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0,0.000000,0.000000
298353,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0,0.000000,0.000000

## step5. 주차별 계절성 지수 평균 구하기

In [24]:
groupKey3 = ['regionSeg1', 'productSeg2', 'regionSeg3', 'week']

In [25]:
maGroup2 = maGroup.groupby(groupKey3)[["seasonality"]].mean()
maGroup2

                                        seasonality
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1        1.006904
                                  2        0.623015
                                  3        0.634163
                                  4        0.707390
                                  5        0.831923
                                  6        0.594479
                                  7        0.569435
                                  8        0.664967
                                  9        0.568586
                                  10       0.546792
                                  11       0.406323
                                  12       0.590665
                                  13       0.659336
                                  14       0.605134
                                  15       0.681368
                                  16       0.829353
                                  17       0.585114
                                  18       0.483310
                                  19       0.401881
                                  20       0.529287
                                  21       0.851952
                                  22       0.897540
                                  23       0.447698
                                  24       0.477175
                                  25       0.842423
                                  26       0.931523
                                  27       0.933246
                                  28       0.680776
                                  29       0.396731
                                  30       0.320651
...                                             ...
           PG05        SITEID0007 23       0.283876
                                  24       0.382250
                                  25       0.301738
                                  26       0.502661
                                  27       0.465896
                                  28       0.478856
                                  29       0.349431
                                  30       0.490299
                                  31       0.693273
                                  32       0.405099
                                  33       0.538528
                                  34       0.186817
                                  35       0.780463
                                  36       0.657558
                                  37       0.688732
                                  38       0.563814
                                  39       0.228744
                                  40       0.426354
                                  41       0.229354
                                  42       0.274222
                                  43       0.190639
                                  44       0.196869
                                  45       1.189071
                                  46       1.037689
                                  47       0.857042
                                  48       0.895948
                                  49       0.264822
                                  50       0.153068
                                  51       0.233490
                                  52       0.483247

[1820 rows x 1 columns]

## step6. 수요예측 구하기

In [26]:
groupKey4 = ['regionSeg1', 'productSeg2', 'regionSeg3', 'productSeg3']

In [27]:
maGroup3 = maGroup.groupby(groupKey3).apply(minmaxweek)
maGroup3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

KeyboardInterrupt:

In [ ]:
def recent4Fcst ( inputdf):
    
    preweek1 = inputdf.loc[len(inputdf)-1].values[9]
    preweek2 = inputdf.loc[len(inputdf)-2].values[9]
    preweek3 = inputdf.loc[len(inputdf)-3].values[9]
    preweek4 = inputdf.loc[len(inputdf)-4].values[9]
    
    inputdf.reset_index(drop = True, inplace = True)

In [224]:
my_dict = {"a": [1], "b": [1], "c": [1]}
display(pd.DataFrame(my_dict))

   a  b  c
0  1  1  1

In [223]:
my_dict

{'a': [], 'b': [], 'c': []}