## step1. 데이터 로드

In [1]:
import pandas as pd
import numpy as np
from isoweek import Week
import time
from pandas import Series, DataFrame

In [2]:
from collections import OrderedDict ##

In [3]:
actualData = pd.read_csv("../dataset/pro_actual_sales.csv")

In [4]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

## step2. 데이터 정제

### step.2-1. 빈주차 생성

In [5]:
## postWeek 함수 생성,(미래 주차 구하는 함수)

def postWeek(inputYW, gapWeek) :
    inputYW = str(inputYW)
    inputY = inputYW[0:4]
    inputW = inputYW[4:]
    
    gapWeek = int(gapWeek)
    
    sumWeek = int(inputW) + gapWeek
    
    currYear = int(inputY)
    lastWeek = Week.last_week_of_year(currYear).week  ## currYear, 마지막주차 구하는 함수
    
    while(sumWeek > lastWeek) :
        sumWeek -= lastWeek
        currYear += 1
        lastWeek = Week.last_week_of_year(currYear).week
        
    if(sumWeek < 10) :
        lastAnswer = str(currYear) + "0" + str(sumWeek)
    else :
        lastAnswer = str(currYear) + str(sumWeek)
    
    return lastAnswer

In [6]:
postWeek(201540, 20)

'201607'

In [7]:
## minmaxweek 함수 생성 : groupby를 적용한 데이터셋에 빈주차를 파악하여 최종적으로 채워주는 함수
## step1. yearweek의 min값과 max값을 찾아 그 사이에 있는 연주차를 모두 생성하여 배열에 담는다
## step2.비어있는주차가 존재하는 df와 step1에서 만든 배열의 차집합을 구하여 빈주차값을 알아본다
## step3. step2에서 구한 빈주차를 df에 적용시킨다(그룹별로 적용됨)

def minmaxweek(inputdf) : 
    inputdf.reset_index(drop = True, inplace = True)  ## 그룹바이 했을때 정리해줌,
    
    minYW = min(inputdf['yearweek']) 
    maxYW = 201627 ##전체 ITEM의 확정된 maxYW, 
    fullYearWeek = []  ## 빈 배열 or 리스트 만들어줌 체크해보자.
    fullYearWeek.append(minYW) ## 최소값들어감!
    
    while(max(fullYearWeek) < maxYW) :  ## fullYearWeek 의 max 값 까지  < 201627
        inputYW = int(postWeek(max(fullYearWeek),1))  ## 해당 리스트의 최대
        fullYearWeek.append(inputYW)
        
    diffYearWeek = list(set(fullYearWeek).difference(set(list(inputdf.yearweek.values)))) #difference는 set형식에서만 사용할 수 있음
    ## inputdf = 그룹바이 데이터 프레임의 yearweek 의 values 을 담아줌 차집합(difference)은 set 형식에서만사용가능하다.
    ## diffYearWeek 에는 없던 주차가 담겨있다.
    
    for i in range(len(diffYearWeek)) :  ## 비어있는 주차애들
        inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)  ## inputdf 데이터프레임의. loc[0] 제일 처음의 행의 값을 가져옴
        ## 위에 뽑은거를 예를들면, 데이타가 5개가 있어.. 길이는 5야 근데 loc 는 인덱스 번호를 가져온다. loc의 5라는 소린데,
        ## 실제로 인덱스 번호로 치면 0부터니까 4까지밖에 없죠, 새로 만들어줫다는 의미가 된다.
        ## 그룹단위로 들어오는 데이터를 
        
        inputdf.loc[len(inputdf)-1, 'yearweek'] = diffYearWeek[i]  
        inputdf.loc[len(inputdf)-1, 'year'] = int(diffYearWeek[i]/100) ##round 처리 말고 int처리로 변경
        inputdf.loc[len(inputdf)-1, 'week'] = diffYearWeek[i]%100
        inputdf.loc[len(inputdf)-1, 'qty'] = 0
    
    #어차피 이 함수 적용하고나서 다시 sort 해줘야하기때문에 생략해도 될 것 같음
#     inputdf.sort_values('yearweek')
#     inputdf.reset_index(drop = True, inplace = True)
    
    return inputdf

In [8]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [9]:
list(actualData.loc[0].values)

['A01',
 nan,
 'PG05',
 'SALESID0001',
 'SITEID0004',
 'ITEM0445',
 201306,
 2013,
 6,
 5]

In [10]:
    result2 = {
        'regionSeg1': [],
        'regionSeg2': [],
        'regionSeg3': [],
        'productSeg1': [],
        'productSeg2': [],
        'productSeg3': [],
        'yearweek': [],
        'year': [],
        'week': [],
        'qty': []
    }

In [11]:
result2['regionSeg1'].append(list(actualData.loc[0].values)[0])
result2['yearweek'].append(list(actualData.loc[0].values)[6])
result2['year'].append(list(actualData.loc[0].values)[7]/100)
result2['week'].append(list(actualData.loc[0].values)[8]%100)
result2['qty'].append(0)

In [12]:
OrderedDict(result2)

OrderedDict([('regionSeg1', ['A01']),
             ('regionSeg2', []),
             ('regionSeg3', []),
             ('productSeg1', []),
             ('productSeg2', []),
             ('productSeg3', []),
             ('yearweek', [201306]),
             ('year', [20.13]),
             ('week', [6]),
             ('qty', [0])])

In [13]:
# 다른 처리
# minmaxweek 함수 생성 : groupby를 적용한 데이터셋에 빈주차를 파악하여 최종적으로 채워주는 함수
# step1. yearweek의 min값과 max값을 찾아 그 사이에 있는 연주차를 모두 생성하여 배열에 담는다
# step2.비어있는주차가 존재하는 df와 step1에서 만든 배열의 차집합을 구하여 빈주차값을 알아본다
# step3. step2에서 구한 빈주차를 df에 적용시킨다(그룹별로 적용됨)

def minmaxweek(inputdf) :
    inputdf.reset_index(drop = True, inplace = True)  ## 
    
    minYW = min(inputdf['yearweek']) 
    maxYW = 201627 ##전체 ITEM의 확정된 maxYW 
    fullYearWeek = []
    fullYearWeek.append(minYW)
    
    while(max(fullYearWeek) < maxYW) :
        inputYW = int(postWeek(max(fullYearWeek),1))
        fullYearWeek.append(inputYW)
        
    diffYearWeek = list(set(fullYearWeek).difference(set(list(inputdf.yearweek.values)))) #difference는 set형식에서만 사용할 수 있음
    
    result2 = {     ## 빈 딕셔너리를 만들어준다. 왜?
        'regionSeg1': [],
        'productSeg1': [],
        'productSeg2': [],
        'regionSeg2': [],
        'regionSeg3': [],
        'productSeg3': [],
        'yearweek': [],
        'year': [],
        'week': [],
        'qty': []
    }
    OrderedDict(result2)  
    ## dict 형은 입력한 값 순서대로 출력되지 않고, 뒤죽박죽(알파벳 숫자, 뭐 그런식으로 ) -> OrderedDict() 사용하여 보정
    
    for i in range(len(diffYearWeek)) :  ## 빈주차만큼 돌린다.
        
#         result.append(list(inputdf.loc[0].values))
#         result['yearweek'].append(diffYearWeek[i])
#         result['year'].append(int(diffYearWeek[i]/100))
#         result['week'].append(diffYearWeek[i]%100)
#         result['qty'].append(0)
        
#         inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
#         inputdf.loc[len(inputdf)-1, 'yearweek'] = diffYearWeek[i]
#         inputdf.loc[len(inputdf)-1, 'year'] = int(diffYearWeek[i]/100) ##round 처리 말고 int처리로 변경
#         inputdf.loc[len(inputdf)-1, 'week'] = diffYearWeek[i]%100
#         inputdf.loc[len(inputdf)-1, 'qty'] = 0
          
    
    
        result2['regionSeg1'].append(list(inputdf.loc[0].values)[0])  ## 이 부분의 loc[0] 때문에 처음에 reset_index 를 해줌
        result2['productSeg1'].append(list(inputdf.loc[0].values)[1])  ## 그룹단위의 데이터프레임으로 작업을 하는데 9만~12만건사이의
        result2['productSeg2'].append(list(inputdf.loc[0].values)[2])  ## 데이타프레임이 들어오면 인덱스 번호가 9만부터 시작되니까
        result2['regionSeg2'].append(list(inputdf.loc[0].values)[3])    ## 그런거임
        result2['regionSeg3'].append(list(inputdf.loc[0].values)[4])
        result2['productSeg3'].append(list(inputdf.loc[0].values)[5])  
        
        ## inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)
        ## 아까꺼(위에)를 풀어쓴건데 속도가 훨씬 빠름
        ## loc 이란걸 쓰면 느려진다.
        
        result2['yearweek'].append(int(diffYearWeek[i]))
        result2['year'].append(int(diffYearWeek[i]/100))
        result2['week'].append(int(diffYearWeek[i]%100))
        result2['qty'].append(0)
      
   
    result2=pd.DataFrame(result2)
    dfconcat=pd.concat([inputdf,result2]) ## 위아래로 붙이는거~
    dfconcat['qty'] = dfconcat['qty'].astype('int')
    dfconcat['yearweek'] = dfconcat['yearweek'].astype('int')
    dfconcat['year'] = dfconcat['year'].astype('int')
    dfconcat['week'] = dfconcat['week'].astype('int')    
    #어차피 이 함수 적용하고나서 다시 sort 해줘야하기때문에 생략해도 될 것 같음
#     inputdf.sort_values('yearweek')
#     inputdf.reset_index(drop = True, inplace = True)
    
    return dfconcat

In [14]:
actualData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201306,2013,6,5
1,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201307,2013,7,8
2,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201308,2013,8,7
3,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201309,2013,9,1
4,A01,NaN,PG05,SALESID0001,SITEID0004,ITEM0445,201310,2013,10,1

In [15]:
groupKey1 = ['regionSeg1', 'productSeg2', 'regionSeg2', 'regionSeg3', 'productSeg3'] ## 빈주차를 채워주기 위한 그룹키

In [16]:
groupData = actualData.groupby(groupKey1)

In [17]:
eachData = groupData.get_group(list(groupData.groups)[0])  # 그룹 단위 데이터 중 하나를 가져와서 이상 데이터 여부 확인

In [18]:
eachData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
28546,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
28547,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
28548,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
28549,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2
28550,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5
28551,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2
28552,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1
28553,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1
28554,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1
28555,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4
28556,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2
28557,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2
28558,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3
28559,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2
28560,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1
28561,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2
28562,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3
28563,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2
28564,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6
28565,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4
28566,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1
67859,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201439,2014,39,1
67860,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201451,2014,51,1
68718,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201538,2015,38,1
68719,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201549,2015,49,2

In [19]:
groupData = actualData.groupby(groupKey1).apply(minmaxweek)  ## apply = 그룹마다 apply 함수를 적용시켜준다.

In [20]:
groupData

                                                             regionSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
                                                          5         A01
                                                          6         A01
                                                          7         A01
                                                          8         A01
                                                          9         A01
                                                          10        A01
                                                          11        A01
                                                          12        A01
                                                          13        A01
                                                          14        A01
                                                          15        A01
                                                          16        A01
                                                          17        A01
                                                          18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          0         A01
                                                          1         A01
                                                          2         A01
                                                          3         A01
                                                          4         A01
...                                                                 ...
           PG05        SALESID0001 SITEID0007 ITEM0458    18        A01
                                                          19        A01
                                                          20        A01
                                                          21        A01
                                                          22        A01
                                                          23        A01
                                                          24        A01
                                                          25        A01
                                                          26        A01
                                                          27        A01
                                                          28        A01
                                                          29        A01
                                                          30        A01
                                                          31        A01
                                                          32        A01
                                                          33        A01
                                                          34        A01
                                                          35        A01
                                                          36        A01
                                                          37        A01
                                                          38        A01
                                                          39        A01
                                                          40        A01
                                                          41        A01
                                                          42        A01
                                                          43        A01
                                                          44        A01
                                                          45        A01
                                                          46        A01
                                                          47        A01

                                                              productSeg1  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
                                                          5           NaN
                                                          6           NaN
                                                          7           NaN
                                                          8           NaN
                                                          9           NaN
                                                          10          NaN
                                                          11          NaN
                                                          12          NaN
                                                          13          NaN
                                                          14          NaN
                                                          15          NaN
                                                          16          NaN
                                                          17          NaN
                                                          18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          0           NaN
                                                          1           NaN
                                                          2           NaN
                                                          3           NaN
                                                          4           NaN
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    18          NaN
                                                          19          NaN
                                                          20          NaN
                                                          21          NaN
                                                          22          NaN
                                                          23          NaN
                                                          24          NaN
                                                          25          NaN
                                                          26          NaN
                                                          27          NaN
                                                          28          NaN
                                                          29          NaN
                                                          30          NaN
                                                          31          NaN
                                                          32          NaN
                                                          33          NaN
                                                          34          NaN
                                                          35          NaN
                                                          36          NaN
                                                          37          NaN
                                                          38          NaN
                                                          39          NaN
                                                          40          NaN
                                                          41          NaN
                                                          42          NaN
                                                          43          NaN
                                                          44          NaN
                                                          45          NaN
                                                          46          NaN
                                                          47          NaN

                                                             productSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0         PG01
                                                          1         PG01
                                                          2         PG01
                                                          3         PG01
                                                          4         PG01
                                                          5         PG01
                                                          6         PG01
                                                          7         PG01
                                                          8         PG01
                                                          9         PG01
                                                          10        PG01
                                                          11        PG01
                                                          12        PG01
                                                          13        PG01
                                                          14        PG01
                                                          15        PG01
                                                          16        PG01
                                                          17        PG01
                                                          18        PG01
                                                          19        PG01
                                                          20        PG01
                                                          21        PG01
                                                          22        PG01
                                                          23        PG01
                                                          24        PG01
                                                          0         PG01
                                                          1         PG01
                                                          2         PG01
                                                          3         PG01
                                                          4         PG01
...                                                                  ...
           PG05        SALESID0001 SITEID0007 ITEM0458    18        PG05
                                                          19        PG05
                                                          20        PG05
                                                          21        PG05
                                                          22        PG05
                                                          23        PG05
                                                          24        PG05
                                                          25        PG05
                                                          26        PG05
                                                          27        PG05
                                                          28        PG05
                                                          29        PG05
                                                          30        PG05
                                                          31        PG05
                                                          32        PG05
                                                          33        PG05
                                                          34        PG05
                                                          35        PG05
                                                          36        PG05
                                                          37        PG05
                                                          38        PG05
                                                          39        PG05
                                                          40        PG05
                                                          41        PG05
                                                          42        PG05
                                                          43        PG05
                                                          44        PG05
                                                          45        PG05
                                                          46        PG05
                                                          47        PG05

                                                               regionSeg2  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
                                                          5   SALESID0001
                                                          6   SALESID0001
                                                          7   SALESID0001
                                                          8   SALESID0001
                                                          9   SALESID0001
                                                          10  SALESID0001
                                                          11  SALESID0001
                                                          12  SALESID0001
                                                          13  SALESID0001
                                                          14  SALESID0001
                                                          15  SALESID0001
                                                          16  SALESID0001
                                                          17  SALESID0001
                                                          18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          0   SALESID0001
                                                          1   SALESID0001
                                                          2   SALESID0001
                                                          3   SALESID0001
                                                          4   SALESID0001
...                                                                   ...
           PG05        SALESID0001 SITEID0007 ITEM0458    18  SALESID0001
                                                          19  SALESID0001
                                                          20  SALESID0001
                                                          21  SALESID0001
                                                          22  SALESID0001
                                                          23  SALESID0001
                                                          24  SALESID0001
                                                          25  SALESID0001
                                                          26  SALESID0001
                                                          27  SALESID0001
                                                          28  SALESID0001
                                                          29  SALESID0001
                                                          30  SALESID0001
                                                          31  SALESID0001
                                                          32  SALESID0001
                                                          33  SALESID0001
                                                          34  SALESID0001
                                                          35  SALESID0001
                                                          36  SALESID0001
                                                          37  SALESID0001
                                                          38  SALESID0001
                                                          39  SALESID0001
                                                          40  SALESID0001
                                                          41  SALESID0001
                                                          42  SALESID0001
                                                          43  SALESID0001
                                                          44  SALESID0001
                                                          45  SALESID0001
                                                          46  SALESID0001
                                                          47  SALESID0001

                                                              regionSeg3  \
regionSeg1 productSeg2 regionSeg2  regionSeg3 productSeg3
A01        PG01        SALESID0001 SITEID0001 ITEM0001    0   SITEID0001
                                                          1   SITEID0001
                                                          2   SITEID0001
                                                          3   SITEID0001
                                                          4   SITEID0001
                                                          5   SITEID0001
                                                          6   SITEID0001
                                                          7   SITEID0001
                                                          8   SITEID0001
                                                          9   SITEID0001
                                                          10  SITEID0001
                                                          11  SITEID0001
                                                          12  SITEID0001
                                                          13  SITEID0001
                                                          14  SITEID0001
                                                          15  SITEID0001
                                                          16  SITEID0001
                                                          17  SITEID0001
                                                          18  SITEID0001

In [21]:
groupData.to_csv("./M.csv")

PermissionError: [Errno 13] Permission denied: './M.csv'

In [22]:
sortKey = ['regionSeg1','productSeg2','regionSeg2','regionSeg3','productSeg3','yearweek']

In [23]:
sortedData = groupData.sort_values(sortKey)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg1' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg2' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'regionSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'productSeg3' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [24]:
sortedData.reset_index(drop = True, inplace =True)

In [25]:
sortedData.head()

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2

### step2-2. 53주차 제거

In [26]:
## week가 52주차 이하인 값들을 뽑아서 actualData에 담기
sortedData = sortedData[sortedData['week'] <= 52]
## 잘 정제 됬는지 확인
sortedData[sortedData['week'] > 52]

Empty DataFrame
Columns: [regionSeg1, productSeg1, productSeg2, regionSeg2, regionSeg3, productSeg3, yearweek, year, week, qty]
Index: []

## step3. 이동평균 구하기

In [27]:
# 그룹단위별 rolling 함수 생성
def groupRolling(oneGroup) :
    indexGroupData = oneGroup.reset_index(drop = True)
    indexGroupData['MA'] = indexGroupData['qty'].rolling(window=4, center=False, min_periods=1).mean() 
    
    ##  window=4 가 날개를 펼친다, center=False 는 자기포함 과거 3주차, min_periods 페리우드, 난값 없애주는거
    ## 위에 값이 없으면 자기혼자만 포함해서 구함
    
    return indexGroupData

In [28]:
groupKey2 = ['regionSeg1', 'productSeg2', 'regionSeg3']  ## 미국, 플로리다, 냉장고 
## 아이템별로 구할꺼기 때문에,
## 계절성지수 구할때는 별 차이는 없는데, 수요예측을 하게 되면, 새로운 아이템이라던지, 냉장고 종류가 추가되거나
## 없어질수가 있다, 세부 아이템까지 그룹키에 넣어버리면 없어져 버릴수도 있다.

In [29]:
maGroup = sortedData.groupby(groupKey2).apply(groupRolling)

In [30]:
maGroup

                                       regionSeg1  productSeg1 productSeg2  \
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0           A01          NaN        PG01
                                  1           A01          NaN        PG01
                                  2           A01          NaN        PG01
                                  3           A01          NaN        PG01
                                  4           A01          NaN        PG01
                                  5           A01          NaN        PG01
                                  6           A01          NaN        PG01
                                  7           A01          NaN        PG01
                                  8           A01          NaN        PG01
                                  9           A01          NaN        PG01
                                  10          A01          NaN        PG01
                                  11          A01          NaN        PG01
                                  12          A01          NaN        PG01
                                  13          A01          NaN        PG01
                                  14          A01          NaN        PG01
                                  15          A01          NaN        PG01
                                  16          A01          NaN        PG01
                                  17          A01          NaN        PG01
                                  18          A01          NaN        PG01
                                  19          A01          NaN        PG01
                                  20          A01          NaN        PG01
                                  21          A01          NaN        PG01
                                  22          A01          NaN        PG01
                                  23          A01          NaN        PG01
                                  24          A01          NaN        PG01
                                  25          A01          NaN        PG01
                                  26          A01          NaN        PG01
                                  27          A01          NaN        PG01
                                  28          A01          NaN        PG01
                                  29          A01          NaN        PG01
...                                           ...          ...         ...
           PG05        SITEID0007 4099        A01          NaN        PG05
                                  4100        A01          NaN        PG05
                                  4101        A01          NaN        PG05
                                  4102        A01          NaN        PG05
                                  4103        A01          NaN        PG05
                                  4104        A01          NaN        PG05
                                  4105        A01          NaN        PG05
                                  4106        A01          NaN        PG05
                                  4107        A01          NaN        PG05
                                  4108        A01          NaN        PG05
                                  4109        A01          NaN        PG05
                                  4110        A01          NaN        PG05
                                  4111        A01          NaN        PG05
                                  4112        A01          NaN        PG05
                                  4113        A01          NaN        PG05
                                  4114        A01          NaN        PG05
                                  4115        A01          NaN        PG05
                                  4116        A01          NaN        PG05
                                  4117        A01          NaN        PG05
                                  4118        A01          NaN        PG05
                                  4119        A01          NaN        PG05
                                  4120        A01          NaN        PG05
                                  4121        A01          NaN        PG05
                                  4122        A01          NaN        PG05
                                  4123        A01          NaN        PG05
                                  4124        A01          NaN        PG05
                                  4125        A01          NaN        PG05
                                  4126        A01          NaN        PG05
                                  4127        A01          NaN        PG05
                                  4128        A01          NaN        PG05

                                         regionSeg2  regionSeg3 productSeg3  \
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0     SALESID0001  SITEID0001    ITEM0001
                                  1     SALESID0001  SITEID0001    ITEM0001
                                  2     SALESID0001  SITEID0001    ITEM0001
                                  3     SALESID0001  SITEID0001    ITEM0001
                                  4     SALESID0001  SITEID0001    ITEM0001
                                  5     SALESID0001  SITEID0001    ITEM0001
                                  6     SALESID0001  SITEID0001    ITEM0001
                                  7     SALESID0001  SITEID0001    ITEM0001
                                  8     SALESID0001  SITEID0001    ITEM0001
                                  9     SALESID0001  SITEID0001    ITEM0001
                                  10    SALESID0001  SITEID0001    ITEM0001
                                  11    SALESID0001  SITEID0001    ITEM0001
                                  12    SALESID0001  SITEID0001    ITEM0001
                                  13    SALESID0001  SITEID0001    ITEM0001
                                  14    SALESID0001  SITEID0001    ITEM0001
                                  15    SALESID0001  SITEID0001    ITEM0001
                                  16    SALESID0001  SITEID0001    ITEM0001
                                  17    SALESID0001  SITEID0001    ITEM0001
                                  18    SALESID0001  SITEID0001    ITEM0001
                                  19    SALESID0001  SITEID0001    ITEM0001
                                  20    SALESID0001  SITEID0001    ITEM0001
                                  21    SALESID0001  SITEID0001    ITEM0001
                                  22    SALESID0001  SITEID0001    ITEM0001
                                  23    SALESID0001  SITEID0001    ITEM0001
                                  24    SALESID0001  SITEID0001    ITEM0001
                                  25    SALESID0001  SITEID0001    ITEM0001
                                  26    SALESID0001  SITEID0001    ITEM0001
                                  27    SALESID0001  SITEID0001    ITEM0001
                                  28    SALESID0001  SITEID0001    ITEM0001
                                  29    SALESID0001  SITEID0001    ITEM0001
...                                             ...         ...         ...
           PG05        SITEID0007 4099  SALESID0001  SITEID0007    ITEM0458
                                  4100  SALESID0001  SITEID0007    ITEM0458
                                  4101  SALESID0001  SITEID0007    ITEM0458
                                  4102  SALESID0001  SITEID0007    ITEM0458
                                  4103  SALESID0001  SITEID0007    ITEM0458
                                  4104  SALESID0001  SITEID0007    ITEM0458
                                  4105  SALESID0001  SITEID0007    ITEM0458
                                  4106  SALESID0001  SITEID0007    ITEM0458
                                  4107  SALESID0001  SITEID0007    ITEM0458
                                  4108  SALESID0001  SITEID0007    ITEM0458
                                  4109  SALESID0001  SITEID0007    ITEM0458
                                  4110  SALESID0001  SITEID0007    ITEM0458
                                  4111  SALESID0001  SITEID0007    ITEM0458
                                  4112  SALESID0001  SITEID0007    ITEM0458
                                  4113  SALESID0001  SITEID0007    ITEM0458
                                  4114  SALESID0001  SITEID0007    ITEM0458
                                  4115  SALESID0001  SITEID0007    ITEM0458
                                  4116  SALESID0001  SITEID0007    ITEM0458
                                  4117  SALESID0001  SITEID0007    ITEM0458
                                  4118  SALESID0001  SITEID0007    ITEM0458
                                  4119  SALESID0001  SITEID0007    ITEM0458
                                  4120  SALESID0001  SITEID0007    ITEM0458
                                  4121  SALESID0001  SITEID0007    ITEM0458
                                  4122  SALESID0001  SITEID0007    ITEM0458
                                  4123  SALESID0001  SITEID0007    ITEM0458
                                  4124  SALESID0001  SITEID0007    ITEM0458
                                  4125  SALESID0001  SITEID0007    ITEM0458
                                  4126  SALESID0001  SITEID0007    ITEM0458
                                  4127  SALESID0001  SITEID0007    ITEM0458
                                  4128  SALESID0001  SITEID0007    ITEM0458

                                        yearweek  year  week  qty        MA
regionSeg1 productSeg2 regionSeg3
A01        PG01        SITEID0001 0       201301  2013     1    1  1.000000
                                  1       201302  2013     2    0  0.500000
                                  2       201303  2013     3    1  0.666667
                                  3       201304  2013     4    3  1.250000
                                  4       201305  2013     5    2  1.500000
                                  5       201306  2013     6    0  1.500000
                                  6       201307  2013     7    5  2.500000
                                  7       201308  2013     8    0  1.750000
                                  8       201309  2013     9    0  1.250000
                                  9       201310  2013    10    2  1.750000
                                  10      201311  2013    11    0  0.500000
                                  11      201312  2013    12    1  0.750000
                                  12      201313  2013    13    0  0.750000
                                  13      201314  2013    14    1  0.500000
                                  14      201315  2013    15    1  0.750000
                                  15      201316  2013    16    4  1.500000
                                  16      201317  2013    17    2  2.000000
                                  17      201318  2013    18    0  1.750000
                                  18      201319  2013    19    2  2.000000
                                  19      201320  2013    20    3  1.750000
                                  20      201321  2013    21    0  1.250000
                                  21      201322  2013    22    2  1.750000
                                  22      201323  2013    23    1  1.500000
                                  23      201324  2013    24    2  1.250000
                                  24      201325  2013    25    3  2.000000
                                  25      201326  2013    26    2  2.000000
                                  26      201327  2013    27    6  3.250000
                                  27      201328  2013    28    4  3.750000
                                  28      201329  2013    29    0  3.000000
                                  29      201330  2013    30    1  2.750000
...                                          ...   ...   ...  ...       ...
           PG05        SITEID0007 4099    201550  2015    50    0  0.000000
                                  4100    201551  2015    51    0  0.000000
                                  4101    201552  2015    52    0  0.000000
                                  4102    201601  2016     1    0  0.000000
                                  4103    201602  2016     2    0  0.000000
                                  4104    201603  2016     3    0  0.000000
                                  4105    201604  2016     4    0  0.000000
                                  4106    201605  2016     5    0  0.000000
                                  4107    201606  2016     6    0  0.000000
                                  4108    201607  2016     7    0  0.000000
                                  4109    201608  2016     8    0  0.000000
                                  4110    201609  2016     9    0  0.000000
                                  4111    201610  2016    10    0  0.000000
                                  4112    201611  2016    11    0  0.000000
                                  4113    201612  2016    12    0  0.000000
                                  4114    201613  2016    13    0  0.000000
                                  4115    201614  2016    14    0  0.000000
                                  4116    201615  2016    15    0  0.000000
                                  4117    201616  2016    16    0  0.000000
                                  4118    201617  2016    17    0  0.000000
                                  4119    201618  2016    18    0  0.000000
                                  4120    201619  2016    19    0  0.000000
                                  4121    201620  2016    20    0  0.000000
                                  4122    201621  2016    21    0  0.000000
                                  4123    201622  2016    22    0  0.000000
                                  4124    201623  2016    23    0  0.000000
                                  4125    201624  2016    24    0  0.000000
                                  4126    201625  2016    25    0  0.000000
                                  4127    201626  2016    26    0  0.000000
                                  4128    201627  2016    27    0  0.000000

[298354 rows x 11 columns]

In [31]:
maGroup = maGroup.reset_index(drop = True)
maGroup

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.000000
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0,0.500000
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1,0.666667
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3,1.250000
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2,1.500000
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0,1.500000
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5,2.500000
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0,1.750000
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0,1.250000
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2,1.750000
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0,0.500000
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1,0.750000
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0,0.750000
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1,0.500000
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1,0.750000
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4,1.500000
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2,2.000000
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0,1.750000
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2,2.000000
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3,1.750000
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0,1.250000
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2,1.750000
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1,1.500000
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2,1.250000
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3,2.000000
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2,2.000000
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6,3.250000
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4,3.750000
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0,3.000000
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1,2.750000
...,...,...,...,...,...,...,...,...,...,...,...
298324,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201550,2015,50,0,0.000000
298325,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0,0.000000
298326,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0,0.000000
298327,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0,0.000000
298328,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0,0.000000
298329,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0,0.000000
298330,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0,0.000000
298331,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0,0.000000
298332,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0,0.000000
298333,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0,0.000000
298334,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0,0.000000
298335,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0,0.000000
298336,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0,0.000000
298337,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0,0.000000
298338,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0,0.000000
298339,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0,0.000000
298340,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0,0.000000
298341,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0,0.000000
298342,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0,0.000000
298343,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0,0.000000
298344,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0,0.000000
298345,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0,0.000000
298346,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0,0.000000
298347,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0,0.000000
298348,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0,0.000000
298349,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0,0.000000
298350,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0,0.000000
298351,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0,0.000000
298352,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0,0.000000
298353,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0,0.000000

## step4. 계절성 지수 구하기

In [32]:
maGroup['seasonality'] = maGroup['qty']/maGroup['MA']  ## 이동평균 분의 QTY 죠

In [33]:
maGroup['seasonality'] = np.where(maGroup.MA == 0, 0, maGroup['qty']/maGroup['MA'])  ## 이동평균이 0일수도 있으니 예외처리를 햇죠

In [34]:
maGroup.to_csv("ffffe.csv")

PermissionError: [Errno 13] Permission denied: 'ffffe.csv'

In [35]:
maGroup

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA,seasonality
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.000000,1.000000
1,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201302,2013,2,0,0.500000,0.000000
2,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201303,2013,3,1,0.666667,1.500000
3,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201304,2013,4,3,1.250000,2.400000
4,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201305,2013,5,2,1.500000,1.333333
5,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201306,2013,6,0,1.500000,0.000000
6,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201307,2013,7,5,2.500000,2.000000
7,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201308,2013,8,0,1.750000,0.000000
8,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201309,2013,9,0,1.250000,0.000000
9,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201310,2013,10,2,1.750000,1.142857
10,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201311,2013,11,0,0.500000,0.000000
11,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201312,2013,12,1,0.750000,1.333333
12,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201313,2013,13,0,0.750000,0.000000
13,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201314,2013,14,1,0.500000,2.000000
14,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201315,2013,15,1,0.750000,1.333333
15,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201316,2013,16,4,1.500000,2.666667
16,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201317,2013,17,2,2.000000,1.000000
17,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201318,2013,18,0,1.750000,0.000000
18,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201319,2013,19,2,2.000000,1.000000
19,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201320,2013,20,3,1.750000,1.714286
20,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201321,2013,21,0,1.250000,0.000000
21,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201322,2013,22,2,1.750000,1.142857
22,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201323,2013,23,1,1.500000,0.666667
23,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201324,2013,24,2,1.250000,1.600000
24,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201325,2013,25,3,2.000000,1.500000
25,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201326,2013,26,2,2.000000,1.000000
26,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201327,2013,27,6,3.250000,1.846154
27,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201328,2013,28,4,3.750000,1.066667
28,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201329,2013,29,0,3.000000,0.000000
29,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201330,2013,30,1,2.750000,0.363636
...,...,...,...,...,...,...,...,...,...,...,...,...
298324,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201550,2015,50,0,0.000000,0.000000
298325,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201551,2015,51,0,0.000000,0.000000
298326,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201552,2015,52,0,0.000000,0.000000
298327,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201601,2016,1,0,0.000000,0.000000
298328,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201602,2016,2,0,0.000000,0.000000
298329,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201603,2016,3,0,0.000000,0.000000
298330,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201604,2016,4,0,0.000000,0.000000
298331,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201605,2016,5,0,0.000000,0.000000
298332,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201606,2016,6,0,0.000000,0.000000
298333,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201607,2016,7,0,0.000000,0.000000
298334,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201608,2016,8,0,0.000000,0.000000
298335,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201609,2016,9,0,0.000000,0.000000
298336,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201610,2016,10,0,0.000000,0.000000
298337,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201611,2016,11,0,0.000000,0.000000
298338,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201612,2016,12,0,0.000000,0.000000
298339,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201613,2016,13,0,0.000000,0.000000
298340,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201614,2016,14,0,0.000000,0.000000
298341,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201615,2016,15,0,0.000000,0.000000
298342,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201616,2016,16,0,0.000000,0.000000
298343,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201617,2016,17,0,0.000000,0.000000
298344,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201618,2016,18,0,0.000000,0.000000
298345,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201619,2016,19,0,0.000000,0.000000
298346,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201620,2016,20,0,0.000000,0.000000
298347,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201621,2016,21,0,0.000000,0.000000
298348,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201622,2016,22,0,0.000000,0.000000
298349,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201623,2016,23,0,0.000000,0.000000
298350,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201624,2016,24,0,0.000000,0.000000
298351,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201625,2016,25,0,0.000000,0.000000
298352,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201626,2016,26,0,0.000000,0.000000
298353,A01,NaN,PG05,SALESID0001,SITEID0007,ITEM0458,201627,2016,27,0,0.000000,0.000000

## step5. 주차별 계절성 지수 평균 구하기

In [36]:
groupKey3 = ['regionSeg1', 'productSeg2', 'regionSeg3', 'week']

In [37]:
maGroup2 = maGroup.groupby(groupKey3)[["seasonality"]].mean()  ## 2013~2016   4년의 주차별 seasonality평균
maGroup2

                                        seasonality
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1        1.006904
                                  2        0.623015
                                  3        0.634163
                                  4        0.707390
                                  5        0.831923
                                  6        0.594479
                                  7        0.569435
                                  8        0.664967
                                  9        0.568586
                                  10       0.546792
                                  11       0.406323
                                  12       0.590665
                                  13       0.659336
                                  14       0.605134
                                  15       0.681368
                                  16       0.829353
                                  17       0.585114
                                  18       0.483310
                                  19       0.401881
                                  20       0.529287
                                  21       0.851952
                                  22       0.897540
                                  23       0.447698
                                  24       0.477175
                                  25       0.842423
                                  26       0.931523
                                  27       0.933246
                                  28       0.680776
                                  29       0.396731
                                  30       0.320651
...                                             ...
           PG05        SITEID0007 23       0.283876
                                  24       0.382250
                                  25       0.301738
                                  26       0.502661
                                  27       0.465896
                                  28       0.478856
                                  29       0.349431
                                  30       0.490299
                                  31       0.693273
                                  32       0.405099
                                  33       0.538528
                                  34       0.186817
                                  35       0.780463
                                  36       0.657558
                                  37       0.688732
                                  38       0.563814
                                  39       0.228744
                                  40       0.426354
                                  41       0.229354
                                  42       0.274222
                                  43       0.190639
                                  44       0.196869
                                  45       1.189071
                                  46       1.037689
                                  47       0.857042
                                  48       0.895948
                                  49       0.264822
                                  50       0.153068
                                  51       0.233490
                                  52       0.483247

[1820 rows x 1 columns]

In [ ]:
maGroup2.

## step6. 수요예측 구하기

In [ ]:
groupKey4 = ['regionSeg1', 'productSeg2', 'regionSeg3', 'productSeg3']

In [ ]:
maGroup3 = maGroup.groupby(groupKey3).apply(minmaxweek)
maGroup3

In [66]:
def recent4Fcst (inputdf):
    
    inputdf.reset_index(drop = True, inplace = True)
    preweek1 = int(inputdf.loc[len(inputdf)-1].values[9])
    preweek2 = int(inputdf.loc[len(inputdf)-2].values[9])
    preweek3 = int(inputdf.loc[len(inputdf)-3].values[9])
    preweek4 = int(inputdf.loc[len(inputdf)-4].values[9])

    inputdf.loc[len(inputdf)] = list(inputdf.loc[0].values)

    # 식에 의해서 nan값이 나오게
    inputdf["fcst"] = (preweek1+preweek2+preweek3+preweek4)/4
    
    for i in range(len(inputdf))
        if (inputdf.loc[i] < inputdf.loc[(len(inputdf))]):
            inputdf["fcst"] = 0
    
    return inputdf

SyntaxError: invalid syntax (<ipython-input-66-e2366fa6be80>, line 13)

In [62]:
magroupData = maGroup.groupby(groupKey3).apply(recent4Fcst)

In [64]:
magroupData.head(200)

                                          regionSeg1  productSeg1 productSeg2  \
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1    0         A01          NaN        PG01
                                       1         A01          NaN        PG01
                                       2         A01          NaN        PG01
                                       3         A01          NaN        PG01
                                       4         A01          NaN        PG01
                                       5         A01          NaN        PG01
                                       6         A01          NaN        PG01
                                       7         A01          NaN        PG01
                                       8         A01          NaN        PG01
                                       9         A01          NaN        PG01
                                       10        A01          NaN        PG01
                                       11        A01          NaN        PG01
                                       12        A01          NaN        PG01
                                       13        A01          NaN        PG01
                                       14        A01          NaN        PG01
                                       15        A01          NaN        PG01
                                       16        A01          NaN        PG01
                                       17        A01          NaN        PG01
                                       18        A01          NaN        PG01
                                       19        A01          NaN        PG01
                                       20        A01          NaN        PG01
                                       21        A01          NaN        PG01
                                       22        A01          NaN        PG01
                                       23        A01          NaN        PG01
                                       24        A01          NaN        PG01
                                       25        A01          NaN        PG01
                                       26        A01          NaN        PG01
                                       27        A01          NaN        PG01
                                       28        A01          NaN        PG01
                                       29        A01          NaN        PG01
...                                              ...          ...         ...
                                  3    45        A01          NaN        PG01
                                       46        A01          NaN        PG01
                                       47        A01          NaN        PG01
                                       48        A01          NaN        PG01
                                       49        A01          NaN        PG01
                                       50        A01          NaN        PG01
                                       51        A01          NaN        PG01
                                       52        A01          NaN        PG01
                                       53        A01          NaN        PG01
                                       54        A01          NaN        PG01
                                       55        A01          NaN        PG01
                                       56        A01          NaN        PG01
                                       57        A01          NaN        PG01
                                       58        A01          NaN        PG01
                                       59        A01          NaN        PG01
                                       60        A01          NaN        PG01
                                       61        A01          NaN        PG01
                                       62        A01          NaN        PG01
                                  4    0         A01          NaN        PG01
                                       1         A01          NaN        PG01
                                       2         A01          NaN        PG01
                                       3         A01          NaN        PG01
                                       4         A01          NaN        PG01
                                       5         A01          NaN        PG01
                                       6         A01          NaN        PG01
                                       7         A01          NaN        PG01
                                       8         A01          NaN        PG01
                                       9         A01          NaN        PG01
                                       10        A01          NaN        PG01
                                       11        A01          NaN        PG01

                                            regionSeg2  regionSeg3  \
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1    0   SALESID0001  SITEID0001
                                       1   SALESID0001  SITEID0001
                                       2   SALESID0001  SITEID0001
                                       3   SALESID0001  SITEID0001
                                       4   SALESID0001  SITEID0001
                                       5   SALESID0001  SITEID0001
                                       6   SALESID0001  SITEID0001
                                       7   SALESID0001  SITEID0001
                                       8   SALESID0001  SITEID0001
                                       9   SALESID0001  SITEID0001
                                       10  SALESID0001  SITEID0001
                                       11  SALESID0001  SITEID0001
                                       12  SALESID0001  SITEID0001
                                       13  SALESID0001  SITEID0001
                                       14  SALESID0001  SITEID0001
                                       15  SALESID0001  SITEID0001
                                       16  SALESID0001  SITEID0001
                                       17  SALESID0001  SITEID0001
                                       18  SALESID0001  SITEID0001
                                       19  SALESID0001  SITEID0001
                                       20  SALESID0001  SITEID0001
                                       21  SALESID0001  SITEID0001
                                       22  SALESID0001  SITEID0001
                                       23  SALESID0001  SITEID0001
                                       24  SALESID0001  SITEID0001
                                       25  SALESID0001  SITEID0001
                                       26  SALESID0001  SITEID0001
                                       27  SALESID0001  SITEID0001
                                       28  SALESID0001  SITEID0001
                                       29  SALESID0001  SITEID0001
...                                                ...         ...
                                  3    45  SALESID0001  SITEID0001
                                       46  SALESID0001  SITEID0001
                                       47  SALESID0001  SITEID0001
                                       48  SALESID0001  SITEID0001
                                       49  SALESID0001  SITEID0001
                                       50  SALESID0001  SITEID0001
                                       51  SALESID0001  SITEID0001
                                       52  SALESID0001  SITEID0001
                                       53  SALESID0001  SITEID0001
                                       54  SALESID0001  SITEID0001
                                       55  SALESID0001  SITEID0001
                                       56  SALESID0001  SITEID0001
                                       57  SALESID0001  SITEID0001
                                       58  SALESID0001  SITEID0001
                                       59  SALESID0001  SITEID0001
                                       60  SALESID0001  SITEID0001
                                       61  SALESID0001  SITEID0001
                                       62  SALESID0001  SITEID0001
                                  4    0   SALESID0001  SITEID0001
                                       1   SALESID0001  SITEID0001
                                       2   SALESID0001  SITEID0001
                                       3   SALESID0001  SITEID0001
                                       4   SALESID0001  SITEID0001
                                       5   SALESID0001  SITEID0001
                                       6   SALESID0001  SITEID0001
                                       7   SALESID0001  SITEID0001
                                       8   SALESID0001  SITEID0001
                                       9   SALESID0001  SITEID0001
                                       10  SALESID0001  SITEID0001
                                       11  SALESID0001  SITEID0001

                                          productSeg3  yearweek  year  week  \
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1    0     ITEM0001    201301  2013     1
                                       1     ITEM0001    201401  2014     1
                                       2     ITEM0001    201501  2015     1
                                       3     ITEM0001    201601  2016     1
                                       4     ITEM0002    201301  2013     1
                                       5     ITEM0002    201401  2014     1
                                       6     ITEM0002    201501  2015     1
                                       7     ITEM0002    201601  2016     1
                                       8     ITEM0003    201401  2014     1
                                       9     ITEM0003    201501  2015     1
                                       10    ITEM0003    201601  2016     1
                                       11    ITEM0004    201301  2013     1
                                       12    ITEM0004    201401  2014     1
                                       13    ITEM0004    201501  2015     1
                                       14    ITEM0004    201601  2016     1
                                       15    ITEM0005    201301  2013     1
                                       16    ITEM0005    201401  2014     1
                                       17    ITEM0005    201501  2015     1
                                       18    ITEM0005    201601  2016     1
                                       19    ITEM0006    201301  2013     1
                                       20    ITEM0006    201401  2014     1
                                       21    ITEM0006    201501  2015     1
                                       22    ITEM0006    201601  2016     1
                                       23    ITEM0106    201301  2013     1
                                       24    ITEM0106    201401  2014     1
                                       25    ITEM0106    201501  2015     1
                                       26    ITEM0106    201601  2016     1
                                       27    ITEM0107    201301  2013     1
                                       28    ITEM0107    201401  2014     1
                                       29    ITEM0107    201501  2015     1
...                                               ...       ...   ...   ...
                                  3    45    ITEM0112    201403  2014     3
                                       46    ITEM0112    201503  2015     3
                                       47    ITEM0112    201603  2016     3
                                       48    ITEM0113    201503  2015     3
                                       49    ITEM0113    201603  2016     3
                                       50    ITEM0114    201503  2015     3
                                       51    ITEM0114    201603  2016     3
                                       52    ITEM0115    201503  2015     3
                                       53    ITEM0115    201603  2016     3
                                       54    ITEM0116    201603  2016     3
                                       55    ITEM0117    201603  2016     3
                                       56    ITEM0118    201603  2016     3
                                       57    ITEM0119    201603  2016     3
                                       58    ITEM0120    201603  2016     3
                                       59    ITEM0121    201603  2016     3
                                       60    ITEM0122    201503  2015     3
                                       61    ITEM0122    201603  2016     3
                                       62    ITEM0001    201303  2013     3
                                  4    0     ITEM0001    201304  2013     4
                                       1     ITEM0001    201404  2014     4
                                       2     ITEM0001    201504  2015     4
                                       3     ITEM0001    201604  2016     4
                                       4     ITEM0002    201304  2013     4
                                       5     ITEM0002    201404  2014     4
                                       6     ITEM0002    201504  2015     4
                                       7     ITEM0002    201604  2016     4
                                       8     ITEM0003    201304  2013     4
                                       9     ITEM0003    201404  2014     4
                                       10    ITEM0003    201504  2015     4
                                       11    ITEM0003    201604  2016     4

                                           qty         MA  seasonality  fcst
regionSeg1 productSeg2 regionSeg3 week
A01        PG01        SITEID0001 1    0     1   1.000000     1.000000  1.75
                                       1     0   0.000000     0.000000  1.75
                                       2     0   0.250000     0.000000  1.75
                                       3     0   0.000000     0.000000  1.75
                                       4    16   4.000000     4.000000  1.75
                                       5     0   0.000000     0.000000  1.75
                                       6     0   0.000000     0.000000  1.75
                                       7     0   0.000000     0.000000  1.75
                                       8     0   0.000000     0.000000  1.75
                                       9     0   0.000000     0.000000  1.75
                                       10    0   0.000000     0.000000  1.75
                                       11    2   0.500000     4.000000  1.75
                                       12    0   0.000000     0.000000  1.75
                                       13    0   0.000000     0.000000  1.75
                                       14    0   0.000000     0.000000  1.75
                                       15   11   2.750000     4.000000  1.75
                                       16    0   0.000000     0.000000  1.75
                                       17    0   0.000000     0.000000  1.75
                                       18    0   0.000000     0.000000  1.75
                                       19    4   1.000000     4.000000  1.75
                                       20    0   0.000000     0.000000  1.75
                                       21    0   0.000000     0.000000  1.75
                                       22    0   0.000000     0.000000  1.75
                                       23    1   0.250000     4.000000  1.75
                                       24    2   1.000000     2.000000  1.75
                                       25   14  11.000000     1.272727  1.75
                                       26    0   0.000000     0.000000  1.75
                                       27    5   1.250000     4.000000  1.75
                                       28   15  16.000000     0.937500  1.75
                                       29  124  95.250000     1.301837  1.75
...                                        ...        ...          ...   ...
                                  3    45   13  20.000000     0.650000  0.25
                                       46    1   3.500000     0.285714  0.25
                                       47    0   1.000000     0.000000  0.25
                                       48   12  16.000000     0.750000  0.25
                                       49    0   0.000000     0.000000  0.25
                                       50    0   0.000000     0.000000  0.25
                                       51    0   0.000000     0.000000  0.25
                                       52    0   1.000000     0.000000  0.25
                                       53    0   0.500000     0.000000  0.25
                                       54    7   8.750000     0.800000  0.25
                                       55   38  89.000000     0.426966  0.25
                                       56    2  10.500000     0.190476  0.25
                                       57   27  16.500000     1.636364  0.25
                                       58    1   3.000000     0.333333  0.25
                                       59    0   0.000000     0.000000  0.25
                                       60    0   0.000000     0.000000  0.25
                                       61    0   1.750000     0.000000  0.25
                                       62    1   0.666667     1.500000  0.25
                                  4    0     3   1.250000     2.400000  1.25
                                       1     0   0.000000     0.000000  1.25
                                       2     0   0.000000     0.000000  1.25
                                       3     0   0.000000     0.000000  1.25
                                       4    33  21.500000     1.534884  1.25
                                       5     0   0.000000     0.000000  1.25
                                       6     0   0.000000     0.000000  1.25
                                       7     0   0.000000     0.000000  1.25
                                       8     3   2.000000     1.500000  1.25
                                       9     0   0.000000     0.000000  1.25
                                       10    0   0.000000     0.000000  1.25
                                       11    0   0.000000     0.000000  1.25

[200 rows x 13 columns]

In [65]:
eachData = magroupData.get_group(list(magroupData.groups)[0])  # 그룹 단위 데이터 중 하나를 가져와서 이상 데이터 여부 확인

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [56]:
eachData

,regionSeg1,productSeg1,productSeg2,regionSeg2,regionSeg3,productSeg3,yearweek,year,week,qty,MA,seasonality
0,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201301,2013,1,1,1.00,1.000000
52,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201401,2014,1,0,0.00,0.000000
104,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201501,2015,1,0,0.25,0.000000
156,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0001,201601,2016,1,0,0.00,0.000000
183,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201301,2013,1,16,4.00,4.000000
235,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201401,2014,1,0,0.00,0.000000
287,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201501,2015,1,0,0.00,0.000000
339,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0002,201601,2016,1,0,0.00,0.000000
417,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0003,201401,2014,1,0,0.00,0.000000
469,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0003,201501,2015,1,0,0.00,0.000000
521,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0003,201601,2016,1,0,0.00,0.000000
548,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0004,201301,2013,1,2,0.50,4.000000
600,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0004,201401,2014,1,0,0.00,0.000000
652,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0004,201501,2015,1,0,0.00,0.000000
704,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0004,201601,2016,1,0,0.00,0.000000
731,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0005,201301,2013,1,11,2.75,4.000000
783,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0005,201401,2014,1,0,0.00,0.000000
835,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0005,201501,2015,1,0,0.00,0.000000
887,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0005,201601,2016,1,0,0.00,0.000000
914,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0006,201301,2013,1,4,1.00,4.000000
966,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0006,201401,2014,1,0,0.00,0.000000
1018,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0006,201501,2015,1,0,0.00,0.000000
1070,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0006,201601,2016,1,0,0.00,0.000000
1097,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0106,201301,2013,1,1,0.25,4.000000
1149,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0106,201401,2014,1,2,1.00,2.000000
1201,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0106,201501,2015,1,14,11.00,1.272727
1253,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0106,201601,2016,1,0,0.00,0.000000
1280,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0107,201301,2013,1,5,1.25,4.000000
1332,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0107,201401,2014,1,15,16.00,0.937500
1384,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0107,201501,2015,1,124,95.25,1.301837
...,...,...,...,...,...,...,...,...,...,...,...,...
1463,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0108,201301,2013,1,1,0.25,4.000000
1515,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0108,201401,2014,1,2,4.00,0.500000
1567,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0108,201501,2015,1,15,12.75,1.176471
1619,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0108,201601,2016,1,0,0.00,0.000000
1668,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0109,201401,2014,1,9,6.25,1.440000
1720,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0109,201501,2015,1,9,8.75,1.028571
1772,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0109,201601,2016,1,0,2.00,0.000000
1822,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0110,201401,2014,1,68,59.00,1.152542
1874,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0110,201501,2015,1,96,95.00,1.010526
1926,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0110,201601,2016,1,32,41.25,0.775758
1973,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0111,201401,2014,1,9,5.00,1.800000
2025,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0111,201501,2015,1,10,10.75,0.930233
2077,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0111,201601,2016,1,1,3.00,0.333333
2125,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0112,201401,2014,1,23,17.50,1.314286
2177,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0112,201501,2015,1,9,4.25,2.117647
2229,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0112,201601,2016,1,1,1.25,0.800000
2290,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0113,201501,2015,1,21,15.25,1.377049
2342,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0113,201601,2016,1,0,0.00,0.000000
2404,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0114,201501,2015,1,0,0.00,0.000000
2456,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0114,201601,2016,1,0,0.00,0.000000
2518,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0115,201501,2015,1,2,1.00,2.000000
2570,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0115,201601,2016,1,0,1.00,0.000000
2642,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0116,201601,2016,1,15,12.00,1.250000
2715,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0117,201601,2016,1,149,88.50,1.683616
2786,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0118,201601,2016,1,15,11.50,1.304348
2827,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0119,201601,2016,1,17,10.75,1.581395
2889,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0120,201601,2016,1,5,2.50,2.000000
2948,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0121,201601,2016,1,0,0.00,0.000000
2980,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0122,201501,2015,1,0,0.00,0.000000
3032,A01,NaN,PG01,SALESID0001,SITEID0001,ITEM0122,201601,2016,1,2,1.50,1.333333

In [ ]:
my_dict = {"a": [1], "b": [1], "c": [1]}
display(pd.DataFrame(my_dict))

In [ ]:
my_dict